# {{ pillar['message_do_not_modify'] }}
# this must be the same as for your elasticsearch cluster
cluster.name: {{ pillar['elasticsearch']['cluster']['name'] }}
node.name: "graylog2-server"
node.master: false
node.data: false

# use a different port if you run multiple elasticsearch nodes on one machine
transport.tcp.port: 9350
# we don't need to run the embedded HTTP server here
http.enabled: false


################################## Discovery ##################################
# Set to ensure a node sees N other master eligible nodes to be considered
# operational within the cluster. Set this option to a higher value (2-4)
# for large clusters (>3 nodes):
#
# discovery.zen.minimum_master_nodes: 1

# discovery.zen.ping.timeout: 3s
discovery:
  zen:
    ping:
      multicast:
        enabled: false
      unicast:
        hosts: [
{%- for node in cluster['nodes'] -%}
"{{ cluster['nodes'][node]['private'] }}"{% if not loop.last %}, {% endif -%}
{%- endfor %}]
