{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Quan Tong Anh <quanta@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
{%- set timeout = 30 -%}
shinken_receiver_procs:
  description: Shinken Receiver Deamon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:10 -u shinken -C shinken-receive -a /etc/shinken/receiver.conf"

shinken_receiver_port:
  description: Shinken Receiver Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 7773 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - shinken_receiver_procs

shinken_receiver_port_remote:
  description: Shinken Receiver Remote Port
  check: check_tcp!7773
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - shinken_receiver_port
