{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
{%- from 'uwsgi/nrpe/instance.jinja2' import uwsgi_instance with context -%}
{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance_prefix with context -%}
{%- set deployment = 'sentry' %}
{{ uwsgi_instance(deployment) }}
{{ postgresql_instance_prefix(deployment) }}
{{ nginx_instance(deployment, http_uri='/login/', extra_dependencies=('sentry_uwsgi_worker', 'sentry_postgresql')) }}
