#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

# Send test sentry alert

set -o errexit

# log start stop time to syslog
source /usr/local/share/salt_common.sh
log_start_script "$@"
trap "log_stop_script \$?" EXIT

sentry_dsn=$(cat "{{ dsn_file }}")

su www-data -s /bin/bash \
    -c "raven test $sentry_dsn > /dev/null"
