# {{ pillar['message_do_not_modify'] }}

fileserver_backend:
  - git
  - roots

gitfs_remotes:
{% for repo in pillar['salt_master']['gitfs_remotes'] %}
  - {{ repo }}
{%- endfor %}

log_file: file:///dev/log
log_level: debug
log_fmt_logfile: '%(asctime)-15s salt-master[%(process)d] %(name)s: %(message)s'
log_datefmt_logfile: '%b %d %H:%M:%S'
