
{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <patate@fastmail.cn>
Maintainer: Bruno Clermont <patate@fastmail.cn>
-#}
{#- empty is True if no roles (or roles.absent) are applied -#}
{%- set local = {
    'empty': True,
    'saltenv': salt['pillar.get']('branch', 'base'),
    'roles': salt['pillar.get']('roles', []),
    'global_roles': salt['pillar.get']('global_roles', [])
    } -%}
{#-
 WARNING: The following logic of jinja2 code is re-implemented into python
 module in ``common.global_roles`` and ``common.saltenv``.
 So, any change in it's logic must be applied in both.
 -#}
{#- 'master' branch is automatically mapped as 'base' by salt master.
    salt minion 'local mode don't support gitfs and multiple branches, force to
    use 'base' environment. -#}
{%- if local.saltenv == 'master' or opts['file_client'] == 'local' -%}
    {%- do local.update({'saltenv': 'base'}) -%}
{%- endif -%}
{%- if local.global_roles in ('', []) -%}
    {%- do local.update({'global_roles': []}) -%}
    {%- for role_dir in salt['cp.list_master_dirs'](local.saltenv, 'roles') -%}
        {#- cp.list_master_dirs return 'roles' which is root dir, ignore.
            only consider sub-directories -#}
        {%- if '/' in role_dir -%}
            {%- set role = role_dir.split('/')[1] -%}
            {#- append the roles/*$rolename* -#}
            {%- if role not in local.global_roles -%}
                {%- do local.global_roles.append(role) -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{{ local.saltenv }}:
  {#- target all minions #}
  '*':
{%- if not local.roles and not local.global_roles -%}
    {#- do nothing #}
    - salt.noop
{%- else -%}
    {#- list all minion's role and absent role it's not member of -#}
    {%- for role in local.global_roles -%}
        {%- if role in local.roles -%}
            {%- do local.update({'empty': False}) %}
    - roles.{{ role }}
        {%- elif salt['pillar.get']('roles_absent', False) -%}
            {%- do local.update({'empty': False}) %}
    - roles.{{ role }}.absent
        {%- endif -%}
    {%- endfor -%}
    {#- it's possible that a minion don't have any roles, so do nothing -#}
    {%- if local.empty %}
    - salt.noop
    {%- endif -%}
{%- endif -%}
