{# salt gitfs rename master branch into base. which is also the default value #}
{% if pillar['branch'] == 'master' %}base{% else %}{{ pillar['branch']|default('base') }}{% endif %}:
  '*':
{% for role in pillar['global_roles'] %}
{% if role in pillar['roles'] %}
    - roles.{{ role }}
{% else %}
    - roles.{{ role }}.absent
{% endfor %}
