{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
[uwsgi]
xml = false
ini = false
yaml = true
json = false
sqlite3 = false
zeromq = false
snmp = false
spooler = true
embedded = true
ssl = false
udp = true
multicast = false
threading = true
minterpreters = true
matheval = false
async = true
ldap = false
pcre = false
routing = false
alarm = false
ipv6 = false
debug = false
unbit = false
{%- if rack|default(False) %}
rack = true
{%- endif -%}
{%- if salt['cmd.has_exec']('php-config') %}
php = true
{%- endif %}
syslog = true
xml_implementation = libxml2
yaml_implementation = auto
malloc_implementation = libc
extras =
plugins =
bin_name = uwsgi
append_version =
plugin_dir = .
embedded_plugins = python,
{%- if rack|default(False) -%}
    rack,
{%- endif -%}
{%- if salt['cmd.has_exec']('php-config') -%}
    php,
{%- endif -%}
    syslog, gevent, ping, nagios, carbon, signal
as_shared_library = false
locking = auto
event = auto
timer = auto
filemonitor = auto
blacklist =
whitelist =
embed_files =
embed_config =
