{%- set ksm = grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
uwsgi:
  threaded-logger: True
  logger: syslog:uwsgi
{%- if salt['pillar.get']('debug', False) %}
  req-logger: syslog:uwsgi
{%- endif -%}
{%- if salt['pillar.get']('graphite_address', False) %}
  carbon-id: emperor
  carbon: {{ salt['pillar.get']('graphite_address', False) }}:2003
{%- endif %}
  emperor: /etc/uwsgi
  no-orphans: True
  die-on-term: True
{%- if ksm %}
  ksm: 10
{%- endif -%}
