{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <patate@fastmail.cn>
Maintainer: Bruno Clermont <patate@fastmail.cn>

To use this template, extends it and define blocks that you want to replace,
This template need:
- pillar data for this app
- context variable(s): chdir, appname, [wsgi_file], [virtualenv], [django_settings], [module]
[something] means optional
-#}
# {{ pillar['message_do_not_modify'] }}
{%- set web = pillar[appname] %}
[uwsgi]
{%- block header %}
{%- endblock %}
master = true
processes = {{ web['workers']|default(2) }}
harakiri = {{ web['timeout']|default(60) }}
harakiri-verbose = true
{%- if django_settings|default(False) %}
env = DJANGO_SETTINGS_MODULE={{ django_settings }}
{%- endif %}
{%- if module|default(False) %}
module = {{ module }}
{%- endif %}
{%- if web['cheaper']|default(False) %}
    {%- if web['cheaper'] > 0 %}
cheaper = {{ web['cheaper'] }}
    {%- else %}
cheap = true
    {%- endif %}
    {%- if web['workers'] == 1 and web['cheaper'] == 0 %}
idle = {{ web['idle']|default(300) }}
    {%- endif %}
{%- endif %}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
ksm = 20
{%- endif %}
lazy-apps = true
uid = www-data
gid = www-data
procname = {{ appname }}-worker
procname-master = {{ appname }}-master
socket = /var/lib/uwsgi/{{ appname }}.sock
stats = /var/lib/uwsgi/{{ appname }}-stats.sock
chdir = {{ chdir }}
{%- if wsgi_file|default(False) %}
wsgi-file = {{ wsgi_file }}
{%- endif %}
{%- if virtualenv|default(False) %}
virtualenv = {{ virtualenv }}
{%- endif %}
threaded-logger = true
no-orphans = true
logger = syslog:uwsgi-{{ appname }}
    {%- if salt['pillar.get']('debug', False) %}
req-logger = syslog:uwsgi-{{ appname }}
    {%- endif %}
{%- if 'graphite_address' in pillar %}
carbon-id = {{ appname }}
    {%- if salt['dig.check_ip'](pillar['graphite_address']) %}
carbon = {{ pillar['graphite_address'] }}:2003
    {%- else -%}
        {%- set resolved_ip = salt['dig.A'](pillar['graphite_address']) -%}
        {%- if resolved_ip %}
carbon = {{ resolved_ip[0] }}:2003
        {%- else %}
# The domain name {{ pillar['graphite_address'] }} in pillar['graphite_address'] is invalid. carbon support is disabled.
        {%- endif -%}
    {%- endif -%}	
{%- endif %}
{%- if php_settings|default(False) %}
{{ php_settings }}
{%- endif %}
{%- block footer %}
{%- endblock %}
