{#- Usage of this is governed by a license that can be found in doc/license.rst

To use this template, extends it and define blocks that you want to replace,
This template need:
- pillar data for this app
- context variable(s): chdir, appname, pillar_prefix, [wsgi_file], [virtualenv], [django_settings], [module], [uid], [gid]
[something] means optional
-#}

{%- set pillar_prefix = pillar_prefix if pillar_prefix|default(False) else appname %}
{%- set cheaper = salt['pillar.get'](pillar_prefix + ':cheaper', False) -%}
{%- set workers = salt['pillar.get'](pillar_prefix + ':workers', 1) -%}
{%- set timeout = salt['pillar.get'](pillar_prefix + ':timeout', 60) -%}
{%- set idle = salt['pillar.get'](pillar_prefix + ':idle', 300) -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

uwsgi:
{%- block header %}
{%- endblock %}
  master: true
  workers: {{ workers }}
  harakiri: {{ timeout }}
{%- set debug = salt['pillar.get']('debug', False) %}
  harakiri-verbose: {% if debug %}false{% else %}true{% endif %}
{%- if django_settings|default(False) %}
  env: DJANGO_SETTINGS_MODULE={{ django_settings }}
{%- endif %}
{%- if module|default(False) %}
  module: {{ module }}
{%- endif %}
{%- if cheaper %}
  {%- if cheaper > 0 %}
  cheaper: {{ cheaper }}
  {%- else %}
  cheap: true
  {%- endif %}
  {%- if workers == 1 and cheaper == 0 %}
  idle: {{ idle }}
  {%- endif %}
{%- endif %}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
  ksm: 20
{%- endif %}
  lazy-apps: true
  uid: {{ uid|default("www-data") }}
  gid: {{ gid|default("www-data") }}
  procname: {{ appname }}-worker
  procname-master: {{ appname }}-master
  socket: /var/lib/uwsgi/{{ appname }}.sock
  stats: /var/lib/uwsgi/{{ appname }}-stats.sock
  chdir: {{ chdir }}
{%- if wsgi_file|default(False) %}
  wsgi-file: {{ wsgi_file }}
{%- endif %}
{%- if virtualenv|default(False) %}
  virtualenv: {{ virtualenv }}
{%- endif %}
  threaded-logger: true
  no-orphans: true
  logger: syslog:uwsgi-{{ appname }}
{%- if debug %}
  req-logger: syslog:uwsgi-{{ appname }}
{%- endif %}
{%- set graphite_address = salt['pillar.get']('graphite_address', False) %}
{%- if graphite_address %}
  carbon-id: {{ appname }}
  {%- if salt['dig.check_ip'](graphite_address) %}
  carbon: {{ graphite_address }}:2003
  {%- else %}
    {%- set resolved_ip = salt['dig.A'](graphite_address) %}
    {%- if resolved_ip %}
  carbon: {{ resolved_ip[0] }}:2003
    {%- else %}
{#-
  The domain name {{ graphite_address }} is invalid. carbon support is disabled.
#}
    {%- endif %}
  {%- endif %}
{%- endif %}
  chmod-socket: 660
  chown-socket: {{ uid|default('www-data') }}:www-data
{%- if php_settings|default(False) %}
{{ php_settings }}
{%- endif %}
{%- block footer %}
{%- endblock %}
