{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
djangopypi2_backup_file_procs:
  description: djangopypi2 Backup Files Process
  command: "/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a '/usr/local/bin/backup-file djangopypi2 /var/lib/deployments/djangopypi2 media'"

djangopypi2_backup_postgres_procs:
  description: djangopypi2 Backup PostgreSQL Database Process
  command: '/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a "/usr/local/bin/backup-postgresql {{ salt["pillar.get"]("djangopypi2:db:name", "djangopypi2") }}"'

djangopypi2_backup_postgres_age:
  description: djangopypi2 PostgreSQL Database Backup's Age
  command: /usr/lib/nagios/plugins/check_backup.py --formula=djangopypi2.backup --check=djangopypi2_backup_postgres_age
  check_interval: {{ 12 * 60 }} {#- 12 hours  #}
  freshness_threshold: {{ ((12 * 60) + 10) * 60 }} {#- 12 hours + 10 minutes #}
  timeout: 55
  arguments:
    facility: postgresql-djangopypi2
    warning: {{ salt['pillar.get']('backup:age', 48) }}
  dependencies:
    {#- no alert if load is too high #}
    - load_average

djangopypi2_backup_file_age:
  description: djangopypi2 File Backup's Age
  command: /usr/lib/nagios/plugins/check_backup.py --formula=djangopypi2.backup --check=djangopypi2_backup_file_age
  check_interval: {{ 12 * 60 }} {#- 12 hours  #}
  freshness_threshold: {{ ((12 * 60) + 10) * 60 }} {#- 12 hours + 10 minutes #}
  timeout: 55
  arguments:
    facility: djangopypi2
    warning: {{ salt['pillar.get']('backup:age', 48) }}
  dependencies:
    {#- no alert if load is too high #}
    - load_average
