#!/bin/sh
# {{ salt['pillar.get']('message_do_not_modify') }}
# Usage of this is governed by a license that can be found in doc/license.rst

count=`grep -vc '^[\s]*\(#\|$\)' /etc/hosts.deny`
echo "denyhosts.blocked $count"
