# {{ pillar['message_do_not_modify'] }}

external_auth: {{ external_auth }}

rest_cherrypy:
  port: 8000
  debug: True
  static: /usr/local/salt-ui/
{% if not 'ssl' in pillar['salt_master'] %}
  ssl_crt: /etc/pki/tls/certs/{{ pillar['salt_master']['hostname'] }}.crt
  ssl_key: /etc/pki/tls/certs/{{ pillar['salt_master']['hostname'] }}.key
{% else %}
  ssl_crt: {{ pillar['salt_master']['ssl']['crt'] }}
  ssl_key: {{ pillar['salt_master']['ssl']['key'] }}
{% endif %}
