# {{ pillar['message_do_not_modify'] }}

{#
 There is a security issue with salt:
 https://github.com/saltstack/salt/issues/4281
 the permissions application is pretty much random.
 Until that issue is fixed, each users will have access to everything.
 #}
external_auth:
{% for auth_type in external_auth %}
  {{ auth_type }}:
 {% for username in external_auth[auth_type] %}
    {{ username }}:
      - .*
 {% endfor %}
{% endfor %}

rest_cherrypy:
  port: 8000
  debug: True
  static: /usr/local/salt-ui/
{% if not 'ssl' in pillar['salt_master']['ssl']|default(False) %}
  ssl_crt: /etc/pki/tls/certs/{{ pillar['salt_master']['hostname'] }}.crt
  ssl_key: /etc/pki/tls/certs/{{ pillar['salt_master']['hostname'] }}.key
{% else %}
  ssl_crt: /etc/ssl/{{ pillar['salt_master']['ssl'] }}/ca.crt
  ssl_key: /etc/ssl/{{ pillar['salt_master']['ssl'] }}/server.ssl
{% endif %}
