# {{ pillar['message_do_not_modify'] }}

{% if ssl|default(False) %}
server {
    listen 80;
    server_name {{ hostname }};
    return 301 https://{{ hostname }}$request_uri;
}
{% endif %}

server {
{% if ssl|default(False) %}
    listen 443 ssl;
    ssl_certificate {{ ssl['key'] }};
    ssl_certificate_key {{ ssl['key'] }};
    ssl_client_certificate {{ ssl['crt'] }};
    ssl_ciphers ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL;
{% else %}
    listen 80;
{% endif %}

    server_name {{ hostname }};

    root /usr/local/salt-ui;
    index index.html;

    expires max;
    autoindex off;

    location = / {
        proxy_pass http://127.0.0.1:8000;
        proxy_read_timeout 120s;
        expires 0;
    }

{% for resource in ('/login', '/minions', '/jobs') %}
    location {{ resource }} {
        proxy_pass http://127.0.0.1:8000;
        proxy_read_timeout 120s;
        expires 0;
    }
{% endfor %}
}
