{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- macro postgresql_instance(formula, dbname, password, username=None, check_empty=True) -%}
    {%- set timeout = 45 %}
{{ dbname }}_postgresql:
  description: {{ dbname|capitalize }} PostgreSQL Database
  command: /usr/lib/nagios/plugins/check_pgsql -H 127.0.0.1 -P 5432 -d {{ dbname }} -l {{ username|default(dbname, boolean=True) }} -p {{ password }} --timeout={{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - postgresql_procs

{{ dbname }}_postgresql_encoding:
  description: {{ dbname|capitalize }} PostgreSQL Database Encoding
  command: sudo -u postgres /usr/lib/nagios/plugins/check_psql_encoding.py --formula={{ formula }} --check={{ dbname }}_postgresql_encoding
  timeout: {{ timeout }}
  dependencies:
    - postgresql_procs
  arguments:
    name: {{ dbname }}
    encoding: UTF8

{%- if check_empty %}
{{ dbname }}_postgresql_not_empty:
  description: {{ formula|capitalize }} PostgreSQL Database "{{ dbname }}" Is Not Empty
  command: /usr/lib/nagios/plugins/check_pgsql_query.py --formula={{ formula }} --check={{ dbname }}_postgresql_not_empty
  timeout: {{ timeout }}
  arguments:
    passwd: {{ password }}
    user: {{ username|default(dbname, boolean=True) }}
    host: localhost
    database: {{ dbname }}
    query: "select * from information_schema.tables where table_schema = 'public';"
    critical: "1:"
  dependencies:
    - {{ dbname }}_postgresql
{%- endif  %}
{%- endmacro %}

{%- macro postgresql_instance_prefix(deployment, prefix=None, check_empty=True) -%}
    {%- if not prefix -%}
        {%- set prefix = deployment -%}
    {%- endif %}
    {%- set formula = deployment %}
    {%- set dbname = salt['pillar.get'](prefix + ':db:name', deployment)  %}
    {%- set password = salt['password.pillar'](prefix + ':db:password', 10) %}
    {%- set username = salt['pillar.get'](prefix + ':db:username', deployment)  %}
    {{ postgresql_instance(formula, dbname, password, username, check_empty) }}
{%- endmacro  %}
