{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}

enabled = True

host = 127.0.0.1:55672
user = {{ pillar['rabbitmq']['monitor']['user'] }}
password = {{ pillar['rabbitmq']['monitor']['password'] }}
