{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

enabled = True

host = 127.0.0.1:55672
user = {{ salt['pillar.get']('rabbitmq:monitor:user') }}
password = {{ salt['pillar.get']('rabbitmq:monitor:password', None)|default(salt['password.pillar']('rabbitmq:monitor:password'), boolean=True) }}
