{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 15 -%}
{%- set listen_port = salt['pillar.get']('varnish:listen_port', 80) -%}
{%- set listen_address = salt['pillar.get']('varnish:listen_address', '')|default('127.0.0.1', boolean=True) -%}
{%- set monitor = salt["pillar.get"]("varnish:monitor", False) %}
{%- set monitor_hostname = salt["pillar.get"]("varnish:monitor:hostname", False) %}
{%- set monitor_response = salt["pillar.get"]("varnish:monitor:response", False) %}

# {{ salt['pillar.get']('message_do_not_modify') }}

varnish_procs:
  description: Varnish Daemon Process
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -a 'varnishd' -u root"

varnish_port:
  description: Varnish HTTP Port
  command: /usr/lib/nagios/plugins/check_tcp -H {{ listen_address }} -p {{ listen_port }} -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - varnish_procs

varnish_status:
  description: Varnish HTTP status
  command: >
      /usr/lib/nagios/plugins/check_http -I {{ listen_address }} -p {{ listen_port }} -t {{ timeout }}
{%- if monitor %}
  {%- if monitor_hostname %} -H "{{ monitor_hostname }}"{% endif %}
  {%- if monitor_response in monitor %} -e "{{ monitor_response }}"{% endif %}
{%- endif %}
  timeout: {{ timeout }}
  dependencies:
    - varnish_port

{%- if listen_address == '127.0.0.1' or '::' in listen_address %}
  {%- set listen_address_ipv6 = '::1' if listen_address == '127.0.0.1' else listen_address %}
varnish_port_ipv6:
  description: Varnish HTTP Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H {{ listen_address_ipv6 }} -p {{ listen_port }} -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - varnish_procs

varnish_status_ipv6:
  description: Varnish HTTP status IPv6
  command: >
      /usr/lib/nagios/plugins/check_http -I {{ listen_address_ipv6 }} -p {{ listen_port }} -t {{ timeout }}
{%- if monitor %}
  {%- if monitor_hostname %} -H "{{ monitor_hostname }}"{% endif %}
  {%- if monitor_response in monitor %} -e "{{ monitor_response }}"{% endif %}
{%- endif %}
  timeout: {{ timeout }}
  dependencies:
    - varnish_port_ipv6
{%- endif %}
