{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
{%- set timeout = 15 -%}
{%- set listen_port = salt['pillar.get']('varnish:listen_port', 80) %}
{%- set listen_address = salt['pillar.get']('varnish:listen_address', '')|default('127.0.0.1', boolean=True) %}
varnish_procs:
  description: Varnish Daemon Process
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -a 'varnishd' -u root"

varnish_port:
  description: Varnish HTTP Port
  command: /usr/lib/nagios/plugins/check_tcp -H {{ listen_address }} -p {{ listen_port }} -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - varnish_procs

varnish_status:
  description: Varnish HTTP status
  command: /usr/lib/nagios/plugins/check_http -I {{ listen_address }} -p {{ listen_port }} -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - varnish_port
