#!/bin/sh
# {{ pillar['message_do_not_modify'] }}

/usr/local/bin/backup-postgresql djangopypi2
/usr/local/bin/backup-pip /usr/local/djangopypi2
NOW=`/bin/date '+%Y-%m-%d-%H_%M_%S'`
tar --xz -cf /tmp/djangopypi2-pkg-$NOW.tar.xz -C /var/lib/deployments/djangopypi2/ media
usr/local/bin/backup_store /tmp/djangopypi2-pkg-$NOW.tar.xz 
