{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

postfix_qmgr:
  description: Postfix Queue manager
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u postfix -C qmgr -a '-l -t fifo -u'"

postfix_pickup:
  description: Postfix Local mail pickup
  command: "/usr/lib/nagios/plugins/check_procs -c 0:1 -u postfix -C pickup -a '-l -t fifo -u -c'"

postfix_master:
  description: Postfix Master
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -C master'

postfix_port_smtp:
  description: Postfix SMTP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 25 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - postfix_master

{%- set ipv6 = salt['monitoring.data']()['ip_addrs6']['public'] %}
{%- if ipv6 %}
postfix_port_smtp_ipv6:
  description: Postfix SMTP Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 25 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - postfix_master
{%- endif %}

{%- set queue_length = salt['pillar.get']('postfix:queue_length', 20) %}
{%- set queue_length_120_percent = queue_length + (queue_length * 20 / 100)|int %}
postfix_queue_length:
  description: Postfix Queue Length
  command: /usr/lib/nagios/plugins/check_mailq -M postfix -w {{ queue_length }} -c {{ queue_length_120_percent }}
  dependencies:
    - postfix_master

{%- if salt['pillar.get']('postfix:spam_filter', False) %}
postfix_port_spam_handler:
  description: Port SPAM handler
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 10025 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - postfix_master
{%- endif %}

{%- if salt['pillar.get']('postfix:ssl', False) %}
postfix_port_smtps:
  description: SMTP over SSL Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 465 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - postfix_master

  {%- if ipv6 %}
postfix_port_smtps_ipv6:
  description: SMTP over SSL Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 465 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - postfix_master
  {%- endif %}
{%- endif %}
