{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
{%- set mine = salt['mine.get']('*', 'monitoring.data') -%}
{%- set pillars_ip = salt['pillar.get']('ip_addresses', []) -%}
# {{ pillar['message_do_not_modify'] }}
*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{%- if grains['osrelease']|float < 12.04 %}
:INPUT ACCEPT [0:0]
{%- endif %}
:OUTPUT ACCEPT [0:0]
COMMIT
*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
COMMIT
*filter
:OUTPUT ACCEPT [0:0]
{%- if salt['pillar.get']('firewall:filter', False) %}
:INPUT {% if grains['virtual'] == 'openvzve' %}ACCEPT{% else %}DROP{% endif %} [0:0]
:FORWARD {% if grains['virtual'] == 'openvzve' %}ACCEPT{% else %}DROP{% endif %} [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i {% if grains['virtual'] == 'openvzve' %}venet0{% else %}eth0{% endif %} -m state --state RELATED,ESTABLISHED -j ACCEPT
{%- for host in mine -%}
  {#- if private == public only process public -#}
  {%- if mine[host]['ip_addrs']['public'] == mine[host]['ip_addrs']['private'] -%}
    {%- set addr_types = ['public'] -%}
  {%- else -%}
    {%- set addr_types = ['public', 'private'] -%}
  {%- endif -%}
  {%- for addr_type in addr_types -%}
    {%- if mine[host]['ip_addrs'][addr_type] not in pillars_ip %}
-A INPUT -i {% if grains['virtual'] == 'openvzve' %}venet0{% else %}eth0{% endif %} -s {{ mine[host]['ip_addrs'][addr_type] }}/32 -j ACCEPT
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
{%- for host in pillars_ip %}
-A INPUT -i {% if grains['virtual'] == 'openvzve' %}venet0{% else %}eth0{% endif %} -s {{ host }}/32 -j ACCEPT
{%- endfor -%}
{%- for protocol in pillar['firewall']['filter'] -%}
  {%- if pillar['firewall']['filter'][protocol]|length == 1 %}
-A INPUT -i {% if grains['virtual'] == 'openvzve' %}venet0{% else %}eth0{% endif %} -p {{ protocol }} -m {{ protocol }} --dport {{ pillar['firewall']['filter'][protocol][0] }} -j ACCEPT
  {%- else %}
-A INPUT -i {% if grains['virtual'] == 'openvzve' %}venet0{% else %}eth0{% endif %} -p {{ protocol }} -m multiport --dports {% for port in pillar['firewall']['filter'][protocol] %}{{ port }}{% if not loop.last %},{% endif %}{% endfor %} -j ACCEPT
  {%- endif %}{# if length == 1 -#}
  {%- if grains['virtual'] == 'openvzve' %}
-A INPUT -i venet0 -j DROP
  {%- endif -%}
{%- endfor -%}
{%- else %}{# if filter at all#}
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
{% endif %}
COMMIT

