{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set mine = salt['mine.get']('*', 'monitoring.data') -%}
{%- set public_interface = salt['pillar.get']('network_interface', 'eth0') %}
{%- set is_openvzve = grains['virtual'] == 'openvzve' %}

# {{ salt['pillar.get']('message_do_not_modify') }}
{%- if not disable_nat|default(False) %}
*nat
{%- block nat %}
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{%- if grains['osrelease']|float < 12.04 %}
:INPUT ACCEPT [0:0]
{%- endif %}
:OUTPUT ACCEPT [0:0]
{%- endblock nat %}
COMMIT
{%- endif %}
*mangle
{%- block mangle %}
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
{%- endblock mangle %}
COMMIT
*filter
{%- block filter %}
:OUTPUT ACCEPT [0:0]
{%- if filter|length > 0 %}
:INPUT {% if is_openvzve %}ACCEPT{% else %}DROP{% endif %} [0:0]
:FORWARD {% if is_openvzve %}ACCEPT{% else %}DROP{% endif %} [0:0]
{%- for ip in blacklist %}
-A INPUT -i {% if is_openvzve %}venet0{% else %}{{ public_interface }}{% endif %} -s {{ ip }}/32 -j DROP
{%- endfor %}
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
  {%- for host in mine -%}
    {#- if private == public only process public -#}
    {%- if mine[host]['ip_addrs']['public'] == mine[host]['ip_addrs']['private'] -%}
      {%- set addr_types = ['public'] -%}
    {%- else -%}
      {%- set addr_types = ['public', 'private'] -%}
    {%- endif -%}
    {%- for addr_type in addr_types -%}
      {%- if mine[host]['ip_addrs'][addr_type] not in pillars_ip %}
-A INPUT -i {% if is_openvzve %}venet0{% else %}{{ public_interface }}{% endif %} -s {{ mine[host]['ip_addrs'][addr_type] }}/32 -j ACCEPT
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
  {%- for host in pillars_ip %}
-A INPUT -i {% if is_openvzve %}venet0{% else %}{{ public_interface }}{% endif %} -s {{ host }}/32 -j ACCEPT
  {%- endfor -%}
  {%- for protocol, ports in filter.iteritems() -%}
    {%- if ports|length == 1 %}
-A INPUT -i {% if is_openvzve %}venet0{% else %}{{ public_interface }}{% endif %} -p {{ protocol }} -m {{ protocol }} --dport {{ ports[0] }} -j ACCEPT
    {%- else %}
-A INPUT -i {% if is_openvzve %}venet0{% else %}{{ public_interface }}{% endif %} -p {{ protocol }} -m multiport --dports {% for port in ports %}{{ port }}{% if not loop.last %},{% endif %}{% endfor %} -j ACCEPT
    {%- endif %}{# if length == 1 -#}
    {%- if grains['virtual'] == 'openvzve' %}
-A INPUT -i venet0 -j DROP
    {%- endif -%}
  {%- endfor %}{# host in mine -#}
{%- else %}{# if filter at all #}
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
{%- endif %}
{%- endblock filter %}
COMMIT
