{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- macro tomcat_monitor(version) -%}
    {%- set timeout = 15 %}
tomcat_procs:
  description: Tomcat Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -u tomcat{{ version }}'

tomcat_port_remote:
  check: check_tcp!8080
  description: Tomcat HTTP Remote Port
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - tomcat_port

tomcat_port:
  description: Tomcat HTTP Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 8080 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - tomcat_procs

{%- if salt['monitoring.data']()['ip_addrs6']['public'] %}
tomcat_port_ipv6:
  description: Tomcat HTTP Local Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 8080 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - tomcat_procs
{%- endif %}

tomcat_command_port:
  description: Tomcat Command Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 8005 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - tomcat_procs
{%- endmacro %}
