{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
# {{ pillar['message_do_not_modify'] }}
command[tomcat_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -u tomcat7
command[tomcat_port]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 8080
command[tomcat_command_port]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 8005
