{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

#}
{%- from 'tomcat/nrpe_macro.jinja2' import tomcat_monitor with context -%}
{{ tomcat_monitor(7) }}
