{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
salt_api_procs:
  description: Salt API Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C python -a salt-api -u root -c 1:10'

{%- set expected = 'HTTP/1.1 200 OK' %}
{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{{ nginx_instance('salt.api', pillar_prefix='salt_api', https_result=expected, http_result=expected, deployment='salt_api', extra_dependencies=('salt_api_procs',)) }}
