{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
<?php
# {{ salt['pillar.get']('message_do_not_modify') }}
$config = array();
$config['log_driver'] = 'syslog';
$config['log_date_format'] = 'd-M-Y H:i:s O';
$config['syslog_id'] = 'roundcube';
$config['syslog_facility'] = LOG_USER;
{%- if salt['pillar.get']('debug', False) %}
$config['debug_level'] = 8;
$config['log_logins'] = true;
$config['log_session'] = true;
$config['smtp_log'] = true;
$config['sql_debug'] = true;
$config['imap_debug'] = true;
$config['ldap_debug'] = true;
$config['smtp_debug'] = true;
{%- else %}
$config['debug_level'] = 1;
$config['log_logins'] = false;
$config['log_session'] = false;
$config['smtp_log'] = false;
$config['sql_debug'] = false;
$config['imap_debug'] = false;
$config['ldap_debug'] = false;
$config['smtp_debug'] = false;
{%- endif %}
{%- set server = salt['pillar.get']('roundcube:imap:server', '127.0.0.1') %}
{%- if salt['pillar.get']('roundcube:imap:ssl', False) %}
$config['default_host'] = 'ssl://{{ server }}';
$config['default_port'] = 993;
{%- else %}
$config['default_host'] = '{{ server }}';
$config['default_port'] = 143;
{%- endif %}
$config['imap_auth_type'] = null;
$config['imap_delimiter'] = null;
$config['imap_ns_personal'] = null;
$config['imap_ns_other']    = null;
$config['imap_ns_shared']   = null;
$config['imap_force_caps'] = false;
$config['imap_force_lsub'] = false;
$config['imap_force_ns'] = false;
$config['imap_timeout'] = 0;
$config['imap_auth_cid'] = null;
$config['imap_auth_pw'] = null;
$config['imap_cache'] = null;
$config['messages_cache'] = false;
$config['smtp_server'] = 'tls://127.0.0.1';
$config['smtp_port'] = 25;
$config['smtp_user'] = '%u';
$config['smtp_pass'] = '%p';
$config['smtp_auth_type'] = '';
$config['smtp_auth_cid'] = null;
$config['smtp_auth_pw'] = null;
$config['smtp_helo_host'] = '';
$config['smtp_timeout'] = 0;
$config['enable_installer'] = false;
$config['dont_override'] = array();
$config['support_url'] = '';
$config['skin_logo'] = null;
$config['auto_create_user'] = true;
$config['user_aliases'] = false;
$config['temp_dir'] = '/var/lib/roundcube';
$config['message_cache_lifetime'] = '10d';
{%- if salt['pillar.get']('roundcube:ssl', False) %}
$config['force_https'] = true;
$config['use_https'] = true;
{%- else %}
$config['force_https'] = false;
$config['use_https'] = false;
{%- endif %}
$config['login_autocomplete'] = 0;
$config['login_lc'] = 2;
$config['skin_include_php'] = false;
$config['display_version'] = false;
$config['session_lifetime'] = 10;
$config['session_domain'] = '';
$config['session_name'] = null;
$config['session_path'] = null;
$config['session_storage'] = 'db';
$config['memcache_hosts'] = null;
$config['ip_check'] = false;
$config['referer_check'] = false;
$config['x_frame_options'] = 'sameorigin';
$config['des_key'] = 'rcmail-!24ByteDESkey*Str';
$config['username_domain'] = '';
$config['mail_domain'] = '';
$config['password_charset'] = 'ISO-8859-1';
$config['sendmail_delay'] = 0;
$config['max_recipients'] = 0;
$config['max_group_members'] = 0;
$config['useragent'] = 'Roundcube Webmail/'.RCMAIL_VERSION;
$config['product_name'] = 'Roundcube Webmail';
$config['include_host_config'] = false;
$config['generic_message_footer'] = '';
$config['generic_message_footer_html'] = '';
$config['http_received_header'] = false;
$config['http_received_header_encrypt'] = false;
$config['mail_header_delimiter'] = NULL;
$config['line_length'] = 72;
$config['send_format_flowed'] = true;
$config['mdn_use_from'] = false;
$config['identities_level'] = 0;
$config['client_mimetypes'] = null;  # null == default
$config['mime_magic'] = null;
$config['mime_types'] = null;
$config['im_identify_path'] = null;
$config['im_convert_path'] = null;
$config['image_thumbnail_size'] = 240;
$config['contact_photo_size'] = 160;
$config['email_dns_check'] = false;
$config['no_save_sent_messages'] = false;
$config['plugins'] = array('password', 'archive', 'markasjunk', 'emoticons', 'managesieve');
$config['message_sort_col'] = '';
$config['message_sort_order'] = 'DESC';
$config['list_cols'] = array('subject', 'status', 'fromto', 'date', 'size', 'flag', 'attachment');
$config['language'] = null;
$config['date_format'] = 'Y-m-d';
$config['date_formats'] = array('Y-m-d', 'd-m-Y', 'Y/m/d', 'm/d/Y', 'd/m/Y', 'd.m.Y', 'j.n.Y');
$config['time_format'] = 'H:i';
$config['time_formats'] = array('G:i', 'H:i', 'g:i a', 'h:i A');
$config['date_short'] = 'D H:i';
$config['date_long'] = 'Y-m-d H:i';
$config['drafts_mbox'] = 'Drafts';
$config['junk_mbox'] = 'spam';
$config['sent_mbox'] = 'Sent';
$config['trash_mbox'] = 'Trash';
$config['archive_mbox'] = 'Archive';
$config['archive_show_button'] = true;
$config['default_folders'] = array('INBOX', 'Drafts', 'Archive', 'Sent', 'spam', 'Trash');
$config['create_default_folders'] = true;
$config['protect_default_folders'] = true;
$config['quota_zero_as_unlimited'] = false;
$config['enable_spellcheck'] = false;
$config['recipients_separator'] = ',';
$config['max_pagesize'] = 200;
$config['min_refresh_interval'] = 60;
$config['upload_progress'] = false;
$config['undo_timeout'] = 0;
$config['default_charset'] = 'ISO-8859-1';
$config['skin'] = 'larry';
$config['mail_pagesize'] = 50;
$config['timezone'] = 'auto';
$config['prefer_html'] = true;
$config['show_images'] = 0;
$config['message_extwin'] = false;
$config['compose_extwin'] = false;
$config['htmleditor'] = 1;
$config['prettydate'] = true;
$config['draft_autosave'] = 300;
$config['preview_pane'] = false;
$config['preview_pane_mark_read'] = 0;
$config['logout_purge'] = false;
$config['logout_expunge'] = false;
$config['inline_images'] = true;
$config['mime_param_folding'] = 1;
$config['skip_deleted'] = false;
$config['read_when_deleted'] = true;
$config['flag_for_deletion'] = false;
$config['refresh_interval'] = 60;
$config['check_all_folders'] = false;
$config['display_next'] = true;
$config['autoexpand_threads'] = 0;
$config['reply_mode'] = 0;
$config['strip_existing_sig'] = true;
$config['show_sig'] = 1;
$config['force_7bit'] = false;
$config['search_mods'] = null;
$config['delete_always'] = false;
$config['delete_junk'] = false;
$config['mdn_requests'] = 0;
$config['mdn_default'] = 0;
$config['dsn_default'] = 0;
$config['reply_same_folder'] = false;
$config['forward_attachment'] = false;
$config['spellcheck_before_send'] = false;
$config['autocomplete_single'] = false;
$config['default_font'] = '';

{#- address book config #}
$config['address_book_type'] = 'ldap';
$config['ldap_public']['public'] = array(
  'name'          => 'Public LDAP adress book',
  'hosts'         => array('localhost'),
  'port'          => 389,
{%- if salt['pillar.get']('roundcube:ldap:ssl', False)|default(salt['pillar.get']('ldap:ssl', False), boolean=True) %}
  'use_tls'           => true,
{%- else %}
  'use_tls'           => false,
{%- endif %}
  'ldap_version'  => 3,
  'network_timeout' => 10,
  'user_specific' => false,
  'base_dn'       => 'ou=people,{{ salt['pillar.get']('roundcube:ldap:suffix', False)|default(salt['pillar.get']('ldap:suffix'), boolean=True) }}',
  'bind_dn'       => '',
  'bind_pass'     => '',
  'hidden'        => false,
  'searchonly'    => false,
  'writable'       => false,
  'fieldmap' => array(
    'name'        => 'cn',
    'surname'     => 'sn',
    'email'       => 'uid',
  ),
  'sub_fields' => array(),
  'autovalues' => array(),
  'sort'          => 'cn',
  'scope'         => 'sub',
  'filter'        => '(objectClass=inetOrgPerson)',
  'fuzzy_search'  => true,
  'vlv'           => false,
  'numsub_filter' => '(objectClass=organizationalUnit)',
  'sizelimit'     => '0',
  'timelimit'     => '0',
  'referrals'     => true|false,
);

$config['autocomplete_addressbooks'] = array('public');
$config['autocomplete_min_length'] = 1;
$config['autocomplete_threads'] = 0;
$config['autocomplete_max'] = 15;
$config['addressbook_search_mode'] = 0;
$config['addressbook_pagesize'] = 50;
$config['addressbook_sort_col'] = 'surname';
$config['addressbook_name_listing'] = 0;
$config['default_addressbook'] = null;
$config['addressbook_search_mods'] = null;

{#- Configuration file for database access #}
{#
 PEAR database DSN for read/write operations
 format is db_provider:user:password@host/database
 For examples see http:pear.php.net/manual/en/package.database.mdb2.intro-dsn.php
 currently supported db_providers: mysql, mysqli, pgsql, sqlite, mssql or sqlsrv
#}
$config['db_dsnw'] = 'pgsql://{{ username }}:{{ password }}@127.0.0.1/{{ dbname }}';
{#
 postgres example: 'pgsql:roundcube:pass@localhost/roundcubemail';
 Warning: for SQLite use absolute path in DSN:
 sqlite example: 'sqlite:full/path/to/sqlite.db?mode=0646';

 PEAR database DSN for read only operations (if empty write database will be used)
 useful for database replication
#}
$config['db_dsnr'] = 'pgsql://{{ username }}:{{ password }}@127.0.0.1/{{ dbname }}';

{#-
 use persistent db-connections
 beware this will not "always" work as expected
 see: http:www.php.net/manual/en/features.persistent-connections.php
#}
$config['db_persistent'] = FALSE;
{#-
 you can define specific table names used to store webmail data
#}
$config['db_table_users'] = 'users';
$config['db_table_identities'] = 'identities';
$config['db_table_contacts'] = 'contacts';
$config['db_table_contactgroups'] = 'contactgroups';
$config['db_table_contactgroupmembers'] = 'contactgroupmembers';
$config['db_table_session'] = 'session';
$config['db_table_cache'] = 'cache';
$config['db_table_cache_index'] = 'cache_index';
$config['db_table_cache_thread'] = 'cache_thread';
$config['db_table_cache_messages'] = 'cache_messages';
$config['db_table_dictionary'] = 'dictionary';
$config['db_table_searches'] = 'searches';
$config['db_table_system'] = 'system';
{#-
 you can define specific sequence names used in PostgreSQL
#}
$config['db_sequence_users'] = 'user_ids';
$config['db_sequence_identities'] = 'identity_ids';
$config['db_sequence_contacts'] = 'contact_ids';
$config['db_sequence_contactgroups'] = 'contactgroups_ids';
$config['db_sequence_searches'] = 'search_ids';
?>
