{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
roundcube_nginx_http:
  description: RoundCube HTTP Protocol

roundcube_nginx_https:
  description: RoundCube HTTPS Protocol

roundcube_nginx_https_certificate:
  description: RoundCube HTTPS Certificate Expiration
  check_interval: 1440 {#- only need to check https certificate each day #}

roundcube_postgresql:
  description: RoundCube PostgreSQL database

roundcube_uwsgi_master:
  description: RoundCube uWSGI Master Process

roundcube_uwsgi_worker:
  description: RoundCube uWSGI Workers Process

roundcube_uwsgi_ping:
  description: RoundCube uWSGI Ping
