{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream roundcube {
    server unix:///var/lib/uwsgi/roundcube.sock;
}
{%- endblock %}

{%- block root_location %}
{%- set timeout = salt['pillar.get']('roundcube:timeout', 60) %}
{%- for dir in ('skins',) %}
    location /{{ dir }}/ {
        expires max;
        autoindex off;
    }
{%- endfor %}

    index index.php index.html index.htm;
    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~ .php$ {
        gzip off;
        include uwsgi_params;
        uwsgi_read_timeout {{ timeout }};
        uwsgi_send_timeout {{ timeout }};
        uwsgi_modifier1 14;
        uwsgi_pass roundcube;
    }

    location ~ ^/?(\.git|\.tx|SQL|bin|config|logs|temp|tests|program\/(include|lib|localization|steps)) {
        return 403;
    }

    location ~ /?(README\.md|CHANGELOG|INSTALL|LICENSE|UPGRADING)$ {
        return 403;
    }

    location /favicon {
        rewrite ^/favicon\.ico$ /skins/larry/images/favicon.ico;
    }
{%- endblock %}
