{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
<?php
# {{ salt['pillar.get']('message_do_not_modify') }}

{#
Password Plugin options
-----------------------
A driver to use for password change. Default: "sql".
See README file for list of supported driver names.
-#}
$rcmail_config['password_driver'] = 'ldap';

{#
Determine whether current password is required to change password.
Default: false.
-#}
$rcmail_config['password_confirm_current'] = true;

{#
Require the new password to be a certain length.
set to blank to allow passwords of any length
-#}
$rcmail_config['password_minimum_length'] = 8;

{#
Require the new password to contain a letter and punctuation character
Change to false to remove this check.
-#}
$rcmail_config['password_require_nonalpha'] = false;

{#
Enables logging of password changes into logs/password
-#}
$rcmail_config['password_log'] = false;

{#
Comma-separated list of login exceptions for which password change
will be not available (no Password tab in Settings)
-#}
$rcmail_config['password_login_exceptions'] = null;

{#
Array of hosts that support password changing. Default is NULL.
Listed hosts will feature a Password option in Settings; others will not.
Example:
//$rcmail_config['password_hosts'] = array('mail.example.com', 'mail2.example.org');
-#}
$rcmail_config['password_hosts'] = null;


{#
LDAP and LDAP_SIMPLE Driver options
-----------------------------------
LDAP server name to connect to.
You can provide one or several hosts in an array in which case the hosts are tried from left to right.
Exemple: array('ldap1.exemple.com', 'ldap2.exemple.com');
Default: 'localhost'
-#}
$rcmail_config['password_ldap_host'] = 'localhost';

{#
LDAP server port to connect to
Default: '389'
-#}
$rcmail_config['password_ldap_port'] = '389';

{#
TLS is started after connecting
Using TLS for password modification is recommanded.
Default: false
-#}
{%- if salt['pillar.get']('roundcube:ldap:ssl', salt['pillar.get']('ldap:ssl', False)) %}
$rcmail_config['password_ldap_starttls'] = true;
{%- else %}
$rcmail_config['password_ldap_starttls'] = false;
{%- endif %}

{#
LDAP version
Default: '3'
-#}
$rcmail_config['password_ldap_version'] = '3';

{#
LDAP base name (root directory)
Exemple: 'dc=exemple,dc=com'
-#}
{%- set suffix = salt['pillar.get']('roundcube:ldap:suffix', False)|default(salt['pillar.get']('ldap:suffix'), boolean=True) %}
$rcmail_config['password_ldap_basedn'] = '{{ suffix }}';

{#
LDAP connection method
There is two connection method for changing a user's LDAP password.
'user': use user credential (recommanded, require password_confirm_current=true)
'admin': use admin credential (this mode require password_ldap_adminDN and password_ldap_adminPW)
Default: 'user'
-#}
$rcmail_config['password_ldap_method'] = 'user';

{#
LDAP user DN mask
The user's DN is mandatory and as we only have his login,
we need to re-create his DN using a mask
'%login' will be replaced by the current roundcube user's login
'%name' will be replaced by the current roundcube user's name part
'%domain' will be replaced by the current roundcube user's domain part
'%dc' will be replaced by domain name hierarchal string e.g. "dc=test,dc=domain,dc=com"
Exemple: 'uid=%login,ou=people,dc=exemple,dc=com'
-#}
$rcmail_config['password_ldap_userDN_mask'] = 'uid=%login,ou=people,{{ suffix }}';

{#
LDAP password hash type
Standard LDAP encryption type which must be one of: crypt,
ext_des, md5crypt, blowfish, md5, sha, smd5, ssha, or clear.
Please note that most encodage types require external libraries
to be included in your PHP installation, see function hashPassword in drivers/ldap.php for more info.
Default: 'crypt'
-#}
$rcmail_config['password_ldap_encodage'] = 'crypt';

{#
LDAP password attribute
Name of the ldap's attribute used for storing user password
Default: 'userPassword'
-#}
$rcmail_config['password_ldap_pwattr'] = 'userPassword';

{#
LDAP password force replace
Force LDAP replace in cases where ACL allows only replace not read
See http://pear.php.net/package/Net_LDAP2/docs/latest/Net_LDAP2/Net_LDAP2_Entry.html#methodreplace
Default: true
-#}
$rcmail_config['password_ldap_force_replace'] = true;
?>
