{%- set files_archive = salt['pillar.get']('files_archive', False)|default("https://archive.robotinfra.com/") %}
{% set postgresql = salt["grains.filter_by"]({
  "precise": {
    "version": salt["pillar.get"]("postgresql:version", None)|default("9.2", boolean=True)|string,
    "repo_configs": {
      "9.2": {
        "repo": "deb " ~ files_archive|replace('https://', 'http://') ~ "/mirror/postgresql/9.2.4-0 " ~ grains['lsb_distrib_codename'] ~ " main",
        "key": "key.gpg",
        "unix_socket_dir_var": "unix_socket_directory",
      },
      "9.4": {
        "repo": "deb " ~ files_archive|replace('https://', 'http://') ~ "/mirror/postgresql/9.4.5-1 " ~ grains['lsb_distrib_codename'] ~ "-pgdg  main",
        "key": "key-9.4.gpg",
        "unix_socket_dir_var": "unix_socket_directories",
      },
    },
  },
  "trusty": {
    "version": salt["pillar.get"]("postgresql:version", None)|default("9.3", boolean=True)|string,
    "repo_configs": {
      "9.3": {
        "repo": None,
        "key": None,
        "unix_socket_dir_var": "unix_socket_directories",
      },
      "9.4": {
        "repo": "deb " ~ files_archive|replace('https://', 'http://') ~ "/mirror/postgresql/9.4.5-1 " ~ grains['lsb_distrib_codename'] ~ "-pgdg  main",
        "key": "key-9.4.gpg",
        "unix_socket_dir_var": "unix_socket_directories",
      },
    },
  },
}, grain="oscodename", default="precise") %}
