# {{ pillar['message_do_not_modify'] }}

{%- if 'files_archive' in pillar %}
{{ pillar['files_archive'] }}/pip/1.3.1.tar.gz
{{ pillar['files_archive'] }}/pymongo/2.4.1.tar.gz
{%- else %}
pip==1.3.1
pymongo==2.4.1
{%- endif -%}
