{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
{%- set max_proc = salt['pillar.get']('mail:maxproc', 2) %}
amavis_procs:
  description: Amavis Processes
  {#- +1 for master process #}
  command: "/usr/lib/nagios/plugins/check_procs -c {{ max_proc + 1 }}:{{ max_proc + 1 }} -u amavis {% if grains['lsb_distrib_codename'] == 'precise' %}-C amavisd{% else %}-a /usr/sbin/amavisd-new{% endif %}"

amavis_port:
  description: Amavis Listen Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 10024
  dependencies:
    - amavis_procs
