# {{ pillar['message_do_not_modify'] }}
command[check_amavis_master]=/usr/lib/nagios/plugins/check_procs -c 1:1 -u amavis -a 'amavisd (master)'
command[check_amavis_child]=/usr/lib/nagios/plugins/check_procs -c {{ pillar['mail']['maxproc'] }}:{{ pillar['mail']['maxproc'] }} -u amavis -a 'amavisd (virgin child)'
command[check_amavis_port]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 10024
