tightvncserver_procs:
  description: Tightvncserver Daemon

tightvncserver_port:
  description: Tightvncserver Local Port

tightvncserver_remote_port:
  check: check_tcp!5901
  description: Tightvncserver Remote Port
