{#- Usage of this is governed by a license that can be found in doc/license.rst #}
var countlyConfig = {
    mongodb: {
        host: "127.0.0.1",
        db: "countly",
        port: 27017,
        max_pool_size: 500,
        //username: test,
        //password: test
    },
    api: {
        port: 3001,
        host: "127.0.0.1",
        max_sockets: 1024
    },
    path: ""
};

countlyConfig.host = "{{ hostnames[0] }}";

module.exports = countlyConfig;
