{%- set version = "15.08" %}
{%- set source_hash = "md5=52261ad6b8f8c7352f81a9c66d4adae4" %}

{%- set files_archive = salt["pillar.get"]("files_archive", False) %}
{%- set mirror = files_archive ~ "/mirror/"
  if files_archive else "http://archive.robotinfra.com/mirror/" %}
{%- set source = mirror ~ "countly-community-edition-v" ~ version ~ ".tar.gz" %}
{%- set install_dir = "/usr/local/countly/" ~ version %}

{%- set countly = {
        "version": version,
        "source": source,
        "source_hash": source_hash,
        "install_dir": install_dir,
} %}
