{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- extends "salt/master/nrpe/config.jinja2" -%}
{#- turn off salt_master_mine only if used with salt.ci -#}
{%- block salt_master_mine %}{% endblock -%}
