{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Van Diep Pham <favadi@robotinfra.com>
Maintainer: Van Diep Pham <favadi@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
includedir /etc/xinetd.d
