
{#-
 Author: Lam Dang Tung lamdt@familug.org
 Maintainer: Lam Dang Tung lamdt@familug.org
 -#}
# {{ pillar['message_do_not_modify'] }}

require ::File.expand_path('../config/environment',  __FILE__)
run Discourse::Application
