{#-
 Author: Lam Dang Tung lamdt@familug.org
 Maintainer: Lam Dang Tung lamdt@familug.org
 -#}
discourse_uwsgi_master:
  description: Discourse uWSGI Master Process

discourse_uwsgi_worker:
  description: Discourse uWSGI Workers Process

discourse_uwsgi_ping:
  description: Discourse uWSGI Ping

discourse_nginx_http:
  description: Discourse HTTP protocol

discourse_nginx_https:
  description: Discourse HTTPS protocol

discourse_nginx_https_certificate:
  description: HTTPS Certificate Expiration
  check_interval: 1440 {#- only need to check https certificate each day #}

discourse_postgresql:
  description: Discourse PostgreSQL database
