# {{ pillar['message_do_not_modify'] }}
# /etc/init/discourse.conf - Sidekiq config for Discourse
# use:
# sudo initctl {start,stop} discourse

description "Sidekiq Background Worker for Discourse"

start on runlevel [2345]
stop on runlevel [!2345]

nice 10
respawn

chdir {{ web_root_dir }}

setuid {{ user }}
setgid {{ user }}

env HOME="{{ home }}"
env USER="{{ user }}"
env RAILS_ENV="production"
env RUBY_GC_MALLOC_LIMIT="90000000"

post-start script
  exec bundle exec sidekiq -P /tmp/sidekiq.pid | logger -t discourse-sidekiq
  emit discourse_running
end script

post-stop script
  exec bundle exec sidekiqctl stop /tmp/sidekiq.pid
end script
