# {{ pillar['message_do_not_modify'] }}
# /etc/init/discourse.conf - Sidekiq config for Discourse
# use:
# sudo initctl {start,stop} discourse

description "Sidekiq Background Worker for Discourse"

start on runlevel [2345]
stop on runlevel [!2345]

chdir {{ web_root_dir }}

setuid root
setgid root

post-start script
  exec bundle exec sidekiq -e production -P /var/run/sidekiq.pid >> /var/log/sidekiq.log 2>&1 &
end script

post-stop script
  exec bundle exec sidekiqctl stop /var/run/sidekiq.pid
end script
