# {{ pillar['message_do_not_modify'] }}
DatabaseOwner clamav
UpdateLogFile /var/log/clamav/freshclam.log
NotifyClamd /etc/clamav/clamd.conf
LogVerbose false
LogSyslog true
LogFacility LOG_DAEMON
LogFileMaxSize 0
LogTime true
Foreground false
Debug false
MaxAttempts 5
DatabaseDirectory /var/lib/clamav
DNSDatabaseInfo {{ salt['pillar.get']('clamav:dns_db', 'current.cvd.clamav.net') }}
AllowSupplementaryGroups false
PidFile /var/run/clamav/freshclam.pid
ConnectTimeout {{ salt['pillar.get']('clamav:connect_timeout', 30) }}
ReceiveTimeout {{ salt['pillar.get']('clamav:receive_timeout', 30) }}
TestDatabases yes
ScriptedUpdates yes
CompressLocalDatabase no
Bytecode true
{# Check for new database 24 times a day #}
Checks {{ salt['pillar.get']('clamav:times_of_check', 24) }}
DatabaseMirror db.local.clamav.net
DatabaseMirror database.clamav.net
