{#-
Copyright (c) 2013, Hung Nguyen Viet
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ pillar['message_do_not_modify'] }}
{#-
 Check http://www.clamav.net/mirrors.html for a list of Clamav mirrors
#}
DatabaseOwner clamav
NotifyClamd /etc/clamav/clamd.conf
LogSyslog true
LogFacility LOG_DAEMON
LogFileMaxSize 0
LogTime true
Foreground false
{%- if salt['pillar.get']('debug', False) %}
Debug true
LogVerbose true
{%- else %}
LogVerbose false
Debug false
{%- endif %}
MaxAttempts 5
DatabaseDirectory /var/lib/clamav
AllowSupplementaryGroups false
PidFile /var/run/clamav/freshclam.pid
ConnectTimeout {{ salt['pillar.get']('clamav:connect_timeout', 30) }}
ReceiveTimeout {{ salt['pillar.get']('clamav:receive_timeout', 30) }}
TestDatabases yes
CompressLocalDatabase no
Bytecode true
{#- Check for new database 24 times a day #}
Checks {{ salt['pillar.get']('clamav:times_of_check', 24) }}

{%- if salt['pillar.get']('files_archive', False) and not salt['pillar.get']('clamav:db_mirrors', False) -%}
    {%- set netloc = salt['common.urlparse'](pillar['files_archive']).netloc -%}
        {%- if netloc %}
ScriptedUpdates no
PrivateMirror {{ netloc }}
        {%- else -%}
            {#- netloc == '' mean it's a local mirror, use default #}
DatabaseMirror db.local.clamav.net
DatabaseMirror database.clamav.net
        {%- endif -%}
{%- else %}
ScriptedUpdates yes
    {%- for mirror in salt['pillar.get']('clamav:db_mirrors', ('db.local.clamav.net', 'database.clamav.net')) %}
DatabaseMirror {{ mirror }}
    {%- endfor -%}
{%- endif -%}
{%- for mirror in salt['pillar.get']('clamav:dns_db', ('current.cvd.clamav.net',)) %}
DNSDatabaseInfo {{ mirror }}
{%- endfor %}
OnUpdateExecute touch /var/lib/clamav/last-update
