{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
# {{ pillar['message_do_not_modify'] }}
{#-
 Check http://www.clamav.net/mirrors.html for a list of Clamav mirrors
 #}
DatabaseOwner clamav
UpdateLogFile /var/log/clamav/freshclam.log
NotifyClamd /etc/clamav/clamd.conf
LogVerbose false
LogSyslog true
LogFacility LOG_DAEMON
LogFileMaxSize 0
LogTime true
Foreground false
Debug false
MaxAttempts 5
DatabaseDirectory /var/lib/clamav
{%- for mirror in salt['pillar.get']('clamav:dns_db', ('current.cvd.clamav.net',)) %}
DNSDatabaseInfo {{ mirror }}
{%- endfor %}
AllowSupplementaryGroups false
PidFile /var/run/clamav/freshclam.pid
ConnectTimeout {{ salt['pillar.get']('clamav:connect_timeout', 30) }}
ReceiveTimeout {{ salt['pillar.get']('clamav:receive_timeout', 30) }}
TestDatabases yes
ScriptedUpdates yes
CompressLocalDatabase no
Bytecode true
{#- Check for new database 24 times a day -#}
Checks {{ salt['pillar.get']('clamav:times_of_check', 24) }}
{%- for mirror in salt['pillar.get']('clamav:db_mirrors', ('db.local.clamav.net', 'database.clamav.net')) %}
DatabaseMirror {{ mirror }}
{%- endfor %}
