{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
freshclam_procs:
  description: FreshClam Daemon

clamav_procs:
  description: ClamAV Daemon
