{#-
Copyright (c) 2013, Hung Nguyen Viet
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
# {{ pillar['message_do_not_modify'] }}

$LocalHostName {{ grains['id'] }}

$ModLoad imuxsock # provides support for local system logging
{%- if grains['virtual'] != 'openvzve' %}
$ModLoad imklog
{%- endif %}
{#- #$ModLoad immark  # provides --MARK-- message capability #}

{%- block remote_listening %}
$ModLoad imudp
$UDPServerAddress 127.0.0.1
$UDPServerRun 514
{%- endblock %}

$ModLoad imfile

{#-
 provides TCP syslog reception
$ModLoad imtcp
$InputTCPServerRun 514


GLOBAL DIRECTIVES ####


 Use traditional timestamp format.
 To enable high precision timestamps, comment out the following line.

#}
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

{#- # Filter duplicated messages #}
$RepeatedMsgReduction on

{#-
# Set the default permissions for all log files.
#
#}
$FileOwner syslog
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
$PrivDropToUser syslog
$PrivDropToGroup syslog

$WorkDirectory /var/spool/rsyslog
$IncludeConfig /etc/rsyslog.d/*.conf

{#- send authentication logs to auth.log #}
auth,authpriv.* /var/log/auth.log

{#-
20 ufw
 Log kernel generated UFW log messages to file
:msg,contains,"[UFW " /var/log/ufw.log

 Uncomment the following to stop logging anything that matches the last rule.
 Doing this will stop logging kernel generated UFW log messages to the file
 normally containing kern.* messages (eg, /var/log/kern.log)
& ~
#}

{#-
50 default
  Default rules for rsyslog.

   For more information see rsyslog.conf(5) and /etc/rsyslog.conf


 First some standard log files.  Log by facility.

#}
{% if not salt['pillar.get']('debug', False) %}
{%- for f in 'sshd', 'cron', 'sudo' %}
    {%- for act in 'opened', 'closed' %}
:msg, contains, "pam_unix({{ f }}:session): session {{ act }} for user" stop
    {%- endfor %}
{%- endfor %}
{#- discard uwsgi ping log msg produced by NRPE check #}
:msg, isequal, " PING" stop
{#- discard ssh monitoring check msg #}
:msg, contains, "Did not receive identification string from 127.0.0.1" stop
{#- discard graylog2 health check msg #}
if ($programname == "uwsgi-graylog2" or $programname == "nginx" and $msg contains "GET /health/currentthroughput") then stop
{# discard nginx response buffer msg #}
if ($programname == "nginx" and $msg contains "an upstream response is buffered to a temporary file") then stop
{% endif %}
{#-
kern.* -/var/log/kern.log
mail.* -/var/log/mail.log

cron.* /var/log/cron.log
daemon.* -/var/log/daemon.log
lpr.* -/var/log/lpr.log
user.* -/var/log/user.log

 Logging for the mail system.  Split it up so that
 it is easy to write scripts to parse these files.
mail.info -/var/log/mail.info
mail.warn -/var/log/mail.warn
mail.err /var/log/mail.err

# Logging for INN news system.
news.crit /var/log/news/news.crit
news.err /var/log/news/news.err
news.notice -/var/log/news/news.notice


 Some "catch-all" log files.

*.=debug;\
    auth,authpriv.none;\
    news.none;mail.none -/var/log/debug
*.=info;*.=notice;*.=warn;\
    auth,authpriv.none;\
    cron,daemon.none;\
    mail,news.none -/var/log/messages


 Emergencies are sent to everybody logged in.

*.emerg                                :omusrmsg:*


 I like to have messages displayed on the console, but only on a virtual
 console I usually leave idle.

daemon,mail.*;\
    news.=crit;news.=err;news.=notice;\
    *.=debug;*.=info;\
    *.=notice;*.=warn /dev/tty8

 The named pipe /dev/xconsole is for the `xconsole' utility.  To use it,
 you must invoke `xconsole' with the `-file' option:

    $ xconsole -file /dev/xconsole [...]

 NOTE: adjust the list below, or you'll go crazy if you have a reasonably
      busy site..

daemon.*;mail.*;\
    news.err;\
    *.=debug;*.=info;\
    *.=notice;*.=warn |/dev/xconsole
#}

*.*           -/var/log/syslog
{%- block remote_logging %}
    {%- if 'graylog2_address' in pillar %}
*.*;local7.none {% if salt['pillar.get']('rsyslog:tcp', False) %}@{% endif %}@{{ pillar['graylog2_address'] }}:1514
    {%- endif -%}
{%- endblock -%}
