# {{ salt['pillar.get']('message_do_not_modify') }}
{#
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
$InputFileName {{ file_path }}
$InputFileTag {{ tag_name }}:
$InputFileStateFile {{ tag_name }}
$InputFileSeverity {{ severity }}
$InputFileFacility {{ facility }}
$InputRunFileMonitor
