{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
// {{ salt['pillar.get']('message_do_not_modify') }}
{
  "title": "{{ salt['pillar.get']('etherpad:title', 'Etherpad') }}",
  "favicon": "favicon.ico",
  {#- IP and port which etherpad should bind at #}
  "ip": "127.0.0.1",
  "port" : {{ salt['pillar.get']('etherpad:listen_port', 9001) }},
  "sessionKey" : "{{ salt['password.generate']('etherpad:sessionkey', 10) }}",
  "dbType" : "postgres",
  "dbSettings" : {
                    "user"    : "{{ dbuser }}",
                    "host"    : "{{ dbhost }}",
                    "password": "{{ dbuserpass }}",
                    "database": "{{ dbname }}"
                  },
{%- set default_pad_text = salt['pillar.get']('etherpad:default_pad_text', False) %}
  "defaultPadText" : "{%- if default_pad_text %}{{ default_pad_text }}{%- endif %}",
{%- if salt['pillar.get']('etherpad:require_session', False) %}
  "requireSession": true,
{%- endif %}
  "editOnly" : false,
  "minify" : true,
  "maxAge" : 21600, {# 60 * 60 * 6 = 6 hours #}
  "abiword" : null,
{%- if salt['pillar.get']('etherpad:require_authentication', False) %}
  "requireAuthentication": true,
{%- endif %}
{%- if salt['pillar.get']('etherpad:require_authorization', False) %}
  "requireAuthorization": true,
{%- endif %}
  "trustProxy": true,
  "disableIPlogging": false,
  "users": {
{%- set users = salt['pillar.get']('etherpad:users', {}) %}
{%- for user in users %}
    "{{ user }}": {
      "password": "{{ users[user]['password'] }}"
  {%- if users[user]['admin'] | default(False, boolean=True) %}
      , "is_admin": true
  {%- endif %}
    }{% if not loop.last %},{% endif %}
{%- endfor %}
  },
  "socketTransportProtocols" : ["xhr-polling", "jsonp-polling", "htmlfile"],
{#- The log level we are using, can be: DEBUG, INFO, WARN, ERROR #}
{%- if salt['pillar.get']('debug', False) %}
  "loglevel": "DEBUG",
{%- else %}
  "loglevel": "WARN"
{%- endif %}
}
