{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Dang Tung Lam <lam@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

description "Upstart script for Etherpad"

start on runlevel [2345]
stop on runlevel [!2345]

nice 10
respawn

chdir {{ web_root_dir }}
setuid {{ user }}
setgid www-data

script
  exec /bin/bash bin/run.sh | logger -t etherpad
end script
