# {{ pillar['message_do_not_modify'] }}
[uwsgi]

master = true
env = DJANGO_SETTINGS_MODULE={{ settings }}
module = {{ module }}
processes = {{ workers }}
uid = {{ uid|default("www-data") }}
gid = {{ gid|default("www-data") }}
threaded-logger = true
logger = graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }}
carbon-id = {{ deployment }}
carbon = {{ pillar['graphite_address'] }}:2003
virtualenv = {{ root_dir|default("/usr/local/deployments") }}/{{ deployment }}
chdir = {{ root_dir|default("/usr/local/deployments") }}/{{ deployment }}
procname = {{ deployment }}-worker
procname-master = {{ deployment }}-master
socket = /var/lib/uwsgi/{{ deployment }}.sock
no-orphans = true
lazy-apps = true
{% if cheaper %}
cheap = true
{% if cheaper > 0 %}
cheaper = {{ cheaper }}
{% endif %}
{% if workers == 1 and cheaper == 0 %}
idle = {{ idle|default(300) }}
{% endif %}
{% endif -%}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
ksm = {{ ksm|default(20) }}
{% endif -%}
{%- for option in options|default({}) %}
{{ option }} = {{ options[option] }}
{% endfor -%}
