# {{ salt['pillar.get']('message_do_not_modify') }}

[DEFAULT]

ignoreip = 127.0.0.1/8

bantime  = {{ salt['pillar.get']('fail2ban:bantime', 600) }}

findtime = {{ salt['pillar.get']('fail2ban:findtime', 600) }}
maxretry = {{ salt['pillar.get']('fail2ban:maxretry', 3) }}

{%- set backend = salt['pillar.get']('fail2ban:backend', False) %}
backend = {% if backend %}{{ backend }}{% else %}auto{% endif %}

{%- set usedns = salt['pillar.get']('fail2ban:usedns', False) %}
usedns = {% if usedns %}{{ usedns }}{% else %}warn{% endif %}

{%- set destemail = salt['pillar.get']('fail2ban:destemail', False) %}
destemail = {% if destemail %}{{ destemail }}{% else %}root@localhost{% endif %}

{%- set sendername = salt['pillar.get']('fail2ban:sendername', False) %}
sendername = {% if sendername %}{{ sendername }}{% else %}Fail2Ban{% endif %}

{%- set banaction = salt['pillar.get']('fail2ban:banaction', False) %}
banaction = {% if banaction %}{{ banaction }}{% else %}iptables-multiport{% endif %}

mta = sendmail

protocol = tcp

chain = INPUT

action_ = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]

action_mw = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
              %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s", sendername="%(sendername)s"]

action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
               %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s", sendername="%(sendername)s"]

action = %(action_)s

[ssh]

enabled  = true
port     = {% for port in salt['pillar.get']('ssh:server:ports', [22]) %}{{ port }}{% if not loop.last %}, {% endif %}{% endfor %}
filter   = sshd
logpath  = /var/log/auth.log
maxretry = {{ salt['pillar.get']('fail2ban:maxretry', 3) }}

[dropbear]

enabled  = false
port     = ssh
filter   = dropbear
logpath  = /var/log/auth.log
maxretry = 6

[pam-generic]

enabled  = false
filter   = pam-generic
port     = all
banaction = iptables-allports
port     = anyport
logpath  = /var/log/auth.log
maxretry = 6

[xinetd-fail]

enabled   = false
filter    = xinetd-fail
port      = all
banaction = iptables-multiport-log
logpath   = /var/log/daemon.log
maxretry  = 2


[ssh-ddos]

enabled  = false
port     = ssh
filter   = sshd-ddos
logpath  = /var/log/auth.log
maxretry = 6


[ssh-route]

enabled = false
filter = sshd
action = route
logpath = /var/log/sshd.log
maxretry = 6

[ssh-iptables-ipset4]

enabled  = false
port     = ssh
filter   = sshd
banaction = iptables-ipset-proto4
logpath  = /var/log/sshd.log
maxretry = 6

[ssh-iptables-ipset6]

enabled  = false
port     = ssh
filter   = sshd
banaction = iptables-ipset-proto6
logpath  = /var/log/sshd.log
maxretry = 6

[nginx-http-auth]

enabled = false
filter  = nginx-http-auth
port    = http,https
logpath = /var/log/nginx/error.log


[roundcube-auth]

enabled  = false
filter   = roundcube-auth
port     = http,https
logpath  = /var/log/roundcube/userlogins


[proftpd]

enabled  = false
port     = ftp,ftp-data,ftps,ftps-data
filter   = proftpd
logpath  = /var/log/proftpd/proftpd.log
maxretry = 6


[postfix]

enabled  = false
port     = smtp,ssmtp,submission
filter   = postfix
logpath  = /var/log/mail.log


[sasl]

enabled  = false
port     = smtp,ssmtp,submission,imap2,imap3,imaps,pop3,pop3s
filter   = postfix-sasl
logpath  = /var/log/mail.log

[dovecot]

enabled = false
port    = smtp,ssmtp,submission,imap2,imap3,imaps,pop3,pop3s
filter  = dovecot
logpath = /var/log/mail.log

[mysqld-auth]

enabled  = false
filter   = mysqld-auth
port     = 3306
logpath  = /var/log/mysqld.log
