{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

youtrack_backup_procs:
  description: YouTrack Backup Process
  command: "/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a '/etc/cron.daily/backup-youtrack'"

youtrack_backup:
  description: YouTrack Backup Age And Size
  command: /usr/lib/nagios/plugins/check_backup.py --formula=youtrack.backup --check=youtrack_backup
  {{ passive_interval(12 * 60) }} {#- 12 hours #}
  arguments:
    facility: youtrack
    warning: {{ salt['pillar.get']('backup:age', 48) }}
  timeout: 55
  dependencies:
    {#- no alert if load is too high #}
    - load_average
