{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set vpn_instance = salt['pillar.get']('openvpn:servers:' ~ instance) %}
{%- block device %}
{%- endblock device %}
proto {{ vpn_instance['protocol'] | default('udp') }}
resolv-retry infinite
nobind
user nobody
group nogroup
persist-key
persist-tun
comp-lzo
{%- if salt['pillar.get']('debug', False) %}
verb 15
{%- else %}
verb 4
{%- endif %}

{%- block authentication_mode %}
{%- endblock authentication_mode %}
{%- block additional %}
{%- endblock additional %}
