{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{%- set vpn_instance = salt['pillar.get']('openvpn:servers:' ~ instance) %}
dev {{ vpn_instance['device'] | default('tun') }}
proto {{ vpn_instance['protocol'] | default('udp') }}
resolv-retry infinite
nobind
user nobody
group nogroup
persist-key
persist-tun
comp-lzo
{%- if salt['pillar.get']('debug', False) %}
verb 15
{%- else %}
verb 4
{%- endif %}

{%- block authentication_mode %}
{%- endblock authentication_mode %}
