{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- extends "openvpn/client/base.jinja2" %}

{%- block authentication_mode %}
client
remote {% if 'availabilityZone' in salt['grains.ls']() %}{{ grains['public-ipv4'] }}{% else %}{{ salt['network.ip_addrs']('eth0')[0] }}{% endif %} {{ vpn_instance['port'] | default(1194) }}
ca ca.crt
cert {{ client }}.crt
key {{ client }}.key
remote-cert-tls server
{%- endblock authentication_mode %}
