graylog2_procs:
  description: Graylog2 Daemon

graylog2_incoming_logs:
  description: Incoming Logs Rate

graylog2_elasticsearch_cluster:
  description: Graylog2 Elasticsearch Cluster

graylog2_elasticsearch_port_http:
  description: Graylog2 Elasticsearch Local HTTP Port

graylog2_elasticsearch_port_:
  description: Graylog2 Elasticsearch Local Transport Port
