{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set heap_size = salt['pillar.get']('graylog2:heap_size', False) %}
start on (net-device-up
          and local-filesystems
          and runlevel [2345]
          and started rsyslog
          and started mongodb)
stop on runlevel [!2345]

nice 10
respawn

env JAVA_OPTS="{% if heap_size %}-Xms{{ heap_size }} -Xmx{{ heap_size }}{% endif %}"

pre-start script
    install -o {{ user }} -g  {{ user }} -m 750 -d /var/run/graylog2

    if [ ! -p /var/log/graylog2/server.fifo ]; then
        rm -f /var/log/graylog2/server.fifo
        mkfifo /var/log/graylog2/server.fifo
    fi
    chmod 640 /var/log/graylog2/server.fifo
    chown {{ user }}:syslog /var/log/graylog2/server.fifo

end script

script
  exec sudo -E -H -u {{ user }} -g syslog java -server -jar /usr/local/graylog2-server-{{ version }}/graylog2-server.jar --pidfile /var/run/graylog2/graylog2.pid >> /var/log/graylog2/server.fifo
end script
