
{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
 shinken_arbiter_procs:
  description: Shinken Arbiter Daemon

shinken_arbiter_port:
  description: Shinken Arbiter Local Port

shinken-arbiter-remote-port:
  description: Shinken Arbiter Remote Port
  check: check_tcp!7770
