shinken_arbiter_procs:
  description: Shinken Arbiter Deamon

shinken_arbiter_port:
  description: Shinken Arbiter Local Port

shinken-arbiter-remote-port:
  description: Shinken Arbiter Remote Port
  check: check_tcp!7770
