{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

start on (filesystem and net-device-up IFACE=eth0)
stop on runlevel [!2345]

respawn
respawn limit 5 60

{% set check_command = "/usr/local/shinken/bin/shinken-arbiter --verify-config -c /etc/shinken/arbiter.conf" %}
pre-start script
  install -o shinken -g  shinken -m 750 -d /var/run/shinken
  {{ check_command }} || { echo "Shinken Arbiter {{ grains['id'] }} contains error(s)! See errors using:\n{{ check_command }}" | /usr/bin/mail -s 'Shinken Arbiter Config Error' {% for user in salt['pillar.get']('shinken:users') %}{{ salt['pillar.get']('shinken:users:' + user + ':email') }}{% if not loop.last %} {% endif %}{% endfor %}; stop; exit 0; }
end script

script
  exec /usr/local/shinken/bin/shinken-arbiter -c /etc/shinken/arbiter.conf
end script
