{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

start on (net-device-up
          and local-filesystems
          and runlevel [2345]
          and started rsyslog)
stop on runlevel [!2345]

respawn
respawn limit 5 60

{% set check_command = "/usr/local/shinken/bin/shinken-arbiter --verify-config -c /etc/shinken/arbiter.conf" %}
pre-start script
  install -o shinken -g  shinken -m 750 -d /var/run/shinken
  {{ check_command }} > /tmp/$$.error || \
  # after grep, only log >= Error and stack trace are left
  { grep -v 'Info :' /tmp/$$.error | \
  grep -v 'Debug :' | grep -v '^$' | \
  {%- if not salt['pillar.get']('__test__', False) %}
  grep -v "'configuration_errors': \[\]" | grep -v 'Warning :' | \{%-endif %}
  /usr/bin/mail -s 'Shinken Arbiter Config Error' \
  {% for user in salt['pillar.get']('shinken:users') if not salt['pillar.get']('shinken:users:' + user + ':read_only', False) %}{{ salt['pillar.get']('shinken:users:' + user + ':email') }}{% if not loop.last %} {% endif %}{% endfor %}; \
  rm -f /tmp/$$.error; stop; exit 0; }
end script

script
  exec /usr/local/shinken/bin/shinken-arbiter -c /etc/shinken/arbiter.conf >/dev/null
end script
