{#-
Copyright (c) 2013, Hung Nguyen Viet
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Hung Nguyen Viet <hvnsweeting@gmail.com>
Maintainer: Hung Nguyen Viet <hvnsweeting@gmail.com>
-#}
dovecot_config:
  description: Dovecot Config daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -a 'dovecot/config' -C config"

dovecot_log:
  description: Dovecot Logger
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -a 'dovecot/log' -C log"

dovecot_procs:
  description: Dovecot Master
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -C dovecot'

dovecot_anvil:
  description: Dovecot Users connection tracker
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u dovecot -a 'dovecot/anvil' -C anvil"

{#- TODO: check remote port? #}
{%- if salt['pillar.get']('dovecot:ssl', False) %}
dovecot_port_imaps:
  description: Dovecot IMAPS Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 993

dovecot_port_pop3s:
  description: Dovecot POP3S Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 995

dovecot_simap:
  description: Dovecot SIMAP
  command: /usr/lib/nagios/plugins/check_simap -H 127.0.0.1 -p 993

{%- else %}
dovecot_imap:
  description: Dovecot IMAP
  command: /usr/lib/nagios/plugins/check_imap -H 127.0.0.1 -p 143

dovecot_port_pop3:
  description: Dovecot POP3 Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 110
{%- endif %}

{% if not salt['pillar.get']('__test__', False) %}
mailstack_functionality:
  description: Mail Stack Functionality
  command: /usr/lib/nagios/plugins/check_mail_stack.py
{%- endif %}

{#- TODO: http://wiki2.dovecot.org/RunningDovecot add more processes #}
{#- TODO: use /usr/lib/nagios/plugins/check_spop #}
