{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

dovecot_config_procs:
  description: Dovecot Config daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -a 'dovecot/config' -C config"
  dependencies:
    - dovecot_master_procs

dovecot_log_procs:
  description: Dovecot Logger
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -a 'dovecot/log' -C log"
  dependencies:
    - dovecot_master_procs

dovecot_master_procs:
  description: Dovecot Master
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -C dovecot'

dovecot_anvil_procs:
  description: Dovecot Users connection tracker
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u dovecot -a 'dovecot/anvil' -C anvil"
  dependencies:
    - dovecot_master_procs

{%- if salt['pillar.get']('dovecot:ssl', False) %}
dovecot_port_imaps:
  description: Dovecot IMAPS Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 993 -t {{ timeout }}
  timeout: {{ timeout }}
  {#- TODO: use real dependency imap-login #}
  dependencies:
    - dovecot_master_procs

dovecot_port_imaps_ipv6:
  description: Dovecot IMAPS Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 993 -t {{ timeout }}
  timeout: {{ timeout }}
  {#- TODO: use real dependency imap-login #}
  dependencies:
    - dovecot_master_procs

dovecot_port_pop3s:
  description: Dovecot POP3S Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 995 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_master_procs

dovecot_port_pop3s_ipv6:
  description: Dovecot POP3S Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 995 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_master_procs

dovecot_spop:
  description: Dovecot SPOP3
  command: /usr/lib/nagios/plugins/check_spop -H 127.0.0.1 -p 995 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_port_pop3s

dovecot_simap:
  description: Dovecot SIMAP
  command: /usr/lib/nagios/plugins/check_simap -H 127.0.0.1 -p 993 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_port_imaps
{%- endif %}

dovecot_port_imap:
  description: Dovecot IMAP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 143 -t {{ timeout }}
  timeout: {{ timeout }}
  {#- TODO: use real dependency imap-login #}
  dependencies:
    - dovecot_master_procs

dovecot_port_imap_ipv6:
  description: Dovecot IMAP Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 143 -t {{ timeout }}
  timeout: {{ timeout }}
  {#- TODO: use real dependency imap-login #}
  dependencies:
    - dovecot_master_procs

dovecot_imap:
  description: Dovecot IMAP
  command: /usr/lib/nagios/plugins/check_imap -H 127.0.0.1 -p 143 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_port_imap

dovecot_port_pop3:
  description: Dovecot POP3 Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 110 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_master_procs

dovecot_port_pop3_ipv6:
  description: Dovecot POP3 Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 110 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_master_procs

dovecot_pop:
  description: Dovecot POP
  command: /usr/lib/nagios/plugins/check_pop -H 127.0.0.1 -p 110 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_port_pop3

dovecot_managesieve_port:
  description: Dovecot Managesieve Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 4190 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_master_procs

dovecot_managesieve_port_ipv6:
  description: Dovecot Managesieve Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 4190 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - dovecot_master_procs
