# {{ pillar['message_do_not_modify'] }}

file_roots:
  base:
    - /srv/salt/states

pillar_roots:
  base:
    - /srv/salt/pillar

peer:
  .*:
    - grains.*

log_file: file:///dev/log
log_level: debug
log_fmt_logfile: '%(asctime)-15s salt-master[%(process)d] %(name)s: %(message)s'
log_datefmt_logfile: '%b %d %H:%M:%S'
