{%- extends "python/config.jinja2" -%}
{%- block body %}
cwd: {{ cwd }}
{%- if minion_config_file|default(False) %}
minion_config_file: {{ minion_config_file }}
{%- endif %}
output: {{ output }}
saltenv: {{ saltenv }}
virtualenv: {{ virtualenv }}
rev: {{ rev }}
{%- endblock -%}
