{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{%- from 'nginx/macro.jinja2' import http_listen, ssl_config with context %}

server {
    {{ http_listen() }}
{% if ssl %}
  {% if ssl_redirect %}
    {# if https, redirect http port 80 to https port 443 #}
    server_name {% for hostname in hostnames %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    return 301 https://{{ hostnames[0] }}$request_uri;
}
{# https server #}
server {
{% endif %}{# redirect http to https #}
    {{ ssl_config(ssl) }}
{% endif %}
{# web app logic #}
    server_name {% for hostname in  hostnames %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    location / {
        try_files $uri $uri/index.html =404;
        root /usr/local/salt-common-doc;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

   location = / {
      rewrite "^" "/doc/intro.html" permanent;
   }

    location /favicon.ico {
        deny all;
        return 404;
    }
{% include "nginx/block_hacks.jinja2" %}
{% include 'nginx/location_robots.jinja2' %}
}
