{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- block root_location -%}
    location / {
        try_files $uri $uri/index.html =404;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

   location = / {
      rewrite "^" "/doc/intro.html" permanent;
   }

    location /favicon.ico {
        deny all;
        return 404;
    }
{%- endblock %}
