{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

 - CPU: {{ grains['num_cpus'] }}
 - Memory: {{ grains['mem_total'] }} Mb
{%- if 'availabilityZone' in grains %}
 - Availability Zone: {{ grains['availabilityZone'] }}
 - Instance ID: {{ grains['instanceId'] }}
 - Instance Type: {{ grains['instanceType'] }}
 - AMI: {{ grains['imageId'] }}
 - Private IP: {{ grains ['local-ipv4'] }}
 - Public IP: {{ grains['public-ipv4'] }}
 - Public hostname: {{ grains['public-hostname'] }}
{% endif %}
