{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
#!/bin/bash

set -e

# log start stop time to syslog
source /usr/local/share/salt_common.sh
locking_script
log_start_script "$@"
trap "log_stop_script \$?" EXIT

cd /home/gitlab/gitlabhq-{{ version }}
sudo -u gitlab -H bundle exec rake gitlab:backup:create RAILS_ENV=production 2>&1 | logger -t "backup-gitlab" -p 'daemon.info'
cd /var/lib/gitlab/gitlab-backups
/usr/local/bin/backup-file gitlab . *
# remove tar file that gitlab:backup:create created
find . -maxdepth 1 -type f -name *.tar -delete
