#!/bin/sh
# {{ pillar['message_do_not_modify'] }}
{#-
 Author: Lam Dang Tung lamdt@familug.org
 Maintainer: Lam Dang Tung lamdt@familug.org
 #}
NOW=`/bin/date '+%Y-%m-%d-%H_%M_%S'`
/usr/local/bin/backup-postgresql gitlab

tar --xz -cf /tmp/gitlab_backup_$NOW.tar.xz -C /home/git repositories .ssh gitlab-satellites
/usr/local/bin/backup_store /tmp/gitlab_backup_$NOW.tar.xz

