{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
amavis_master:
  description: Amavis Master Process

amavis_child:
  description: Amavis Child Processes

amavis_port:
  description: Amavis Listen Port
