#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

# Use of this source code is governed by a BSD license that can be
# found in the doc/license.rst file.
#
# Author: Luan Vo Ngoc <luan@robotinfra.com>
# Maintainer: Diep Pham <favadi@robotinfra.com>

set -e

# log start stop time to syslog
source /usr/local/share/salt_common.sh
# Ensure that only one instance of this script is running at a time
locking_script
log_start_script "$@"
trap "log_stop_script \$?" EXIT

{%- set mongodb_suffix = '0-20' %}
# elasticsearch come with it's own backup script
/usr/local/bin/backup-mongodb graylog2-{{ mongodb_suffix }}
