{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
{%- set timeout = 30 -%}
{%- include "erlang/nrpe/config.jinja2" -%}

rabbitmq_console_port:
  description: RabbitMQ Console Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 55672 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - rabbitmq_procs

rabbitmq_console_http:
  description: RabbitMQ Console HTTP
  command: /usr/lib/nagios/plugins/check_http -I 127.0.0.1 -p 55672 -e 'HTTP/1.0 301 Moved Permanently' -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - rabbitmq_console_port

rabbitmq_procs:
  description: RabbitMQ Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -C beam{% if grains['num_cpus'] > 1 %}.smp{% endif %} -u rabbitmq"

rabbitmq_management_port:
  description: RabbitMQ Management Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 15672 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - rabbitmq_procs

rabbitmq_amqp_port:
  description: RabbitMQ Local AMQP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5672 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - rabbitmq_procs

rabbitmq_http:
  description: RabbitMQ HTTP Protocol
  command: /usr/lib/nagios/plugins/check_http -H 127.0.0.1 -u / -p 15672 -e '200 OK' -I {{ salt['network.ip_addrs']('eth0')[0] }} -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - rabbitmq_management_port

{%- if salt['pillar.get']('rabbitmq:ssl', False) -%}
    {%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context %}
{{ nginx_instance('rabbitmq', extra_dependencies=('rabbitmq_http',)) }}
{%- endif %}

rabbitmq_amqp_port_remote:
  description: Remote RabbitMQ AMQP Port
  check: check_tcp!55672
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - rabbitmq_amqp_port
