{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 %}

rabbitmq_procs:
  description: RabbitMQ Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -C beam{% if grains['num_cpus'] > 1 %}.smp{% endif %} -u rabbitmq"

rabbitmq_management_port:
  description: RabbitMQ Management Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 15672 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - rabbitmq_procs

rabbitmq_amqp_port:
  description: RabbitMQ Local AMQP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5672 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - rabbitmq_procs

rabbitmq_http:
  description: RabbitMQ HTTP Protocol
  command: /usr/lib/nagios/plugins/check_http -H 127.0.0.1 -u / -p 15672 -e '200 OK' -I 127.0.0.1 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - rabbitmq_management_port

{%- if salt['pillar.get']('rabbitmq:ssl', False) -%}
    {%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context %}
{{ nginx_instance('rabbitmq', extra_dependencies=('rabbitmq_http',)) }}
{%- endif %}

rabbitmq_amqp_port_remote:
  description: Remote RabbitMQ AMQP Port
  check: check_tcp!15672
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - rabbitmq_amqp_port
