{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <patate@fastmail.cn>
Maintainer: Bruno Clermont <patate@fastmail.cn>
-#}
rabbitmq_port_console:
  description: RabbitMQ Console Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 55672
  service_dependencies: ',rabbitmq_procs'

rabbitmq_procs:
  description: RabbitMQ Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -C beam{% if grains['num_cpus'] > 1 %}.smp{% endif %} -u rabbitmq"
  service_dependencies: ',erlang_procs'

rabbitmq_port_management:
  description: RabbitMQ Management Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 15672
  service_dependencies: ',rabbitmq_procs'

rabbitmq_port_amqp:
  description: RabbitMQ Local AMQP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5672
  service_dependencies: ',rabbitmq_procs'

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{{ nginx_instance('rabbitmq', http_port=15672) }}
{# TODO QUANTA: implement separate check for port 15672 like for ES #}
{# TODO QUANTA: use cleanly nginx_instance and requires rabbitmq_port_amqp and rabbitmq_port_management #}

rabbitmq-remote-amqp-port:
  description: Remote RabbitMQ AMQP Port
  check: check_tcp!55672
  passive: False
  service_dependencies: ',rabbitmq_procs'
