{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}
source '{{ gem_source }}'
gem 'geminabox', '0.12.4'
ruby '1.9.3'
