{#- Usage of this is governed by a license that can be found in doc/license.rst #}
{%- set ssl = salt['pillar.get']('geminabox:ssl', False) %}
{%- set hostnames = salt['pillar.get']('geminabox:hostnames') %}
{%- from 'nginx/macro.jinja2' import http_listen, ssl_config with context %}

upstream geminabox {
    server unix:///var/lib/uwsgi/geminabox.sock;
}
server {
    {{ http_listen() }}
{%- if ssl %}
{%- if salt['pillar.get']('geminabox:ssl_redirect', False) %}
    {# if https, redirect http port 80 to https port 443 #}
    server_name {% for hostname in hostnames %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    return 301 https://{{ hostnames[0] }}$request_uri;
}
{# https server #}
server {
{% endif %}{# redirect http to https #}
    {{ ssl_config(ssl) }}
{% endif %}
{# web app logic #}
    server_name {% for hostname in hostnames %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    location / {
        uwsgi_pass geminabox;
        include uwsgi_params;
        uwsgi_modifier1 7;
    }

{% include "nginx/block_hacks.jinja2" %}
{% include 'nginx/location_robots.jinja2' %}

}
