{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{% extends "uwsgi/template.jinja2" %}
{% block footer %}
  rbrequire: rubygems
  rbrequire: bundler/setup
  post-buffering: 4096
  buffer-size: 32768
  env: RAILS_ENV=production
  rack: {{ rack }}
{% endblock %}
