{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 45 -%}
{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

{{ nginx_instance('jenkins', http_uri='/login', extra_dependencies=('jenkins_http',)) }}

jenkins_procs:
  description: Jenkins Process
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u jenkins -C daemon -a '--name=jenkins'"

jenkins_port:
  description: Jenkins Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 8080 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - jenkins_procs

jenkins_http:
  description: Jenkins HTTP
  command: /usr/lib/nagios/plugins/check_http -I 127.0.0.1 -p 8080 -u '/login' -e 'HTTP/1.1 200 OK' -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - jenkins_port
