{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
{%- set timeout = 30 -%}
{%- set version="9.2" -%}
postgresql_procs:
  description: PostgreSQL Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:2 -a '/usr/lib/postgresql/{{ version }}/bin/postgres -D /var/lib/postgresql/{{ version }}/main -c config_file=/etc/postgresql/{{ version }}/main/postgresql.conf' -C postgres -u postgres"

postgresql_port:
  description: PostgreSQL Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5432 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - postgresql_procs

{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance with context %}
{{ postgresql_instance('postgresql.common', 'monitoring', username='monitoring', password=salt['password.pillar']('postgresql:monitoring:password', 10), check_empty=False) }}
