{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set timeout = 30 -%}
{% from "postgresql/map.jinja2" import postgresql with context %}
{% set version = postgresql.version %}

postgresql_procs:
  description: PostgreSQL Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:2 -a '/usr/lib/postgresql/{{ version }}/bin/postgres -D /var/lib/postgresql/{{ version }}/main -c config_file=/etc/postgresql/{{ version }}/main/postgresql.conf' -C postgres -u postgres"

postgresql_port:
  description: PostgreSQL Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5432 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - postgresql_procs

postgresql_port_ipv6:
  description: PostgreSQL Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 5432 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - postgresql_procs

{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance with context %}
{{ postgresql_instance('postgresql.common', 'monitoring', username='monitoring', password=salt['password.pillar']('postgresql:monitoring:password', 10), check_empty=False) }}
