#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Use of this is governed by a license that can be found in doc/license.rst.

set -e

# limit resources usage
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$
XZ_DEFAULTS=--memlimit={{ salt['pillar.get']('backup:xz_memlimit', 64) }}MiB

NOW=`date '+%Y-%m-%d-%H_%M_%S'`
export TERM=dumb

echo "created by create_dumb, for testing backup.client SLSs" | xz > /tmp/backup-client-test-$NOW.txt.xz
echo /tmp/backup-client-test-$NOW.txt.xz
