#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Nicolas Plessis <niplessis@gmail.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
#}
# Stores data files on Amazon S3.

set -e

# limit resources usage
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$

source /usr/local/bin/backup-validate
validate_archive "$1"

archive_path="$1"
archive_name=$(basename $archive_path)
{%- set path = salt['pillar.get']('backup:s3:path') %}
{%- set bucket = salt['pillar.get']('backup:s3:bucket') %}
{%- if path == '/' %}
s3cmd --config=/root/.s3cfg --no-progress put $archive_path s3://{{ bucket }}/$archive_name | logger -t s3cmd
{%- else %}
s3cmd --config=/root/.s3cfg --no-progress put $archive_path s3://{{ bucket }}/{{ path.strip('/') }}/$archive_name | logger -t s3cmd
{%- endif %}
rm -f $archive_path
