# {{ pillar['message_do_not_modify'] }}
[options]
{#- 
WARNING: default master password is 'admin', CHANGE IT after done installing 
-#}
db_host = {{ pillar['openerp']['database']['host']|default('False') }}
db_port = {{ pillar['openerp']['database']['port']|default('False') }}


db_user = openerp
db_password = {{ pillar['openerp']['database']['password']|default('False') }}
