{#-
 Author: Lam Dang Tung lamdt@familug.org
 Maintainer: Lam Dang Tung lamdt@familug.org
 -#}
openerp_uwsgi_master:
  description: OpenERP uWSGI Master Process

openerp_uwsgi_worker:
  description: OpenERP uWSGI Workers Process

openerp_uwsgi_ping:
  description: OpenERP uWSGI Ping

openerp_nginx_http:
  description: OpenERP HTTP protocol

openerp_nginx_https:
  description: OpenERP HTTPS protocol

openerp_nginx_https_certificate:
  description: HTTPS Certificate Expiration
  check_interval: 1440 {#- only need to check https certificate each day #}
{#-
openerp_postgresql:
  description: OpenERP PostgreSQL database
#}
