openerp_procs:
  description: OpenERP Daemon (openerp-server)
openerp_port:
  description: OpenERP Port
openerp_nginx_http:
  description: OpenERP HTTP Protocol
openerp_postgresql:
  description: OpenERP PostgreSQL database
