# {{ pillar['message_do_not_modify'] }}

pip==1.3.1
feedparser==5.1.3
gdata==2.0.18
Jinja2==2.6
python-ldap==2.4.13
lxml==3.0
Mako
mock
python-openid 
psycopg2
psutil
babel
http://download.gna.org/pychart/PyChart-1.39.tar.gz
pydot
pyparsing
reportlab
simplejson
pytz
unittest2
vatnumber
vobject
python_webdav
Werkzeug
xlwt
PyYAML
ZSI

http://nightly.openerp.com/7.0/nightly/src/openerp-7.0-latest.tar.gz
