#!/bin/sh
# {{ pillar['message_do_not_modify'] }}

NOW=`date '+%Y-%m-%d-%H_%M_%S'`
sudo -H -i -u postgres -g postgres pg_dump $1 > /tmp/$1-$NOW.sql
gzip /tmp/$1-$NOW.sql
scp -q /tmp/$1-$NOW.sql.gz root@{{ pillar['backup_server']['address'] }}:/var/lib/backup/{{ grains['id'] }}-$1-postgresql-$NOW.sql.gz
rm -f /tmp/$1-$NOW.sql.gz
