# {{ pillar['message_do_not_modify'] }}
{#
 Memory units:
 kB = kilobytes
 MB = megabytes
 GB = gigabytes

 Time units:
 ms = milliseconds
 s = seconds
 min = minutes
 h = hours
 d = days
#}

{#
 File system
#}
data_directory = '/var/lib/postgresql/{{ version }}/main'
hba_file = '/etc/postgresql/{{ version }}/main/pg_hba.conf'
ident_file = '/etc/postgresql/{{ version }}/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/{{ version }}-main.pid'
unix_socket_directory = '/var/run/postgresql'

{#
 Network and Security
#}
password_encryption = on
listen_addresses = '{{ salt['pillar.get']('postgresql:listen_addresses', 'localhost') }}'
port = {{ salt['pillar.get']('postgresql:listen_port', 5432) }}
{#
 Increasing max_connections costs ~400 bytes of shared memory per
 connection slot, plus lock space (see max_locks_per_transaction).
#}
max_connections = {{ salt['pillar.get']('postgresql:listen_addresses', 100) }}
{#superuser_reserved_connections = 3#}
{# force bonjour to be off #}
bonjour = off
{#authentication_timeout = 1min#}

{% if salt['pillar.data']('postgresql:ssl', False) %}
ssl = true
ssl_renegotiation_limit = 512MB
ssl_ciphers = 'RC4:HIGH:!aNULL:!MD5'
ssl_cert_file = '/etc/ssl/{{ pillar['postgresql']['ssl'] }}/chained_ca.crt'
ssl_certificate_key = ' /etc/ssl/{{ pillar['postgresql']['ssl'] }}/server.pem'
{% else %}
ssl = false
{% endif %}

{# TCP Keepalives: use all system default #}
tcp_keepalives_idle = 0
tcp_keepalives_interval = 0
tcp_keepalives_count = 0

{#
 Resource Usage except WAL
 #}
shared_buffers = {{ salt['pillar.get']('postgresql:shared_buffers', '24MB') }}
temp_buffers = {{ salt['pillar.get']('postgresql:temp_buffers', '8MB') }}

{#
 Logging
#}

log_destination = 'syslog'
syslog_facility = 'local0'
syslog_ident = 'postgres'
client_min_messages = notice
log_min_messages = warning
log_min_error_statement = error
{#
 -1 is disabled
 0 logs all statements
 > 0 logs only statements running at least this number of milliseconds
#}
log_min_duration_statement = {{ salt['pillar.get']('postgresql:log_slow_query', -1) }}

{# What to Log #}

debug_print_parse = off
debug_print_rewritten = off
debug_print_plan = off
debug_pretty_print = on
log_checkpoints = off
log_connections = off
log_disconnections = off
log_duration = off
{# terse, default, or verbose messages#}
log_error_verbosity = default
log_hostname = off
{# special values:
 %a = application name
 %u = user name
 %d = database name
 %r = remote host and port
 %h = remote host
 %p = process ID
 %t = timestamp without milliseconds
 %m = timestamp with milliseconds
 %i = command tag
 %e = SQL state
 %c = session ID
 %l = session line number
 %s = session start timestamp
 %v = virtual transaction ID
 %x = transaction ID (0 if none)
 %q = stop here in non-session processes
 %% = '%'
#}
log_line_prefix = ''

{# log lock waits >= deadlock_timeout #}
#log_lock_waits = off
{# none, ddl, mod, all #}
#log_statement = 'none'
log_timezone = 'UTC'

{#
 Locale and Formatting
#}
timezone = 'UTC'
{# These settings are initialized by initdb, but they can be changed.#}
{#lc_messages = 'C'
lc_monetary = 'C'
lc_numeric = 'C'
lc_time = 'C'#}
