{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set version = '1.0.2' -%}
{%- set timeout = 45 -%}
{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

{{ nginx_instance('graylog2.web', http_uri='/login', deployment='graylog2', pillar_prefix='graylog2', extra_dependencies=('graylog2_web_port',), timeout=30) }}

graylog2_web_procs:
  description: Graylog2 Web Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a 'graylog-web-interface-{{ version }}.jar'"

graylog2_web_port:
  description: Graylog2 Web TCP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9000 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - graylog2_web_procs

graylog2_web_http:
  description: Graylog2 Web HTTP
  command: /usr/lib/nagios/plugins/check_http -I 127.0.0.1 -p 9000 -e '303 See Other' -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - graylog2_web_port
