{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
# {{ pillar['message_do_not_modify'] }}
mail_gid = mail
mail_home = /var/mail/vhosts/indexes/%d/%n
mail_location = mbox:~/mail:INBOX=/var/mail/vhosts/%d/%n
mail_privileged_group = mail
mail_uid = dovecot-agent
passdb {
  args = /etc/dovecot/dovecot-ldap.conf.ext
  driver = ldap
}
protocols = "imap pop3"
service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0666
  }
}
{%- set ssl = salt['pillar.get']('dovecot:ssl', False) -%}
{%- if ssl %}
ssl = true
ssl_cert = </etc/ssl/{{ ssl }}/ca.crt
ssl_key = </etc/ssl/{{ ssl }}/server.pem
{%- else %}
ssl = no
{%- endif %}
userdb {
  args = /etc/dovecot/dovecot-ldap.conf.ext
  driver = ldap
}

