{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

memcached_procs:
  description: Memcache Daemon
  command: '/usr/lib/nagios/plugins/check_procs -C memcached -c 1:1'
