# {{ pillar['message_do_not_modify'] }}
# gsyslog - Python based logging replacement

description "system logging daemon"

start on filesystem
stop on runlevel [06]

respawn

exec /usr/local/gsyslog/bin/gsyslogd /etc/gsyslogd.conf
