#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Use of this is governed by a license that can be found in doc/license.rst.

set -e
export TERM=dumb

for i in *.xz *.gz *.tar
do
    find /var/lib/backup -maxdepth 2 -type f -name "$i" -mtime +{{ salt['pillar.get']('backup:ssh:retention', 30) }} -delete
done
