#!/bin/bash -x
{%- for user in pillar['ejabberd']['admins'] %}
{%- set password = pillar['ejabberd']['admins'][user] %}
{%- set hostname = pillar['ejabberd']['hostnames'][0] %}

ejabberdctl check-account {{ user }} {{ hostname }} || \
    ejabberdctl register {{ user }} {{ hostname }} '{{ password }}'
{%- endfor %}
