Ejabberd_nginx_http:
  description: Ejabberd Web Admin HTTP protocol

Ejabberd_nginx_https:
  description: Ejabberd Web Admin HTTPS protocol

Ejabberd_nginx_https_certificate:
  description: HTTPS Certificate Expiration
  check_interval: 1440 {#- only need to check https certificate each day #}

Ejabberd_postgresql:
  description: Ejabberd PostgreSQL database
