{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}
{%- set timeout = 5 %}

dhcp_offer:
  description: Check DHCP Server Response
  command: /usr/lib/nagios/plugins/check_dhcp -t {{ timeout }}
  {{ passive_interval(1 * 60) }}
