# {{ pillar['message_do_not_modify'] }}
command[check_uwsgi]=/usr/lib/nagios/plugins/check_procs -w 2:2 -a '/usr/local/uwsgi/uwsgi --uid www-data --gid www-data --threaded-logger --logger graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }} --carbon-id emperor --carbon {{ pillar['graphite_address'] }}:2003 --emperor /etc/uwsgi/' -u www-data
