# {{ pillar['message_do_not_modify'] }}
command[check_{{ deployment }}_master]=/usr/lib/nagios/plugins/check_procs -w 1:1 -u www-data -C {{ deployment }}-master
command[check_{{ deployment }}]=/usr/lib/nagios/plugins/check_procs -w {{ workers }}:{{ workers }} -u www-data -C {{ deployment }}
