{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'uwsgi/nrpe/instance.jinja2' import uwsgi_instance with context %}
{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context %}
{%- from 'mysql/server/nrpe/instance.jinja2' import mysql_instance_prefix with context %}
{%- set deployment = "piwik" %}

# {{ salt['pillar.get']('message_do_not_modify') }}

{{ uwsgi_instance(deployment) }}
{{ mysql_instance_prefix(deployment) }}
{{ nginx_instance(deployment, extra_dependencies=('piwik_uwsgi_worker', 'piwik_mysql')) }}
