{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

start on (filesystem and net-device-up IFACE=lo)
stop on runlevel [!2345]

respawn
respawn limit 10 5

pre-start script
    install -o www-data -g www-data -m 750 -d /var/run/memcache
end script

{%- set memory = salt['pillar.get']('memcache:memory', 64) %}
exec /usr/bin/memcached {% if memory %}-m {{ memory }}{% endif %} -s /var/run/memcache/memcache.sock -u www-data
