{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
# memcached upstart script

start on (filesystem and net-device-up IFACE=lo)
stop on runlevel [!2345]

respawn
respawn limit 10 5
{%- set memory = salt['pillar.get']('memcache:memory', 64) %}
{%- if memory %}
exec /usr/bin/memcached -m {{ memory }} -s /tmp/memcached.sock -u www-data
{%- else %}
exec /usr/bin/memcached -s /tmp/memcached.sock -u www-data
{%- endif %}
