{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

start on (filesystem and net-device-up IFACE=lo)
stop on runlevel [!2345]

respawn
respawn limit 10 5
{%- set memory = salt['pillar.get']('memcache:memory', 64) %}
{%- if memory %}
exec /usr/bin/memcached -m {{ memory }} -s /tmp/memcached.sock -u www-data
{%- else %}
exec /usr/bin/memcached -s /tmp/memcached.sock -u www-data
{%- endif %}
