{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

rsync_port:
  description: Rsync Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 873 -t {{ timeout }}
  {{ passive_interval(60) }} {#- 1 hour #}
  timeout: {{ timeout }}
  dependencies:
    - xinetd_daemon_proc

rsync_port_ipv6:
  description: Rsync Port using IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 873 -t {{ timeout }}
  {{ passive_interval(60) }} {#- 1 hour #}
  timeout: {{ timeout }}
  dependencies:
    - xinetd_daemon_proc
