{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
ServerKeyBits 768
# default values set by debian openssh-server
Protocol 2
ChallengeResponseAuthentication no
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes
MaxAuthTries 3
# end of default values. here start overwrite:
{%- for port in salt['pillar.get']('ssh:server:ports', [22]) %}
Port {{ port }}
{%- endfor %}
{%- for cfg in salt['pillar.get']('ssh:server:extra_configs', []) %}
  {%- if not cfg.startswith('Port ') %}
{{ cfg }}
  {%- endif %}
{%- endfor %}
