{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{% for host in salt['pillar.get']('shinken_pollers', []) %}
:msg, contains, "Connection closed by {{ host }} [preauth]" stop
:msg, contains, "Did not receive identification string from {{ host }}" stop
{%- endfor -%}
