{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

{% for host in salt['pillar.get']('shinken_pollers', []) %}
:msg, contains, "Connection closed by {{ host }} [preauth]" stop
:msg, contains, "Did not receive identification string from {{ host }}" stop
{%- endfor -%}
