{#- Usage of this is governed by a license that can be found in doc/license.rst #}
{%- set btcd_listen = salt["pillar.get"]("btcd:listen", ":8333") %}
{%- set btcd_listen_ip, btcd_listen_port = btcd_listen.split(":") %}
{%- set btcd_listen_ip = "127.0.0.1" if btcd_listen_ip == "" else btcd_listen_ip %}
{%- set btcd_rpclisten = salt["pillar.get"]("btcd:rpclisten", ":8334") %}
{%- set btcd_rpclisten_ip, btcd_rpclisten_port = btcd_rpclisten.split(":") %}
{%- set btcd_rpclisten_ip = "127.0.0.1" if btcd_rpclisten_ip == "" else btcd_rpclisten_ip %}

btcd_procs:
  description: Btcd Process
  command: /usr/lib/nagios/plugins/check_procs -c 1:1 -u btcd -C 'btcd'

btcd_port:
  description: Btcd Listen Port
  command: /usr/lib/nagios/plugins/check_tcp -H '{{ btcd_listen_ip }}' -p '{{ btcd_listen_port }}'

{%- if btcd_listen_ip == "127.0.0.1" or '::' in btcd_listen_ip %}
  {%- set btcd_listen_ipv6 = "::1" if btcd_listen_ip == "127.0.0.1" else btcd_listen_ip %}
btcd_port_ipv6:
  description: Btcd Listen Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H {{ btcd_listen_ipv6 }} -p {{ btcd_listen_port }}
{%- endif %}

btcd_rpc_port:
  description: Btcd RPC Listen Port
  command: /usr/lib/nagios/plugins/check_tcp -H '{{ btcd_rpclisten_ip }}' -p '{{ btcd_rpclisten_port }}'

{%- if btcd_rpclisten_ip == "127.0.0.1" or '::' in btcd_rpclisten_ip %}
  {%- set btcd_rpclisten_ipv6 = "::1" if btcd_rpclisten_ip == "127.0.0.1" else btcd_rpclisten_ip %}
btcd_rpc_port_ipv6:
  description: Btcd RPC Listen Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H {{ btcd_rpclisten_ipv6 }} -p {{ btcd_rpclisten_port }}
{%- endif %}
