# {{ pillar['message_do_not_modify'] }}
{% set ssl = salt['pillar.get']('ldap:ssl', False) %}

{% if ssl %}
SSL ON
TLS_CACERT      /etc/ssl/{{ salt['pillar.get']('ldap:ssl') }}/ca.crt
TLS_REQCERT never
{% endif %}
HOST {{ grains['id'] }}
PORT 389
