{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{% set ssl = salt['pillar.get']('ldap:ssl', False) %}

{% if ssl %}
SSL ON
TLS_CACERT /etc/ssl/certs/{{ salt['pillar.get']('ldap:ssl') }}_ca.crt
TLS_REQCERT never
{% endif %}
HOST {{ grains['id'] }}
PORT 389
