{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{% set ssl = salt['pillar.get']('ldap:ssl', False) %}

{% if ssl %}
SSL ON
TLS_CACERT      /etc/ssl/certs/{{ salt['pillar.get']('ldap:ssl') }}_ca.crt
TLS_REQCERT never
{% endif %}
HOST {{ grains['id'] }}
PORT 389
