{#-
Copyright (c) 2013, Hung Nguyen Viet
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Hung Nguyen Viet <hvnsweeting@gmail.com>
Maintainer: Hung Nguyen Viet <hvnsweeting@gmail.com>
-#}
{% set rootdn = pillar['ldap']['rootdn'] %}
dn: olcDatabase={1}hdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ pillar['ldap']['suffix'] }}
-
replace: olcRootDN
olcRootDN: {{ rootdn }}
-
replace: olcRootPW
olcRootPW: {{ pillar['ldap']['rootpw'] }}
-
delete: olcAccess
-
add: olcAccess
olcAccess: {0}to * by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external
 ,cn=auth manage by * break
olcAccess: {1}to attrs=userPassword,shadowLastChange by self write by anonymou
 s auth by dn="{{ rootdn }}" write by * none
olcAccess: {2}to dn.base="" by * read
olcAccess: {3}to * by self write by dn="{{ rootdn }}" write
  by * read

dn: cn=config
changetype: modify
replace: olcLogLevel
{%- if salt['pillar.get']('debug', False) %}
olcLogLevel: -1
{%- else %}
olcLogLevel: 256
{%- endif -%}
{%- if salt['pillar.get']('ldap:ssl', False) %}
-
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: /etc/ssl/certs/{{ pillar['ldap']['ssl'] }}_ca.crt
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: /etc/ssl/certs/{{ pillar['ldap']['ssl'] }}.crt
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /etc/ssl/private/{{ pillar['ldap']['ssl'] }}.pem
-
replace: olcSecurity
olcSecurity: ssf=128
-
replace: olcTLSVerifyClient
olcTLSVerifyClient: never
-
replace: olcTLSCipherSuite
{# use openssl CipherSuite here cause a segfault -#}
olcTLSCipherSuite: SECURE256:!AES-128-CBC:-VERS-SSL3.0
-
replace: olcLocalSSF
olcLocalSSF: 128
{% endif -%}
