{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
openldap_procs:
  description: OpenLDAP Daemon (slapd)

openldap_port:
  description: LDAP Port

openldap_base:
  description: LDAP Base
