{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{#- ldiff simple example -#}
{% set suffix = salt['pillar.get']('ldap:suffix') %}
dn: {{ suffix }}
objectClass: top
objectClass: dcObject
objectClass: organization
o: admin
dc: {{ suffix.split(',')[-2].split('=')[1] }}


dn: ou=people,{{ suffix }}
ou: people
objectClass: organizationalUnit
