{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
	     Bruno Clermont patate@fastmail.cn
 -#}
{%- extends "salt/cloud/bootstrap.jinja2" -%}

{%- block post %}
sleep {{ salt['pillar.get']('salt_cloud:sleep', 60) }}
{{ super() }}
{%- endblock -%}
