{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
	     Bruno Clermont patate@fastmail.cn
 -#}
#!/bin/sh
# {{ pillar['message_do_not_modify'] }}
*/5 * * * * root rsync -aq --delete {{ pillar['salt_archive']['source'] }} /var/lib/salt_archive/
