{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Bruno Clermont patate@fastmail.cn
	     Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
# {{ pillar['message_do_not_modify'] }}
file_recv: True
