#!/bin/bash
# {{ pillar['message_do_not_modify'] }}
{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Bruno Clermont patate@fastmail.cn
	     Hung Nguyen Viet hvnsweeting@gmail.com
 #}
set -e
set -x
sudo salt-cloud --destroy --assume-yes integration-$JOB_NAME-$BUILD_NUMBER
rm -f /srv/salt/jenkins_archives/$JOB_NAME-$BUILD_NUMBER.tar.gz
sudo salt `hostname` file.remove /var/cache/salt/master/minions/integration-$JOB_NAME-$BUILD_NUMBER
