{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

            Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
jenkins ALL=(root)NOPASSWD:/usr/bin/salt,/usr/bin/salt-key,/usr/bin/salt-cloud,/usr/local/bin/import_test_data.py
