{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
jenkins ALL=(root)NOPASSWD:/usr/bin/salt,/usr/bin/salt-key,/usr/bin/salt-cloud,/usr/local/bin/import_test_data.py
