#!/bin/bash
# {{ pillar['message_do_not_modify'] }}
set -e
set -x
cd common
./bootstrap_archive.py ../pillar ../non-common > /srv/salt/jenkins_archives/$JOB_NAME-$BUILD_NUMBER.tar.gz
sudo salt-cloud -p ci-minion integration-$JOB_NAME-$BUILD_NUMBER
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" --output json cmd.run_all "hostname integration-$JOB_NAME-$BUILD_NUMBER" | /usr/local/bin/retcode_check.py
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" cp.get_file salt://jenkins_archives/$JOB_NAME-$BUILD_NUMBER.tar.gz /tmp/bootstrap-archive.tar.gz
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" archive.tar xzf /tmp/bootstrap-archive.tar.gz cwd=/
sudo salt -t 86400 "integration-$JOB_NAME-$BUILD_NUMBER" --output json cmd.run_all /root/salt/states/test/integration.py > /root/salt/debug.log" > | /usr/local/bin/retcode_check.py
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" pkg.install python-pip
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" pip.install unittest-xml-reporting
sudo salt -t 86400 "integration-$JOB_NAME-$BUILD_NUMBER" cmd.run "/root/salt/states/test/integration.py $* > /root/salt/stdout.log 2> /root/salt/stderr.log"
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" service.restart salt-minion
sleep 15
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" --output json cmd.run_all "xz /root/salt/*.log" | /usr/local/bin/retcode_check.py
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" cp.push /root/salt/TEST-States.xml
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" cp.push /root/salt/stderr.log.xz
sudo salt "integration-$JOB_NAME-$BUILD_NUMBER" cp.push /root/salt/stdout.log.xz
sudo /usr/local/bin/import_test_data.py $BUILD_NUMBER $JOB_NAME integration-$JOB_NAME-$BUILD_NUMBER $WORKSPACE
sudo salt-cloud --destroy --assume-yes integration-$JOB_NAME-$BUILD_NUMBER
xz -d -c $WORKSPACE/$BUILD_NUMBER-stderr.log.xz
mv /srv/salt/jenkins_archives/$JOB_NAME-$BUILD_NUMBER.tar.gz $WORKSPACE/bootstrap-archive-$BUILD_NUMBER.tar.gz
