{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Van Diep Pham <favadi@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
{%- macro mongodb_backup_diamond(deployment)  %}
{{ deployment }}_backup_diamond_resources:
  file:
    - accumulated
    - name: processes
    - template: jinja
    - filename: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - require_in:
      - file: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - text:
      - |
        [[backup-{{ deployment }}-mongodb]]
        cmdline = ^\/usr\/local\/bin\/backup-mongodb {{ deployment }}$
{%- endmacro  %}
