{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

set -e

# limit resources usage
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$
XZ_DEFAULTS=--memlimit={{ salt['pillar.get']('backup:xz_memlimit', 64) }}MiB

dbname=$1
NOW=`date '+%Y-%m-%d-%H_%M_%S'`
export TERM=dumb
workdir=`mktemp -d`
cd $workdir
mongodump -d $dbname > /dev/null
tar --xz -cf mongodb-$dbname-$NOW.tar.xz dump
mv mongodb-$dbname-$NOW.tar.xz /tmp
cd /tmp
rm -rf $workdir
/usr/local/bin/backup-store mongodb-$dbname-$NOW.tar.xz
