{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set hostnames = salt["pillar.get"]("syncthing:hostnames", [])|default(False, boolean=True) %}
{%- if hostnames %}
  {%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
  {{ nginx_instance("syncthing", http_result="401 Unauthorized",
                  https_result="401 Unauthorized", domain_name=hostnames[0]) }}
{%- endif %}

syncthing_procs:
  description: Syncthing Procs
  command: /usr/lib/nagios/plugins/check_procs -c 1:1 -u syncthing -C syncthing

syncthing_port:
  description: Syncthing Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 8384

{#- this file can't be empty #}
syncthing_dummy:
  description: Please ignore this check
  command: /usr/lib/nagios/plugins/check_dummy 0
