{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
{%- set vpns = salt['pillar.get']('openvpn', {}) %}
{%- for instance in vpns %}
openvpn_{{ instance }}:
  description: Openvpn Instance {{ instance }}
  command: "/usr/lib/nagios/plugins/check_procs -C openvpn -c 1:1 -a '--config /etc/openvpn/{{ instance }}/config'"
{%- endfor %}

openvpn_procs:
  description: Openvpn Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c {{ vpns|length }}:{{ vpns|length }} -C openvpn'
