{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
{%- set vpns = salt['pillar.get']('openvpn:servers', {}) %}
{%- for instance in vpns %}
{%- set mode = vpns[instance]['mode'] %}
openvpn_{{ instance }}:
  description: OpenVPN Instance {{ instance }}
  command: "/usr/lib/nagios/plugins/check_procs -C openvpn -c 1:1 -a '--config /etc/openvpn/{{ instance }}/config'"

openvpn_{{ instance }}_port:
  description: OpenVPN Instance {{ instance }} Port
    {%- if mode == 'static' %}
  command: "/usr/lib/nagios/plugins/check_udp_listen {{ vpns[instance]['peers'][grains['id']]['port'] | default(1194) }}"
    {%- elif mode == 'tls' %}
        {%- if vpns[instance]['protocol'] == 'udp' %}
  command: "/usr/lib/nagios/plugins/check_udp_listen {{ vpns[instance]['port'] }}"
        {%- else %}
  command: "/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p {{ vpns[instance]['port'] }}"
        {%- endif %}
    {%- endif %}
  dependencies:
    - openvpn_{{ instance }}
{%- endfor %}

openvpn_procs:
  description: OpenVPN Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c {{ vpns|length }}:{{ vpns|length }} -C openvpn'
