# {{ pillar['message_do_not_modify'] }}
{%- set vpns = instances|default([]) %}
command[openvpn_procs]=/usr/lib/nagios/plugins/check_procs -c {{ vpns|length }}:{{ vpns|length }} -C openvpn
{%- for instance in vpns %}
command[openvpn_{{ instance }}]=/usr/lib/nagios/plugins/check_procs -C openvpn -c 1:1 -a '--config /etc/openvpn/{{ instance }}/config'
{%- endfor -%}
