{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- set formula = 'geminabox' %}

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{%- from 'uwsgi/nrpe/instance.jinja2' import uwsgi_instance with context -%}

{%- set username = salt["pillar.get"]("geminabox:username", False) %}
{%- set password = salt["pillar.get"]("geminabox:password", False) %}

{%- if username and password %}
  {%- set check_result = "401 Unauthorized" %}
{%- else %}
  {%- set check_result = "200 OK" %}
{%- endif %}

{{ uwsgi_instance(formula) }}
{{ nginx_instance(formula, http_result=check_result, https_result=check_result) }}
