{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>

-#}
pdnsd_procs:
  description: Proxy DNS Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C pdnsd -u pdnsd'

pdnsd_caching:
  description: DNS Caching
  command: sudo /usr/lib/nagios/plugins/check_dns_caching.py --formula=pdnsd --check=pdnsd_caching
  timeout: 30
  dependencies:
    - pdnsd_procs
