{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

pdnsd_procs:
  description: Proxy DNS Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C pdnsd -u pdnsd'

pdnsd_caching:
  description: DNS Caching
  command: sudo /usr/lib/nagios/plugins/check_dns_caching.py --formula=pdnsd --check=pdnsd_caching
  timeout: 30
  dependencies:
    - pdnsd_procs
