{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 15 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

ssh_procs:
  description: SSH Server Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C sshd -u root -a /usr/sbin/sshd'

{#- check only one port to see if ssh daemon works, no need to check all ports #}
ssh_port:
  description: SSH Server Local Port
  command: "/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p {{ salt['pillar.get']('ssh:server:ports', [22])[0] }} -t {{ timeout }}"
  timeout: {{ timeout }}
  dependencies:
    - ssh_procs

ssh_port_ipv6:
  description: SSH Server Local Port
  command: "/usr/lib/nagios/plugins/check_tcp -H ::1 -p {{ salt['pillar.get']('ssh:server:ports', [22])[0] }} -t {{ timeout }}"
  timeout: {{ timeout }}
  dependencies:
    - ssh_procs
