# {{ pillar['message_do_not_modify'] }}
{% set diamond = pillar['diamond']|default({}) %}
[server]

# Handlers for published metrics.
handlers = diamond.handler.graphite.GraphiteHandler
#diamond.handler.stats_d.StatsdHandler

# Leave empty to use the current user
user =

# Leave empty to use the current group
group =

pid_file = /var/run/diamond.pid

# Directory to load collector modules from
collectors_path = /usr/local/diamond/src/diamond/src/collectors/

# Directory to load collector config from
collectors_config_path = /etc/diamond/collectors/

# Interval to reload collectors
collectors_reload_interval = 3600

#handlers_config_path = /etc/diamond/handlers/

### Options for handlers
[handlers]

# logging handlers
keys = handler

[[default]]

[[GraphiteHandler]]

host = {{ pillar['graphite_address'] }}

# Port to send metrics to
port = 2003

batch = 256

# Socket timeout (seconds)
timeout = 15

#[[StatsdHandler]]
#host = 127.0.0.1
#port = 8125

[collectors]

[[default]]

hostname_method = uname_short

# All collectors are disabled by default
enabled = False

# Path Prefix
path_prefix =
path_suffix = os

# Default splay time (seconds)
splay = 1

# Default Poll Interval (seconds)
interval = 60

# Default collector threading model
method = Sequential

# Default numeric output
byte_unit = byte

[[ConnTrackCollector]]

enabled = True

[[CPUCollector]]

enabled = True

[[DiskSpaceCollector]]

enabled = True

{% if grains['virtual'] != 'openvzve' %}
[[DiskUsageCollector]]

enabled = True

# when the following comment is answered positively:
# https://github.com/BrightcoveOS/Diamond/commit/9ac782848dbfb5d25b4fcb7c59ce1228fb975350
# this is required
devices = md[0-9]*$|[vs]d[a-z][0-9]*$|xvd[a-z][0-9]*$|dm\-[0-9]*$
{% endif %}

[[FilestatCollector]]

enabled = True

[[InterruptCollector]]

enabled = True

[[LoadAverageCollector]]

enabled = True

[[MemoryCollector]]

enabled = True

[[NetworkCollector]]

enabled = True
{% if 'interfaces' not in diamond %}
interfaces = eth0, lo
{% else %}
interfaces = {% for interface in diamond['interfaces'] %}{{ interface }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}

{% for host in ping_hosts -%}
{%- if loop.first %}
[[PingCollector]]

enabled = True
{% endif %}
target_{{ host }} = {{ ping_hosts[host] }}
{%- endfor -%}
{%- endif %}

[[ProcessStatCollector]]

enabled = True

{% if salt['file.file_exists']('/proc/slabinfo') %}
[[SlabInfoCollector]]

enabled = True
{% endif -%}

[[SockstatCollector]]

enabled = True

[[TCPCollector]]

enabled = True

[[VMStatCollector]]

enabled = True

[loggers]

keys = root

[formatters]

keys = formatter

[logger_root]
# to increase verbosity, set DEBUG
level = INFO
handlers = handler

[handler_handler]
class=graypy.handler.GELFHandler
level=DEBUG
formatter=formatter
args = ('{{ pillar['graylog2_address'] }}', 12201)

[formatter_formatter]
class = logging.Formatter
format = %(message)s
datefmt =
