{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{% set mdata = salt['pillar.get']('ldap:data', {}) %}
{% for dom in mdata %}
  {% for user in mdata[dom] %}
{{ user }}@{{ dom }} {{ dom }}/{{ user }}
  {% endfor %}
{% endfor %}
