{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{% set mdata = salt['pillar.get']('ldap:data', {}) %}
{% for dom in mdata %}
  {% for user in mdata[dom] %}
{{ user }}@{{ dom }} {{ dom }}/{{ user }}
  {% endfor %}
{% endfor %}
