{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
openerp_backup_postgres_procs:
  description: OpenERP Backup PostgreSQL Database Process
  command: '/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a "/usr/local/bin/backup-postgresql-by-role {{ salt["pillar.get"]("openerp:db:name", "openerp") }}"'

{#- \\\ for escaping quote as this cmd will be process by jinja2 then by bash
 su will let new user in /root, it need cd to other dir before running psql #}
{%- set cmd = 'cd /; su -s /bin/sh --command "psql --tuples-only --no-align -c \\\"SELECT pg_database.datname FROM pg_database, pg_authid WHERE pg_database.datdba=pg_authid.oid AND pg_authid.rolname=' + "'openerp'" + '\\\"" postgres' %}
{%- for db in salt['cmd.run'](cmd).split() %}
openerp_backup_postgres_{{ db }}_age:
  description: OpenERP Backup Database {{ db }} Age
  command: /usr/lib/nagios/plugins/check_backup.py --formula=openerp.backup --check=openerp_backup_postgres_{{ db }}_age
  check_interval: {{ 12 * 60 }} {#- 12 hours  #}
  freshness_threshold: {{ ((12 * 60) + 10) * 60 }} {#- 12 hours + 10 minutes #}
  arguments:
    facility: postgresql-openerp-{{ db }}
    warning: {{ salt['pillar.get']('backup:age', 48) }}
  timeout: 55
  dependencies:
    {#- no alert if load is too high #}
    - load_average
{%- endfor %}
