{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

openerp_backup_postgres_procs:
  description: OpenERP Backup PostgreSQL Database Process
  command: '/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a "/usr/local/bin/backup-postgresql-by-role {{ salt["pillar.get"]("openerp:db:name", "openerp") }}"'

{%- set dbs = salt['postgres.db_list']() -%}
{%- for db in dbs -%}
    {%- if dbs[db]['Owner'] == salt['pillar.get']('openerp:db:username', 'openerp') %}
openerp_backup_postgres_{{ db }}_age:
  description: OpenERP Backup Database {{ db }} Age
  command: /usr/lib/nagios/plugins/check_backup.py --formula=openerp.backup --check=openerp_backup_postgres_{{ db }}_age
  {{ passive_interval(12 * 60) }} {#- 12 hours #}
  arguments:
    facility: postgresql-openerp-{{ db }}
    warning: {{ salt['pillar.get']('backup:age', 48) }}
  timeout: 55
  dependencies:
    {#- no alert if load is too high #}
    - load_average
    {%- endif -%}
{%- endfor -%}
