{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

mattermost_backup_postgres_procs:
  description: Mattermost Backup PostgreSQL Database Process
  command: '/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a "/usr/local/bin/backup-postgresql mattermost"'

mattermost_backup:
  description: Mattermost Backup Age And Size
  command: /usr/lib/nagios/plugins/check_backup.py --formula=mattermost.backup --check=mattermost_backup
  {{ passive_interval(12 * 60) }} {#- 12 hours #}
  arguments:
    facility: postgresql-mattermost
    warning: {{ salt['pillar.get']('backup:age', 48) }}
  timeout: 55
  dependencies:
    {#- no alert if load is too high #}
    - load_average
