# {{ pillar['message_do_not_modify'] }}
command[check_rabbitmq]=/usr/lib/nagios/plugins/check_procs -w 1:1 -C beam{% if grains['num_cpus'] > 1 %}.smp{% endif %} -u rabbitmq
command[check_rabbitmq_webui]=/usr/lib/nagios/plugins/check_http -H 127.0.0.1 -u / -p 15672 -e '200 OK'
