{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
{{ package_name }} ({{ version }}) stable; urgency=low

  * {{ description }}

 -- No one <fake@example.com>  Thu,  1 Jan 1970 00:00:00 +0000
