{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set mongodb_suffix = '0-20' %}
graylog2_backup_mongodb_procs:
  description: Graylog2 Backup MongoDB Process
  command: '/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a "/usr/local/bin/backup-mongodb graylog2"'

graylog2_backup:
  description: Graylog2 Backup Age And Size
  command: /usr/lib/nagios/plugins/check_backup.py --formula=graylog2.server.backup --check=graylog2_backup
  {{ passive_interval(12 * 60) }} {#- 12 hours #}
  arguments:
    facility: mongodb-graylog2-{{ mongodb_suffix }}
    warning: {{ salt['pillar.get']('backup:age', 48) }}
  timeout: 55
  dependencies:
    {#- no alert if load is too high #}
    - load_average
