{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{#- this config only turn on a collector, it don't need to require additional
 configs. #}
enabled = True
