{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Quan Tong Anh <quanta@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
{%- macro uwsgi_diamond(state) %}
include:
  - diamond
  - nginx.diamond
  - uwsgi.diamond
{%- if caller is defined %}
    {%- for line in caller().split("\n") %}
{{ line|trim|indent(2, indentfirst=True) }}
    {%- endfor %}
{%- endif %}

{{ state }}_diamond_resource:
  file:
    - accumulated
    - name: processes
    - filename: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - require_in:
      - file: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - text:
      - |
        [[uwsgi-{{ state }}]]
        cmdline = ^{{ state }}-(worker|master)$
{%- endmacro %}

{#-
zcpupct: accept value=0 for cpu_percent metric (z stands for zero).
zmempct: accept value=0 for mem_percent metric.
If it is obvious that these value ares not equal zero, set them to False
to make sure receiving the expected metrics. E.g. jenkins daemon process sure
will use > 0 % memory percent, wrong diamond config may collect the value=0,
set zmempct=False to fail the test if that happens.
#}
{%- macro diamond_process_test(state, zcpupct=True, zmempct=True) %}
          process.{{ state }}.memory_info_ex.vms: False
          process.{{ state }}.memory_info_ex.rss: False
          process.{{ state }}.cpu_percent: {{ zcpupct }}
          process.{{ state }}.memory_percent: {{ zmempct }}
          process.{{ state }}.num_threads: False
{%- endmacro %}
