{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- macro uwsgi_diamond(state) %}
include:
  - diamond
  - nginx.diamond
  - uwsgi.diamond
{%- if caller is defined %}
    {%- for line in caller().split("\n") %}
{{ line|trim|indent(2, indentfirst=True) }}
    {%- endfor %}
{%- endif %}

{{ state }}_diamond_resource:
  file:
    - accumulated
    - name: processes
    - filename: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - require_in:
      - file: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - text:
      - |
        [[uwsgi-{{ state }}]]
        cmdline = ^{{ state }}-(worker|master)$
{%- endmacro %}

{#-
zcpupct: accept value=0 for cpu_percent metric (z stands for zero).
zmempct: accept value=0 for mem_percent metric.
If it is obvious that these value ares not equal zero, set them to False
to make sure receiving the expected metrics. E.g. jenkins daemon process sure
will use > 0 % memory percent, wrong diamond config may collect the value=0,
set zmempct=False to fail the test if that happens.
#}
{%- macro diamond_process_test(state, zcpupct=True, zmempct=True) %}
          process.{{ state }}.cpu_percent: {{ zcpupct }}
          process.{{ state }}.cpu_times.system: True
          process.{{ state }}.cpu_times.user: True
          process.{{ state }}.io_counters.read_bytes: True
          process.{{ state }}.io_counters.read_count: True
          process.{{ state }}.io_counters.write_bytes: True
          process.{{ state }}.io_counters.write_count: True
          process.{{ state }}.memory_info_ex.data: True
          process.{{ state }}.memory_info_ex.dirty: True
          process.{{ state }}.memory_info_ex.lib: True
          process.{{ state }}.memory_info_ex.rss: False
          process.{{ state }}.memory_info_ex.shared: True
          process.{{ state }}.memory_info_ex.text: True
          process.{{ state }}.memory_info_ex.vms: False
          process.{{ state }}.memory_percent: {{ zmempct }}
          process.{{ state }}.num_ctx_switches.involuntary: True
          process.{{ state }}.num_ctx_switches.voluntary: True
          process.{{ state }}.num_fds: False
          process.{{ state }}.num_threads: False
          process.{{ state }}.uptime: False
{%- endmacro %}

{%- macro fail2ban_count_ip(jail) %}
/usr/local/diamond/share/diamond/user_scripts/count_banned_{{ jail }}.sh:
  file:
    - managed
    - source: salt://fail2ban/diamond/count_banned_ip.jinja2
    - template: jinja
    - context:
        jail: {{ jail }}
    - user: root
    - group: root
    - mode: 550
    - require:
      - module: diamond
      - file: diamond.conf
  {%- if salt['pillar.get']('fail2ban:banaction', 'hostsdeny').startswith('iptables') %}
      - pkg: iptables
  {%- endif %}
{%- endmacro %}

{%- macro fail2ban_count_ip_absent(jail) %}
/usr/local/diamond/share/diamond/user_scripts/count_banned_{{ jail }}.sh:
  file:
    - absent
{%- endmacro %}
