{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

enabled = True
unit = kB

path = process

[process]

[[diamond]]

cmdline = ^\/usr\/local\/diamond\/bin\/python \/usr\/local\/diamond\/bin\/diamond

[[init]]
exe=^\/sbin\/init$

[[udev]]

exe = ^\/sbin\/udevd$

{% if accumulator|default(False) %}
{% for line in accumulator['processes'] %}
{{ line }}
{% endfor %}
{% endif %}
