{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}

enabled = True
unit = kB

path = process

[process]

[[diamond]]

cmdline = ^\/usr\/local\/diamond\/bin\/python \/usr\/local\/diamond\/bin\/diamond

[[upstart]]

cmdline = ^\/sbin\/init

[[udev]]

exe = ^\/sbin\/udevd$

{% if accumulator|default(False) %}
{% for line in accumulator['processes'] %}
{{ line }}
{% endfor %}
{% endif %}
