{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

enabled = True
unit = kB

path = process

[process]

[[diamond]]

cmdline = ^\/usr\/local\/diamond\/bin\/python \/usr\/local\/diamond\/bin\/diamond

[[init]]
exe=^\/sbin\/init$

[[udev]]

{%- if grains['lsb_distrib_codename'] == 'precise' %}
exe = ^\/sbin\/udevd$
{%- else %}
exe = ^\/lib\/systemd\/systemd-udevd$
{%- endif -%}

{% if accumulator|default(False) %}
{% for line in accumulator['processes'] %}
{{ line }}
{% endfor %}
{% endif %}
