{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
            Quan Tong Anh <quanta@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

configobj==5.0.6
pip==1.5.2
psutil==2.1.3
six==1.9.0
{%- if salt['pillar.get']('files_archive', False) %}
diamond==3.7.1
{%- else %}
https://github.com/hvnsweeting/Diamond/archive/v3.7.1.tar.gz
{%- endif -%}
{%- if salt['pillar.get']('graylog2_address', False) %}
graypy==0.2.9
{%- endif %}
{%- if salt['pillar.get']('sentry_dsn', False) %}
requests==2.4.3
raven==4.1.1
{%- endif %}
