# {{ pillar['message_do_not_modify'] }}
pip>=1.3.1
{% if 'file_proxy' in pillar %}
    {% for p in ('configobj-4.7.2', 'psutil-0.7.1', 'diamond-..0github-archive') -%}
{{ pillar['file_proxy'] }}/{{ '-'.join(p.split('-')[:-1]) }}/{{ p }}.tar.gz
    {% endfor -%}
    {% if 'graylog2_address' in pillar -%}
{% set p = 'graypy-0.2.9' -%}
{{ pillar['file_proxy'] }}/{{ '-'.join(p.split('-')[:-1]) }}/{{ p }}.tar.gz
    {% endif -%}
{% else %}
    {%- if 'graylog2_address' in pillar %}
graypy
    {%- endif %}
-e git+git://github.com/BrightcoveOS/Diamond.git@2d1149fb9d419a3016f5fe8e0830fa0015fbda06#egg=diamond
{% endif %}
