{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 20 -%}
{%- set config = {'num_workers': grains['num_cpus']} -%}
{%- if not salt['pillar.get']('nginx:worker_processes', 'auto') -%}
    {%- do config.update({'num_workers': salt['pillar.get']('nginx:worker_processes')}) -%}
{%- endif -%}
{%- from 'macros.jinja2' import enable_ipv4, enable_ipv6 with context %}

# {{ salt['pillar.get']('message_do_not_modify') }}

nginx_status:
  description: Nginx Status Page
  command: '/usr/lib/nagios/plugins/check_http -t {{ timeout }} -H 127.0.0.1 -I 127.0.0.1 -u /nginx_status -p 80 -e "200 OK"'
  timeout: {{ timeout }}
  dependencies:
    - nginx_workers

{%- if enable_ipv6 %}
nginx_status_ipv6:
  description: Nginx Status Page
  command: '/usr/lib/nagios/plugins/check_http -6 -t {{ timeout }} -H [::1] -I [::1] -u /nginx_status -p 80 -e "200 OK"'
  timeout: {{ timeout }}
  dependencies:
    - nginx_workers
{%- endif %}

nginx_workers:
  description: Nginx Worker Processes
  command: '/usr/lib/nagios/plugins/check_procs -c {{ config['num_workers'] }}:{{ config['num_workers'] }} -a "nginx: worker process" -u www-data'
  dependencies:
    - nginx_master

nginx_master:
  description: Nginx Master Process
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -a "nginx: master process /usr/sbin/nginx -c /etc/nginx/nginx.conf" -u root'
