{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <patate@fastmail.cn>
Maintainer: Bruno Clermont <patate@fastmail.cn>
-#}
{%- macro nginx_instance(deployment, http=True, http_uri='/', http_result=None, http_port=80, https_uri=None, https_result="200 OK", prefix=None, timeout=False, domain_name=None) -%}
    {%- set first_ip = salt['network.ip_addrs']()[0] -%}
    {%- if not prefix -%}
        {%- set prefix = deployment -%}
    {%- endif -%}
    {%- if not domain_name %}
        {%- set domain_name = salt['pillar.get'](prefix + ':hostnames', ['127.0.0.1'])[0] -%}
    {%- endif %}
    {#- if http is redirected to https, force a specific header -#}
    {%- if salt['pillar.get'](prefix + ':ssl_redirect', False) -%}
        {%- set http_result="301 Moved Permanently" -%}
    {%- elif not http_result -%}
        {%- set http_result="200 OK" -%}
    {%- endif %}

{{ deployment }}_nginx_http:
  description: {{ deployment|capitalize }} HTTP Protocol
  command: /usr/lib/nagios/plugins/check_http -H {{ domain_name }} -u {{ http_uri }} -p {{ http_port }} -e '{{ http_result }}' -I {{ first_ip }}
    {%- if timeout %} --timeout={{ timeout }}{% endif -%}
    {%- if salt['pillar.get']('__test__', False) %} -v{%- endif %}

    {%- if salt['pillar.get'](prefix + ':ssl', False) %}
        {%- if not https_uri -%}
            {%- set https_uri = http_uri -%}
        {%- endif %}
{{ deployment }}_nginx_https:
  description: {{ deployment|capitalize }} HTTPS Protocol
  command: /usr/lib/nagios/plugins/check_http -S -H {{ domain_name }} -u {{ https_uri }} -e '{{ https_result }}' -I {{ first_ip }}
        {%- if timeout %} --timeout={{ timeout }}{% endif -%}
        {%- if salt['pillar.get']('__test__', False) %} -v{%- endif %}

{{ deployment }}_nginx_https_certificate:
  description: {{ deployment|capitalize }} HTTPS Certificate Expiration
  check_interval: 1440 {#- only need to check https certificate each day #}
  freshness_threshold: {{ (1440 + 10) * 60 }}
  command: /usr/lib/nagios/plugins/check_http -S -H {{ domain_name }} -C {{ salt['pillar.get']('ssl_https_max_age', 60) }} -I {{ first_ip }}
    {%- endif -%}
{%- endmacro -%}
