# {{ pillar['message_do_not_modify'] }}
{# for some reason arbiter don't change it's user id to shinken -#}
command[shinken_arbiter_procs]=/usr/lib/nagios/plugins/check_procs -c 1:10 -u root -C shinken-arbiter
command[shinken_arbiter_port]=/usr/lib/nagios/plugins/check_tcp -H {{ salt['mine.get'](grains['id'], 'monitoring.data')[grains['id']]['ip_addrs']['private'] }} -p 7770
