{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

shinken_arbiter_procs:
  description: Shinken Arbiter Daemon
{#- for some reason arbiter don't change it's user id to shinken #}
  command: "/usr/lib/nagios/plugins/check_procs -c 1:10 -u root -a 'shinken-arbiter -c /etc/shinken/arbiter.conf'"

{%- set arbiter_mine = salt['mine.get'](grains['id'], 'monitoring.data') %}
{%- if arbiter_mine %}
shinken_arbiter_port:
  description: Shinken Arbiter Local Port
  command: "/usr/lib/nagios/plugins/check_tcp -H {{ arbiter_mine[grains['id']]['ip_addrs']['private'] }} -p 7770 -t {{ timeout }}"
  timeout: {{ timeout }}
  dependencies:
    - shinken_arbiter_procs
{%- endif %}

shinken_arbiter_port_remote:
  description: Shinken Arbiter Remote Port
  check: check_tcp!7770
  timeout: {{ timeout }}
  passive: False
{%- if arbiter_mine %}
  dependencies:
    - shinken_arbiter_port
{%- endif %}
