{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance with context -%}
{%- set deployment = 'gitlab' %}

# {{ salt['pillar.get']('message_do_not_modify') }}

gitlab_sidekiq_procs:
  description: GitLab Sidekiq Process
  command: /usr/lib/nagios/plugins/check_procs -c 1:1 -u gitlab -a 'sidekiq'

gitlab_unicorn_procs:
  description: Gitlab Unicorn Process
  command: /usr/lib/nagios/plugins/check_procs -c 1:1 -u root -a 'bundle exec unicorn_rails'

gitlab_unicorn_port:
  description: Gitlab Unicorn Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 8084
  dependencies:
    - gitlab_unicorn_procs

gitlab_git_http_server_procs:
  description: Gitlab Git HTTP Server Proc
  command: /usr/lib/nagios/plugins/check_procs -c 1:1 -u gitlab -C 'gitlab-git-http'

{{ postgresql_instance(deployment, "gitlabhq_production",
                       salt['password.pillar']("gitlab:db:password"),
                       username=deployment) }}
{{ nginx_instance(deployment, timeout=40, http_uri='/users/sign_in',
                  extra_dependencies=('gitlabhq_production_postgresql',)) }}
