{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
{%- set timeout = 30 -%}
openldap_procs:
  description: OpenLDAP Daemon (slapd)
  command: /usr/lib/nagios/plugins/check_procs -u openldap -C slapd

openldap_port:
  description: LDAP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 389 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - openldap_procs

openldap_base:
  description: LDAP Base
{%- set suffix = salt['pillar.get']('ldap:suffix') %}
  command: /usr/lib/nagios/plugins/check_ldap --ver3 -H 127.0.0.1 -p 389 -b '{{ suffix }}' -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - openldap_port

{%- if salt['pillar.get']('ldap:ssl', False) %}
openldap_base_through_tls_ssl:
  description: LDAP Base though TLS/SSL
  command: /usr/lib/nagios/plugins/check_ldap --ver3 --starttls -H 127.0.0.1 -p 389 -b '{{ suffix }}' -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - openldap_port
{%- endif %}
