{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Van Diep Pham <favadi@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

enabled=True
host=localhost
port=6379
