{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <patate@fastmail.cn>
Maintainer: Bruno Clermont <patate@fastmail.cn>
-#}
nsca_passive_procs:
  description: NSCA Passive daemon Processes
  command: '/usr/lib/nagios/plugins/check_procs -u nagios -C nsca_passive -c 1:1'

free_disks_space:
  description: All Disks
  command: /usr/lib/nagios/plugins/check_disk -w 20% -c 10%

{%- set max_proc = salt['pillar.get']('nrpe:max_proc', 150)|int -%}
{%- set max_proc_15_percent = max_proc + (max_proc / 100.0 * 15) %}
total_procs:
  description: Total Processes
  command: /usr/lib/nagios/plugins/check_procs -w {{ max_proc }} -c {{ max_proc_15_percent|int }}

zombie_procs:
  description: Zombie Processes
  command: /usr/lib/nagios/plugins/check_procs -w 5 -c 10 -s Z

nrpe_procs:
  description: NRPE Processes
  command: '/usr/lib/nagios/plugins/check_procs -u nagios -C nrpe -c 1:15'

logged_users:
  description: Logged Users
  command: /usr/lib/nagios/plugins/check_users -w 5 -c 10

loopback_interface:
  description: Loopback Interface
  command: /usr/lib/nagios/plugins/check_ping -H 127.0.0.1 -p 1 -w 100,100% -c 100,100%

oom_messages:
  description: Out Of Memory Messages
  command: sudo /usr/lib/nagios/plugins/check_oom.py

free_memory:
  description: Memory Usage
  command: /usr/lib/nagios/plugins/check_memory.py -w 90 -c 95

{%- if salt['file.contains_regex']('/proc/swaps','^/') and grains['virtual'] != 'openvzve' %}
free_swap_space:
  description: Swap Usage
  command: /usr/lib/nagios/plugins/check_swap -w 30% -c 10%
{%- endif %}

load_average:
  description: Load Average
  command: /usr/lib/nagios/plugins/check_load -w 10,5,3 -c 20,15,11

nrpe-remote-port:
  description: Remote NRPE Port
  check: check_tcp!5666
  passive: False

{% if salt['pillar.get']('__test__', False) %}
{# TODO: add check that only run during test
   (see test.sls) #}
{% endif %}
