{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- extends "pysc/config.jinja2" -%}

{%- block body -%}
    {{ super() }}
file:
  monitor_config: /etc/nagios/nsca.d

nrpe:
  {#- same as nrpe/server.jinja2 ``command_timeout`` configuration key. #}
  timeout: {{ salt['pillar.get']('nrpe:timeout', 60) }}

nsca:
  default_interval: 5
  {#- connection timeout to NSCA server in seconds #}
  timeout: 10
  {#- list of NSCA server and their password #}
  servers:
    {%- for receiver in salt['pillar.get']('nrpe:nsca:servers') %}
    {{ receiver }}: {{ salt['pillar.get']('nrpe:nsca:password') }}
    {%- endfor -%}
{%- endblock -%}

{%- block logging_loggers %}
    {{ super() }}
    apscheduler:
      level: WARNING
      propagate: True
      handlers:
        - syslog
        - stderr
    {%- if salt['pillar.get']('sentry_dsn', False) %}
        - sentry
        {#- During CI tests, there is no working Shinken Receiver online to
            receive NSCA data. This led to Thousands of sentry alerts.
            Skip sentry log handler in CI test mode. -#}
        {%- if salt['pillar.get']('__test__', False) %}
    nsca_passive.transport:
      propagate: False
      handlers:
        - syslog
        - stderr
        {%- endif -%}
    {%- endif -%}
{%- endblock -%}
