{%- extends "pysc/config.jinja2" -%}

{%- block body -%}
    {{ super() }}
file:
  monitor_config: /etc/nagios/nsca.d

nsca:
  default_interval: 5
  timeout: 10
  servers:
    {%- for receiver in pillar['nrpe']['nsca']['servers'] %}
    {{ receiver }}: {{ pillar['nrpe']['nsca']['password'] }}
    {%- endfor -%}
{%- endblock -%}

{%- block logging_loggers %}
    {{ super() }}
    apscheduler:
      level: ERROR
      propagate: True
      handlers:
        - syslog
        - console
        - sentry
{%- endblock -%}
