{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

APScheduler==2.1.2
PyYAML==3.11
argparse==1.2.1
lockfile==0.9.1
nagiosplugin==1.2.1
pycrypto==2.6.1
raven==5.2.0
requests==2.4.3
subprocess32==3.2.6
{%- if salt['pillar.get']('files_archive', False) %}
send_nsca==0.1.4.2-hvn
pysc==0.3.19
{%- else %}
http://archive.robotinfra.com/pip/send_nsca-0.1.4.2-hvn.tar.bz2
http://archive.robotinfra.com/pip/pysc-0.3.19.tar.bz2
{%- endif -%}
