{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
nagios ALL=(root)NOPASSWD:/usr/lib/nagios/plugins/check_oom.py
