{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set default_interface = salt['pillar.get']('network_interface', 'eth0') %}
{%- set strongswan_interface = salt['pillar.get']('strongswan:public_interface', False)|default(default_interface, boolean=True) %}

config setup
    nat_traversal=yes

conn %default
    ikelifetime=60m
    keylife=20m
    rekeymargin=3m
    keyingtries=1
    keyexchange=ikev2
    left={{ grains['ip_interfaces'][strongswan_interface][0] }}
    leftcert=server_cert.pem
    leftauth=pubkey
    leftfirewall=yes
    leftsubnet=0.0.0.0/0
    right=%any

conn android
    rightauth=eap-mschapv2
    rightsendcert=never
    rightsourceip={% for pool in salt['pillar.get']('strongswan:rightsourceip:android_pools') %}{{ pool }}{% if not loop.last %},{% endif %}{% endfor %}
    eap_identity=%any
    auto=add

conn ios
    keyexchange=ikev1
    authby=xauthrsasig
    xauth=server
    rightsourceip={% for pool in salt['pillar.get']('strongswan:rightsourceip:ios_pools') %}{{ pool }}{% if not loop.last %},{% endif %}{% endfor %}
    pfs=no
    auto=add
