{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}

: RSA server_key.pem

{%- set types = salt['pillar.get']('strongswan:secret_types') %}
{%- for type in types %}
  {%- for username, password in salt['pillar.get']('strongswan:secret_types:' + type).iteritems() %}
{{ username }} : {{ type|upper }} "{{ password }}"
  {%- endfor %}
{%- endfor %}
