{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
{#- the reason this script is used instead of /usr/local/uwsgi/uwsgi
is because of security reason.
to force nagios user to only be able to run this check with uwsgi.
this prevent a user to run uwsgi in a way it overwrite running instance
or run arbitrary code. -#}
{%- set version = '1.9.17.1' -%}
{%- set extracted_dir = '/usr/local/uwsgi-{0}'.format(version) %}
{{ extracted_dir }}/uwsgi --socket /var/lib/uwsgi/${1}.sock --nagios
