# {{ pillar['message_do_not_modify'] }}
command[check_uwsgi]=/usr/lib/nagios/plugins/check_procs -c 2:2 -C uwsgi -a '--uid www-data --gid www-data --threaded-logger {% if 'graylog2_address' in pillar %}--logger graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }}{% else %}--log-syslog uwsgi{% endif %}{% if 'graphite_address' in pillar %} --carbon-id emperor --carbon {{ pillar['graphite_address'] }}:2003{% endif %} --emperor /etc/uwsgi/ --no-orphans --die-on-term{% if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %} --ksm=10{% endif %}' -u www-data
