{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
uwsgi_emperor:
  description: uWSGI Emperor
  command: /usr/lib/nagios/plugins/check_procs -c 2:2 -C uwsgi -a '--yaml /etc/uwsgi.yml' -u root
