{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- macro uwsgi_instance(deployment, prefix=None) -%}
    {%- if not prefix -%}
        {%- set prefix = deployment -%}
    {%- endif -%}

{{ deployment }}_uwsgi_master:
  description: {{ deployment|capitalize }} uWSGI Master Process
  command: /usr/lib/nagios/plugins/check_procs -c 1:1 -a {{ deployment }}-master -C uwsgi
  dependencies:
    - uwsgi_emperor

{{ deployment }}_uwsgi_worker:
  description: {{ deployment|capitalize }} uWSGI Workers Process
{%- set cheaper = salt['pillar.get'](prefix + ':cheaper', False) %}
{%- set workers = salt['pillar.get'](prefix + ':workers', 1) %}
{%- set min_workers = cheaper if cheaper else workers %}
  command: /usr/lib/nagios/plugins/check_procs -c {{ min_workers }}:{{ workers }} -a {{ deployment }}-worker -C uwsgi
  dependencies:
    - {{ deployment }}_uwsgi_master

{{ deployment }}_uwsgi_ping:
  description: {{ deployment|capitalize }} uWSGI Ping
  command: sudo -u www-data /usr/lib/nagios/plugins/check_uwsgi_nostderr {{ deployment }}
  timeout: 55
  dependencies:
    - {{ deployment }}_uwsgi_worker
{%- endmacro -%}
