{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
nagios ALL=(www-data) NOPASSWD:/usr/lib/nagios/plugins/check_uwsgi_nostderr
