{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

# TMPREAPER_TIME
#       is the max. age of files before they're removed.
#       default:
#       the TMPTIME value in /etc/default/rcS if it's there, else
#       TMPREAPER_TIME=7d (for 7 days)
#       I recommend setting the value in /etc/default/rcS, as
#       that is used to clean out /tmp whenever the system is booted.
TMPREAPER_TIME=5d

# TMPREAPER_PROTECT_EXTRA
#       are extra patterns that you may want to protect.
#       Example:
#       TMPREAPER_PROTECT_EXTRA='/tmp/isdnctrl* /tmp/important*'
TMPREAPER_PROTECT_EXTRA='/tmp/*.sock /tmp/hsperfdata_* /tmp/tomcat6-*'

# TMPREAPER_DIRS
#       are the directories to clean up.
#       *never* supply / here! That will wipe most of your system!
TMPREAPER_DIRS='/tmp/. /var/tmp/.'

# TMPREAPER_DELAY
#       defines the maximum (randomized) delay before starting processing.
#       See the manpage entry for --delay. Default is 256.
TMPREAPER_DELAY='256'

# TMPREAPER_ADDITIONALOPTIONS
#       extra options that are passed to tmpreaper
TMPREAPER_ADDITIONALOPTIONS='--all'
