{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

shinken_poller_procs:
  description: Shinken Poller Deamon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:10 -u shinken -C shinken-poller -a /etc/shinken/poller.conf"

shinken_poller_port:
  description: Shinken Poller Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 7771 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - shinken_poller_procs

shinken_poller_port_remote:
  description: Shinken Poller Remote Port
  check: check_tcp!7771
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - shinken_poller_port
