# {{ pillar['message_do_not_modify'] }}

{%- set rsync = salt['pillar.get']('rsync', []) -%}
{#- global settings -#}
{%- for key in rsync -%}
{%- if key != 'shares' %}
{{ key }} = {{ rsync[key] }}
{%- endif -%}
{%- endfor -%}
{#- overwrite previously defined key for the following #}
log file =
syslog facility = daemon
pid file = /var/run/rsyncd.pid

{% for share in rsync['shares']|default([]) %}
[{{ share }}]
{% for key in rsync['shares'][share] %}
{{ key }} = {{ rsync['shares'][share][key] }}
{% endfor -%}
{% endfor -%}
