{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set configs = salt['pillar.get']('rsync:global_settings', {}) -%}
{#- global settings -#}
{%- for attrib, value in configs.iteritems() -%}
{{ attrib }} = {{ value }}
{%- endfor -%}
{#- overwrite previously defined key for the following #}
log file =
syslog facility = daemon

{%- set modules = salt['pillar.get']('rsync:modules', {}) -%}
{% for module in modules %}
[{{ module }}]
  {% for key, val in modules[module].iteritems() %}
{{ key }} = {{ val }}
  {% endfor -%}
{% endfor -%}
