{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
# {{ pillar['message_do_not_modify'] }}
[global]

{%- if 'files_archive' in pillar %}
no-index = true
find-links = {{ pillar['files_archive'] }}/pip/
    {%- if salt['pillar.get']('pip:mirrors', True) %}
use-mirrors = true
mirrors =  https://pypi.python.org/simple/
    {%- endif %}
{%- else %}
download-cache = /var/cache/pip
{%- endif -%}

{%- if pillar['proxy_server']|default(False) %}
proxy = {{ pillar['proxy_server'] }}
{%- endif -%}
