{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
[global]

{%- set files_archive = salt['pillar.get']('files_archive', False) %}
{%- if files_archive %}
find-links = {{ files_archive }}/pip/
    {%- if salt['pillar.get']('pip:allow_pypi', False) %}
no-index = false
    {%- else %}
no-index = true
    {%- endif %}
{%- else %}
download-cache = /var/cache/pip
{%- endif -%}

{%- if salt['pillar.get']('proxy_server', False) %}
proxy = {{ salt['pillar.get']('proxy_server') }}
{%- endif -%}
{%- if salt['pillar.get']('debug', False) %}
verbose = true
{%- endif %}
