{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- macro postgresql_backup_diamond(deployment, dbname=None)  %}
  {%- if not dbname  %}
    {%- set dbname = deployment %}
  {%- endif  %}
{{ deployment }}_backup_diamond_resources:
  file:
    - accumulated
    - name: processes
    - template: jinja
    - filename: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - require_in:
      - file: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - text:
      - |
        [[backup-{{ deployment }}-postgres]]
        cmdline = ^\/usr\/local\/bin\/backup-postgresql {{ dbname }}
{%- endmacro  %}
