{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
{%- macro postgresql_backup_diamond(deployment, prefix=None)  %}
  {%- if not prefix  %}
    {%- set prefix = deployment %}
  {%- endif  %}
  {%- set db_name = salt['pillar.get'](prefix + ':db:name', deployment) %}
{{ deployment }}_backup_diamond_resources:
  file:
    - accumulated
    - name: processes
    - template: jinja
    - filename: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - require_in:
      - file: /etc/diamond/collectors/ProcessResourcesCollector.conf
    - text:
      - |
        [[backup-{{ deployment }}-postgres]]
        cmdline = ^\/usr\/local\/bin\/backup-postgresql {{ db_name }}
{%- endmacro  %}
