#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

# Use of this source code is governed by a BSD license that can be found
# in the doc/license.rst file.
#
# Author: Bruno Clermont <bruno@robotinfra.com>
# Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>

set -e

# limit resources usage
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$
XZ_DEFAULTS=--memlimit={{ salt['pillar.get']('backup:xz_memlimit', 64) }}MiB

NOW=`date '+%Y-%m-%d-%H_%M_%S'`
export TERM=dumb
sudo -H -s -u postgres -g postgres pg_dumpall | xz > /tmp/postgresql-all-$NOW.sql.xz
/usr/local/bin/backup-store /tmp/postgresql-all-$NOW.sql.xz
