#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Use of this is governed by a license that can be found in doc/license.rst.

set -e

# limit resources usage
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$
XZ_DEFAULTS=--memlimit={{ salt['pillar.get']('backup:xz_memlimit', 64) }}MiB

NOW=`date '+%Y-%m-%d-%H_%M_%S'`
export TERM=dumb
su - postgres -s /bin/bash -c "pg_dumpall | xz > /tmp/postgresql-all-$NOW.sql.xz"
/usr/local/bin/backup-store /tmp/postgresql-all-$NOW.sql.xz
