{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
#!/bin/sh
# {{ pillar['message_do_not_modify'] }}

NOW=`date '+%Y-%m-%d-%H_%M_%S'`
export TERM=dumb
sudo -H -i -u postgres -g postgres pg_dumpall | xz > /tmp/postgresql-all-$NOW.sql.xz
/usr/local/bin/backup_store /tmp/postgresql-all-$NOW.sql.xz
