#!/bin/sh
# {{ pillar['message_do_not_modify'] }}

dbname=$1
NOW=`date '+%Y-%m-%d-%H_%M_%S'`
export TERM=dumb
sudo -H -i -u postgres -g postgres pg_dump $dbname | xz > /tmp/postgresql-$dbname-$NOW.sql.xz
/usr/local/bin/backup_store /tmp/postgresql-$dbname-$NOW.sql.xz
