{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

enabled = True
host = 127.0.0.1
port = 9200
path = elasticsearch
