{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

backups_last:
  description: Backups
  command: sudo /usr/lib/nagios/plugins/check_backups.py --formula=backup.server --check=backups_last
  {{ passive_interval(6 * 60) }}
  timeout: 55
  dependencies:
    {#- no alert if load is too high #}
    - load_average
