{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
nagios ALL=(root)NOPASSWD:/usr/lib/nagios/plugins/check_backups.py
