{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

radvd_procs:
  description: Router Advertisement Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 2:2 -C radvd -a "-p /var/run/radvd/radvd.pid"'
