# {{ salt['pillar.get']('message_do_not_modify') }}
{%- set timeout = 45 %}

couchdb_procs:
  description: CouchDB Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -C beam{% if grains['num_cpus'] > 1 %}.smp{% endif %} -u couchdb"

couchdb_http:
  description: CouchDB HTTP
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5984 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - couchdb_procs
