{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

Host *
{% block config %}
    ForwardAgent yes
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no
    IdentityFile /etc/ssh/keys/%u/%r@%h
    IdentityFile ~/.ssh/id_rsa
    IdentityFile ~/.ssh/id_dsa
{% endblock %}

