{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- for domain in salt['pillar.get']('ssh:hosts', {}) %}
Host {{ domain }}
  {%- for cfg in salt['pillar.get']('ssh:hosts:' ~ domain ~ ':additional', []) %}
    {{ cfg }}
  {%- endfor %}
{%- endfor %}

Host *
{% block config %}
    ForwardAgent yes
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no
{%- if accumulator|default(False) %}
    {%- for line in accumulator['ssh_identity_config'] %}
    IdentityFile /etc/ssh/keys/%u/{{ line }}
    {%- endfor %}
{%- endif %}
    IdentityFile ~/.ssh/id_rsa
    IdentityFile ~/.ssh/id_dsa
{% endblock %}
