graphite_nginx_http:
  description: Graphite HTTP protocol

graphite_nginx_https:
  description: Graphite HTTPS protocol

graphite_nginx_https_certificate:
  description: HTTPS Certificate Expiration
  check_interval: 1440 {#- only need to check https certificate each day #}

graphite_postgresql:
  description: PostgreSQL database

graphite_uwsgi_master:
  description: uWSGI Master Process

graphite_uwsgi_worker:
  description: uWSGI Workers Process

graphite_uwsgi_ping:
  description: uWSGI Ping
