{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream graphite {
    server unix:///var/lib/uwsgi/graphite.sock;
}
{%- endblock %}

{%- block root_location %}
    location /favicon.ico {
        deny all;
        return 404;
    }

    # deny read file ie.css
    location ~* /common/ie.css {
        deny all;
        return 404;
    }

{%- if salt['pillar.get']('graphite:render_allows', []) %}
    location /render/ {
  {%- for network in salt['pillar.get']('graphite:render_allows', []) %}
        allow {{ network }};
  {%- endfor %}
        deny all;
    }
{%- endif %}

    rewrite /media/css/dashboard.css /content/css/dashboard.css last;

    location /media/ {
        root /usr/local/graphite/lib/python{{ grains['pythonversion'][0] }}.{{ grains['pythonversion'][1] }}/site-packages/django/contrib/admin;
        expires 1h;
        autoindex off;
    }

    location /content/ {
        expires 1h;
        autoindex off;
    }

    location / {
{%- set timeout = salt['pillar.get']('graphite:timeout', 60) %}
        uwsgi_pass graphite;
        include uwsgi_params;
        uwsgi_read_timeout {{ salt['pillar.get']('graphite:timeout', 60) }};
        uwsgi_send_timeout {{ salt['pillar.get']('graphite:timeout', 60) }};
    }
{%- endblock %}
