{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
django==1.3.7
django-decorator-include==0.1
django-statsd-mozilla==0.3.8.7
django-tagging==0.3.1
graphite-web==0.9.12
{%- if salt['pillar.get']('graylog2_address', False) %}
graypy==0.2.9
{%- endif %}
ipython==0.13.2
pip==1.5.2
psycopg2==2.4.5
python-memcached==1.53
pytz==2013b
requests==2.4.3
raven==4.1.1
simplejson==3.3.2
statsd==2.0.1
txamqp==0.6.2
whisper==0.9.12
zope.interface==4.0.5
{%- if salt['pillar.get']('files_archive', False) %}
py2cairo==1.8.10
django-insecure==0.1
{%- else %}
http://cairographics.org/releases/py2cairo-1.8.10.tar.gz
-e git+git@github.com:bclermont/django-insecure.git@ce529583fc02db20a5ea2b34f1ee8f3d4538a14e#egg=django-insecure
{%- endif %}
Twisted==13.1.0
{%- if salt['pillar.get']('graphite:smtp', False) %}
    {%- set smtp = salt['pillar.get']('graphite:smtp', False) %}
{%- else %}
    {%- set smtp = salt['pillar.get']('smtp') %}
{%- endif %}
{%- if smtp['encryption']|default('plain') == 'ssl' %}
django-smtp-ssl==1.0
{%- endif -%}
