# {{ pillar['message_do_not_modify'] }}
pip>=1.3.1
django==1.3.7
txamqp
python-memcached
pytz
simplejson
django-tagging
psycopg2
http://cairographics.org/releases/py2cairo-1.8.10.tar.gz
graphite-web==0.9.10
django-statsd-mozilla==0.3.8.3
raven
graypy
statsd
ipython
-e git+git://github.com/jeffkistler/django-decorator-include.git@1cce01ee0130156e8fde5c46e61287bea37c5c7f#egg=django-decorator-include
