{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

from django.conf.urls.defaults import *
from django.conf import settings
from django.contrib import admin
from django.contrib.auth.decorators import login_required

from decorator_include import decorator_include
from graphite.browser.views import browser

admin.autodiscover()

urlpatterns = patterns('',
  ('^admin/', include(admin.site.urls)),
{% if salt['pillar.get']('graphite:render_noauth', False) %}
  ('^render/?', include('graphite.render.urls')),
{% else %}
  ('^render/?', decorator_include(login_required, 'graphite.render.urls')),
{% endif %}
  ('^cli/?', decorator_include(login_required, 'graphite.cli.urls')),
  ('^composer/?', decorator_include(login_required, 'graphite.composer.urls')),
  ('^metrics/?', decorator_include(login_required, 'graphite.metrics.urls')),
  ('^browser/?', decorator_include(login_required, 'graphite.browser.urls')),
  ('^account/?', include('graphite.account.urls')),
  ('^dashboard/?', decorator_include(login_required, 'graphite.dashboard.urls')),
  ('^whitelist/?', decorator_include(login_required, 'graphite.whitelist.urls')),
  ('^content/(?P<path>.*)$', 'django.views.static.serve', {'document_root' : settings.CONTENT_DIR}),
  ('graphlot/', decorator_include(login_required, 'graphite.graphlot.urls')),
  ('^version/', decorator_include(login_required, 'graphite.version.urls')),
  ('^events/', decorator_include(login_required, 'graphite.events.urls')),
  ('', login_required(browser)),
)

handler500 = 'graphite.views.server_error'
