{#-
Copyright (c) 2013, <BRUNO CLERMONT>
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met: 

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer. 
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution. 

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont patate@fastmail.cn
Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
# {{ pillar['message_do_not_modify'] }}
[uwsgi]

master = true
env = DJANGO_SETTINGS_MODULE=graphite.settings
module = graphite.wsgi
processes = {{ pillar['graphite']['web']['workers'] }}
harakiri = {{ pillar['graphite']['web']['timeout']|default(30) }}
harakiri-verbose = true
{% if pillar['graphite']['web']['cheaper']|default(False) %}
{% if pillar['graphite']['web']['cheaper'] > 0 %}
cheaper = {{ pillar['graphite']['web']['cheaper'] }}
{% else %}
cheap = true
{% endif %}
{% if pillar['graphite']['web']['workers'] == 1 and pillar['graphite']['web']['cheaper'] == 0 %}
idle = {{ pillar['graphite']['web']['idle']|default(300) }}
{% endif %}
{% endif -%}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
ksm = 20
{% endif -%}
lazy-apps = true
uid = www-data
gid = graphite
threaded-logger = true
virtualenv = /usr/local/graphite
chdir = /usr/local/graphite
procname = graphite-worker
procname-master = graphite-master
socket = /var/lib/uwsgi/graphite.sock
stats = /var/lib/uwsgi/graphite-stats.sock
no-orphans = true
{% if 'graylog2_address' in pillar %}
logger = graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }}
{% else %}
log-syslog = uwsgi-graphite
{% endif %}
{% if 'graphite_address' in pillar %}
carbon-id = graphite
carbon = {{ pillar['graphite_address'] }}:2003
{% endif %}
