# {{ pillar['message_do_not_modify'] }}
[uwsgi]

master = true
env = DJANGO_SETTINGS_MODULE=graphite.local_settings
module = graphite.wsgi
processes = {{ pillar['graphite']['web']['workers'] }}
harakiri = {{ pillar['graphite']['web']['timeout']|default(30) }}
harakiri-verbose = true
{% if pillar['graphite']['web']['cheaper']|default(False) %}
{% if pillar['graphite']['web']['cheaper'] > 0 %}
cheaper = {{ pillar['graphite']['web']['cheaper'] }}
{% else %}
cheap = true
{% endif %}
{% if pillar['graphite']['web']['workers'] == 1 and pillar['graphite']['web']['cheaper'] == 0 %}
idle = {{ pillar['graphite']['web']['idle']|default(300) }}
{% endif %}
{% endif -%}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
ksm = 20
{% endif -%}
lazy-apps = true
uid = www-data
gid = graphite
threaded-logger = true
virtualenv = /usr/local/graphite
chdir = /usr/local/graphite
procname = graphite-worker
procname-master = graphite-master
socket = /var/lib/uwsgi/graphite.sock
stats = /var/lib/uwsgi/graphite-stats.sock
no-orphans = true
{% if 'graylog2_address' in pillar %}
logger = graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }}
{% else %}
log-syslog = uwsgi-graphite
{% endif %}
{% if 'graphite_address' in pillar %}
carbon-id = graphite
carbon = {{ pillar['graphite_address'] }}:2003
{% endif %}
