# {{ salt['pillar.get']('message_do_not_modify') }}
# Usage of this is governed by a license that can be found in doc/license.rst
# WSGI python module that initialize graphite web app

import django.core.handlers.wsgi
import os

application = django.core.handlers.wsgi.WSGIHandler()

from graphite.logger import log
log.info("graphite.wsgi - pid %d - reloading search index" % os.getpid())
import graphite.metrics.search
