{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{#- in trusty, force 'syslog' group, as /var/log is now owned by this #}
{%- if grains['lsb_distrib_codename'] == 'trusty' %}
su root syslog
{%- endif -%}

{#- rotate log files weekly #}
weekly
{#- keep 4 weeks worth of backlogs #}
rotate 4
{#- create new (empty) log files after rotating old ones #}
create
compress
include /etc/logrotate.d
{#- no packages own wtmp, or btmp -- we'll rotate them here #}
{% set logs = {'wtmp': '0664', 'btmp': '0660'} %}
{% for log in logs %}
/var/log/{{ log }} {
    missingok
    monthly
    create {{ logs[log] }} root utmp
    rotate 1
}
{% endfor %}
