// {{ pillar['message_do_not_modify'] }}

global {
    perm_cache = 2048;
    cache_dir = "/var/cache/pdnsd";
    run_as = "pdnsd";
    server_ip = {{ pillar['dns_proxy']['ip_address']|default("0.0.0.0") }};
    status_ctl = {% if pillar['dns_proxy']['dns_server'] == 'resolv.conf' %}on{% else %}off{% endif %};
    paranoid = on;
    min_ttl = {{ pillar['dns_proxy']['minimum_ttl']|default(900) }};
    max_ttl = {{ pillar['dns_proxy']['maximum_ttl']|default(604800) }};
    timeout = 10;
    {#
    Don't enable if you don't recurse yourself, can lead to problems
    delegation_only="com","net";
    #}
}

server {
    label="{{ pillar['dns_proxy']['dns_server'] }}";
{% if pillar['dns_proxy']['dns_server'] != 'resolv.conf' %}
    root_server=on;
    ip = {{ pillar['dns_proxy']['dns_server'] }};
    timeout = 5;
    uptest = query;
    interval = 30m;
    ping_timeout = 300;
    purge_cache = off;
    exclude = .localdomain;
    policy = included;
    preset = off;
{% endif %}
}
