{#-
Copyright (c) 2014, Dang Tung Lam
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Dang Tung Lam <lam@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
etherpad_procs:
  description: NodeJS Daemon for running Etherpad
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -a "node_modules/ep_etherpad-lite" -u etherpad'

etherpad_port:
  description: Etherpad TCP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9001
  dependencies:
    - etherpad_procs

etherpad_logger:
  description: Etherpad Logger
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C logger -a "-t etherpad"'
  dependencies:
    - etherpad_procs

{%- if salt['pillar.get']('etherpad:secret_url', False) %}
  {%- set http_uri = '/' ~ salt['pillar.get']('etherpad:secret_url', False) %}
{%- else  %}
  {%- set http_uri = '' %}
{%- endif  %}

{%- if salt['pillar.get']('__test__', False) %}
  {%- if salt['pillar.get']('etherpad' + ':ssl', False) %}
    {%- set http_result = "301 Moved Permanently" %}
etherpad_javascript_https:
  description: Etherpad JavaScript HTTPs
  command: /usr/lib/nagios/plugins/check_http -S -H "{{ salt['pillar.get']('etherpad' ~ ':hostnames', ['127.0.0.1'])[0] }}" -u "{{ http_uri }}/javascripts/lib/ep_etherpad-lite/static/js/pad.js?callback=require.define" -I "{{ salt['network.ip_addrs']()[0] }}"
  dependencies:
    - etherpad_procs
  {%- else %}
    {%- set http_result = "200 OK" %}
  {%- endif %}
etherpad_javascript_http:
  description: Etherpad JavaScript
  command: /usr/lib/nagios/plugins/check_http -H "{{ salt['pillar.get']('etherpad' ~ ':hostnames', ['127.0.0.1'])[0] }}" -u "{{ http_uri }}/javascripts/lib/ep_etherpad-lite/static/js/pad.js?callback=require.define" -I "{{ salt['network.ip_addrs']()[0] }}" -e "{{ http_result }}"
  dependencies:
    - etherpad_procs
{%- endif  %}

{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance_prefix with context %}
{{ postgresql_instance_prefix('etherpad') }}

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{{ nginx_instance('etherpad', timeout=55, http_uri=http_uri ~ '/', extra_dependencies=('etherpad_port', 'etherpad_postgresql')) }}
