{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Dang Tung Lam <lam@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
etherpad_procs:
  description: NodeJS Daemon for running Etherpad
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -a "node_modules/ep_etherpad-lite" -u etherpad'

etherpad_port:
  description: Etherpad TCP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9001
  dependencies:
    - etherpad_procs

etherpad_logger:
  description: Etherpad Logger
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C logger -a "-t etherpad"'
  dependencies:
    - etherpad_procs

{%- if salt['pillar.get']('etherpad:secret_url', False) %}
  {%- set http_uri = '/' ~ salt['pillar.get']('etherpad:secret_url', False) %}
{%- else  %}
  {%- set http_uri = '' %}
{%- endif  %}

{%- if salt['pillar.get']('__test__', False) %}
  {%- if salt['pillar.get']('etherpad' + ':ssl', False) %}
    {%- set http_result = "301 Moved Permanently" %}
etherpad_javascript_https:
  description: Etherpad JavaScript HTTPs
  command: /usr/lib/nagios/plugins/check_http -S -H "{{ salt['pillar.get']('etherpad:hostnames')[0] }}" -u "{{ http_uri }}/javascripts/lib/ep_etherpad-lite/static/js/pad.js?callback=require.define" -I "{{ salt['network.ip_addrs']()[0] }}"
  dependencies:
    - etherpad_procs
  {%- else %}
    {%- set http_result = "200 OK" %}
  {%- endif %}
etherpad_javascript_http:
  description: Etherpad JavaScript
  command: /usr/lib/nagios/plugins/check_http -H "{{ salt['pillar.get']('etherpad:hostnames')[0] }}" -u "{{ http_uri }}/javascripts/lib/ep_etherpad-lite/static/js/pad.js?callback=require.define" -I "{{ salt['network.ip_addrs']()[0] }}" -e "{{ http_result }}"
  dependencies:
    - etherpad_procs
{%- endif  %}

{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance_prefix with context %}
{{ postgresql_instance_prefix('etherpad') }}

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{{ nginx_instance('etherpad', timeout=55, http_uri=http_uri ~ '/', extra_dependencies=('etherpad_port', 'etherpad_postgresql')) }}
