# {{ pillar['message_do_not_modify'] }}
{% for instance in pillar['graphite']['carbon']['instances'] %}
command[carbon_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -u graphite -C python  -a "/usr/local/graphite/bin/carbon-cache.py --config=/etc/graphite/carbon.conf --instance={{ instance }} start"
{% endfor %}
command[carbon_port_plaintext]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 2003
command[carbon_port_pickle]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 2004
