{#- Usage of this is governed by a license that can be found in doc/license.rst #}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set timeout = 30 -%}
{%- set instances_count = salt['pillar.get']('carbon:cache_daemons') %}
{% for instance in range(instances_count) %}
carbon_cache_{{ instance }}_procs:
  description: Carbon Cache Instance {{ instance }}
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -u graphite -C python -a "/usr/local/graphite/bin/carbon-cache.py --config=/etc/graphite/carbon.conf --instance={{ instance }} start"'

carbon_cache_{{ instance }}_plaintext_port:
  description: Carbon Cache {{ instance }} Port Plaintext
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 20{{ instance|int + 1 }}3 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - carbon_cache_{{ instance }}_procs

carbon_cache_{{ instance }}_pickle_port:
  description: Carbon Cache {{ instance }} Port Pickle
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 20{{ instance|int + 1 }}4 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - carbon_cache_{{ instance }}_procs

carbon_cache_{{ instance }}_cache_query_port:
  description: Carbon Cache {{ instance }} Port Cache Query
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 70{{ instance|int + 1 }}2 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - carbon_cache_{{ instance }}_procs
{% endfor %}

carbon_cache_procs:
  description: Carbon Cache Instances
  command: '/usr/lib/nagios/plugins/check_procs -c {{ instances_count }}:{{ instances_count }} -u graphite -C python  -a "/usr/local/graphite/bin/carbon-cache.py --config=/etc/graphite/carbon.conf"'

carbon_relay_procs:
  description: Carbon Relay Instance
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -u graphite -C python -a "/usr/local/graphite/bin/carbon-relay.py --config=/etc/graphite/carbon.conf start"'

carbon_plaintext_port_remote:
  description: Carbon Remote Port PlainText Protocol
  check: check_tcp!2003
  passive: False
  timeout: {{ timeout }}
  dependencies:
    - carbon_pickle_port

carbon_pickle_port_remote:
  description: Carbon Remote Port Pickle Protocol
  check: check_tcp!2004
  passive: False
  timeout: {{ timeout }}
  dependencies:
    - carbon_pickle_port

{%- set carbon_interface = salt['pillar.get']('carbon:interface', '::') %}
{%- if carbon_interface in ("::", "0.0.0.0", "127.0.0.1") %}
carbon_plaintext_port:
  description: Carbon Local Port PlainText Protocol
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 2003 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - carbon_cache_procs

carbon_pickle_port:
  description: Carbon Local Port Pickle Protocol
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 2004 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - carbon_cache_procs
{%- endif %}

{%- if carbon_interface in ("::", "::1")%}
carbon_plaintext_port_ipv6:
  description: Carbon Local Port PlainText Protocol using IPv6
  command: /usr/lib/nagios/plugins/check_tcp -6 -H ::1 -p 2003 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - carbon_cache_procs

carbon_pickle_port_ipv6:
  description: Carbon Local Port Pickle Protocol using IPv6
  command: /usr/lib/nagios/plugins/check_tcp -6 -H ::1 -p 2004 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - carbon_cache_procs
{%- endif %}
