salt_cloud_configurations_check:
  description: Salt-Cloud Image Monitor
  command: /usr/lib/nagios/plugins/check_saltcloud_images.py
  check_interval: {{ 24 * 60 }} {# 1 day #}
  arguments:
    timeout: {{ 15 * 60 }}
