{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

mailhub={{ salt['pillar.get']('smtp:server') }}:{{ salt['pillar.get']('smtp:port') }}
root={{ salt['pillar.get']('smtp:root') }}
hostname={{ salt['pillar.get']('mail:mailname') }}
AuthUser={{ salt['pillar.get']('smtp:user') }}
AuthPass={{ salt['pillar.get']('smtp:password') }}
{%- set encryption = salt['pillar.get']('smtp:encryption', 'plain') -%}
{%- if encryption in ('ssl', 'starttls') -%}
    {%- if encryption == 'ssl' %}
UseSTARTTLS=no
    {%- else %}
UseSTARTTLS=yes
    {%- endif %}
UseTLS=yes
{%- endif %}
FromLineOverride=yes

{%- if salt['pillar.get']('debug', False) %}
Debug=YES
{%- endif %}
