{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

mailhub={{ salt['pillar.get']('smtp:server') }}:{{ salt['pillar.get']('smtp:port') }}
root={{ salt['pillar.get']('smtp:root') }}
hostname={{ salt['pillar.get']('mail:mailname') }}
{%- if smtp_user and smtp_passwd %}
AuthUser={{ smtp_user }}
AuthPass={{ smtp_passwd }}
{%- endif %}
{%- set encryption = salt['pillar.get']('smtp:encryption', 'plain') -%}
{%- if encryption in ('ssl', 'starttls') -%}
    {%- if encryption == 'ssl' %}
UseSTARTTLS=no
    {%- else %}
UseSTARTTLS=yes
    {%- endif %}
UseTLS=yes
{%- endif %}
FromLineOverride=yes

{%- if salt['pillar.get']('debug', False) %}
Debug=YES
{%- endif %}
