{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{% for user in salt['user.list_users']() -%}
{{ user }}:{{ salt['pillar.get']('smtp:from') }}:{{ salt['pillar.get']('smtp:server') }}:{{ salt['pillar.get']('smtp:port') }}
{% endfor %}
