admin = User.create(
  email: "{{ salt['pillar.get']('gitlab:admin:email', 'admin@local.host') }}",
  name: "{{ salt['pillar.get']('gitlab:admin:name', 'Administrator') }}",
  username: "{{ salt['pillar.get']('gitlab:admin:username', 'root') }}",
  password: "{{ pillar['gitlab']['admin']['password'] }}",
  password_confirmation: "{{ pillar['gitlab']['admin']['password'] }}",
  password_expires_at: Time.now
  theme_id: Gitlab::Theme::MARS
)

admin.projects_limit = {{ salt['pillar.get']('gitlab:admin:projects_limit', 1000) }}
admin.admin = true
admin.save!
admin.confirm!

if admin.valid?
puts %q[
Administrator account created:

login.........{{ salt['pillar.get']('gitlab:admin:email', 'admin@local.host') }}
password......{{ pillar['gitlab']['admin']['password'] }}
]
end
