{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.


GitLab Administrator Config
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

password = ENV['GITLAB_ROOT_PASSWORD']

admin = User.create(
  email: "{{ salt['pillar.get']('gitlab:admin:email', False)|default(salt['pillar.get']('smtp:from'), boolean=True) }}",
  name: "Administrator",
  username: 'root',
  password: password,
  password_confirmation: password,
  password_expires_at: Time.now,
  theme_id: Gitlab::Theme::MARS

)

admin.projects_limit = 10000
admin.admin = true
admin.save!
admin.confirm!

if admin.valid?
puts %q[
Administrator account created:

login.........root
password......#{password}
]
end
