{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.


GitLab database config
-#}

production:
  adapter: postgresql
  encoding: unicode
  database: gitlabhq_production
  pool: 10
