{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Van Diep Pham <favadi@robotinfra.com>
Maintainer: Van Diep Pham <favadi@robotinfra.com>
-#}
[user]
    name = GitLab
    email = {{ salt['pillar.get']('gitlab:smtp:from', False)|default(salt['pillar.get']('smtp:from'), boolean=True) }}
[core]
    autocrlf = input
