{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

[user]
    name = GitLab
    email = {{ salt['pillar.get']('gitlab:smtp:from', False)|default(salt['pillar.get']('smtp:from'), boolean=True) }}
[core]
    autocrlf = input
