{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

---
user: gitlab
gitlab_url: http{% if salt['pillar.get']('gitlab:ssl', False) %}s{% endif %}://{{ salt['pillar.get']('gitlab:hostnames')[0] }}/
http_settings:
  self_signed_cert: {% if salt['pillar.get']('__test__', False) %}true{% else %}false{% endif %}
repos_path: "/home/gitlab/repositories/"
auth_file: "/home/gitlab/.ssh/authorized_keys"
redis:
  bin: "/usr/bin/redis-cli"
  namespace: resque:gitlab
  socket: "/var/run/redis/redis.sock"
log_file: "/var/log/gitlab/gitlab-shell.log"
log_level: INFO
audit_usernames: false
