{#-
Copyright (c) 2014, Diep Pham
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Van Diep Pham <favadi@robotinfra.com>
Maintainer: Van Diep Pham <favadi@robotinfra.com>

GitLab main config
-#}
# {{ pillar['message_do_not_modify'] }}

production: &base
  gitlab:
    host: {{ pillar['gitlab']['hostnames'][0] }}
    port: {% if salt['pillar.get']('gitlab:ssl', False) %}443{% else %}80{% endif %}
    {%- if salt['pillar.get']('gitlab:ssl', False) %}
    https: true
    {%- else %}
    https: false
    {%- endif %}

    user: gitlab

    email_from: {{ salt['pillar.get']('gitlab:smtp:from', pillar['smtp']['from']) }}

    default_projects_limit: {{ salt['pillar.get']('gitlab:default_projects_limit', 10) }}

    {%- if not salt['pillar.get']('gitlab:default_can_create_group', True) %}
    default_can_create_group: false
    {%- endif %}

    {%- if not salt['pillar.get']('gitlab:username_changing_enabled', True) %}
    username_changing_enabled: false
    {%- endif %}

    {%- if salt['pillar.get']('gitlab:signup_enabled', False) %}
    signup_enabled: true
    {%- endif %}

    {%- if not salt['pillar.get']('gitlab:signin_enabled', True) %}
    signin_enabled: false
    {%- endif %}

    issue_closing_pattern: {{ salt['pillar.get']('gitlab:issue_closing_pattern', '([Cc]lose[sd]|[Ff]ixe[sd]) +#(\d+)') }}

    default_projects_features:
      issues: {{ salt['pillar.get']('gitlab:default_projects_features:issues', True)|lower() }}

      merge_requests: {% if salt['pillar.get']('gitlab:default_projects_features:merge_requests', True) %}true{% else %}false{% endif %}

      {%- if salt['pillar.get']('gitlab:default_projects_features:wiki', True) %}
      wiki: true
      {%- else %}
      wiki: false
      {%- endif %}

      {%- if salt['pillar.get']('gitlab:default_projects_features:snippets', False) %}
      snippets: true
      {%- else %}
      snippets: false
      {%- endif %}

      visibility_level: "{{ salt['pillar.get']('gitlab:default_projects_features:visibility_level', 'private') }}"

    webhook_timeout: 10

    repository_downloads_path: /var/lib/gitlab/repositories

  gravatar:
    enabled: true

  ldap:
    {%- if salt['pillar.get']('gitlab:ldap:enabled', False) %}
    {%- set ldap =  pillar['gitlab']['ldap'] %}
    enabled: true
    host: '{{ ldap['host'] }}'
    base: '{{ ldap['base'] }}'
    port: {{ ldap['port'] }}
    uid: '{{ ldap['uid'] }}'
    method: '{{ ldap['method'] }}'
    bind_dn: '{{ ldap['bind_dn'] }}'
    password: '{{ ldap['password'] }}'
    allow_username_or_email_login: {{ ldap['allow_username_or_email_login']|default('true') }}
    user_filter: ''
    {%- else %}
    enabled: false
    {%- endif %}

  omniauth:
    enabled: false
    allow_single_sign_on: false
    block_auto_created_users: true
    providers:

  satellites:
    path: /home/gitlab/gitlab-satellites/
    timeout: 30

  backup:
    path: "/var/lib/gitlab/gitlab-backups"

  gitlab_shell:
    path: /home/gitlab/gitlab-shell/

    repos_path: /home/gitlab/repositories/
    hooks_path: /home/gitlab/gitlab-shell/hooks/

    upload_pack: true
    receive_pack: true

{%- if 22 in salt['pillar.get']('ssh:server:ports', [22]) %}
    ssh_port: 22
{%- else %}
    ssh_port: {{ salt['pillar.get']('ssh:server:ports', [22])[0] }}
{%- endif %}

  git:
    bin_path: /usr/bin/git
    max_size: {{ salt['pillar.get']('gitlab:max_size', 5242880) }}
    timeout: {{ salt['pillar.get']('gitlab:commit_timeout', 30) }}
