{#-
Copyright (C) 2013 the Institute for Institutional Innovation by Data
Driven Design Inc.

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE  MASSACHUSETTS INSTITUTE OF
TECHNOLOGY AND THE INSTITUTE FOR INSTITUTIONAL INNOVATION BY DATA
DRIVEN DESIGN INC. BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE
USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as contained in this notice, the names of the Institute for
Institutional Innovation by Data Driven Design Inc. shall not be used in
advertising or otherwise to promote the sale, use or other dealings
in this Software without prior written authorization from the
Institute for Institutional Innovation by Data Driven Design Inc.

Author: Lam Dang Tung <lamdt@familug.org>
Maintainer: Lam Dang Tung <lamdt@familug.org>
-#}
# {{ pillar['message_do_not_modify'] }}

{#-
 GitLab user. git by default
#}
user: {{ user }}

{#-
Url to gitlab instance. Used for api calls. Should end with a slash.
#}
{%- if salt['pillar.get']('gitlab:ssl', False) %}
gitlab_url: "https://{{ salt['pillar.get']('gitlab:hostnames')[0] }}/"
{%- else %}
gitlab_url: "http://{{ salt['pillar.get']('gitlab:hostnames')[0] }}/"
{%- endif %}

http_settings:
{#-
  user: someone
  password: somepass
  ca_file: /etc/ssl/cert.pem
  ca_path: /etc/pki/tls/certs
#}
  self_signed_cert: false

{#-
 Repositories path
 REPOS_PATH MUST NOT BE A SYMLINK!!!
#}
repos_path: "{{ repos_dir }}"

{#-
File used as authorized_keys for gitlab user
#}
auth_file: "/home/{{ user }}/.ssh/authorized_keys"

{#-
Redis settings used for pushing commit notices to gitlab
#}
redis:
  bin: /usr/bin/redis-cli
  host: 127.0.0.1
  port: {{ salt['pillar.get']('redis:port', 6379) }}
  {#- socket: /tmp/redis.socket # Only define this if you want to use sockets #}
  namespace: resque:gitlab

{#-
 Log file.
 Default is gitlab-shell.log in the root directory.
#}
log_file: "{{ shell_dir }}/gitlab-shell.log"

{#-
 Log level. INFO by default
#}
log_level: DEBUG

{#-
 Audit usernames.
 Set to true to see real usernames in the logs instead of key ids, which is easier to follow, but
 incurs an extra API call on every gitlab-shell command.
#}
audit_usernames: false
