{#-
Copyright (C) 2013 the Institute for Institutional Innovation by Data
Driven Design Inc.

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE  MASSACHUSETTS INSTITUTE OF
TECHNOLOGY AND THE INSTITUTE FOR INSTITUTIONAL INNOVATION BY DATA
DRIVEN DESIGN INC. BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE
USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as contained in this notice, the names of the Institute for
Institutional Innovation by Data Driven Design Inc. shall not be used in
advertising or otherwise to promote the sale, use or other dealings
in this Software without prior written authorization from the
Institute for Institutional Innovation by Data Driven Design Inc.

Author: Lam Dang Tung <lamdt@familug.org>
Maintainer: Lam Dang Tung <lamdt@familug.org>
-#}
# {{ pillar['message_do_not_modify'] }}
# GitLab application config file

production: &base
{#-

   1. GitLab app settings
   ==========================

   GitLab settings
#}
  gitlab:
    host: {{ pillar['gitlab']['hostnames'][0] }}
    port: {{ salt['pillar.get']('gitlab:port', 80) }}
    {%- if salt['pillar.get']('gitlab:ssl', False) %}
    https: true
    {%- else %}
    https: false
    {%- endif %}

    {#-
     Uncomment and customize the last line to run in a non-root path
     WARNING: We recommend creating a FQDN to host GitLab in a root path instead of this.
     Note that four settings need to be changed for this to work.
     1) In your application.rb file: config.relative_url_root = "/gitlab"
     2) In your gitlab.yml file: relative_url_root: /gitlab
     3) In your unicorn.rb: ENV['RAILS_RELATIVE_URL_ROOT'] = "/gitlab"
     4) In ../gitlab-shell/config.yml: gitlab_url: "http://127.0.0.1/gitlab"
     To update the path, run: sudo -u git -H bundle exec rake assets:precompile RAILS_ENV=production

     relative_url_root: /gitlab
    #}

    {#-
     Uncomment and customize if you can't use the default user to run GitLab (default: 'git')
     user: git
    #}
    user: {{ user }}

    {#- Email settings #}
    email_from: {{ salt['pillar.get']('gitlab:smtp:from', pillar['smtp']['from']) }}
    support_email: {{ salt['pillar.get']('gitlab:support_email', '""') }}

    {#- User settings #}

    default_projects_limit: {{ salt['pillar.get']('gitlab:default_projects_limit', 10) }}

    {#- User can create group #}
    {%- if not salt['pillar.get']('gitlab:default_can_create_group', True) %}
    default_can_create_group: false
    {%- endif %}

    {#- User can create team #}
    {%- if not salt['pillar.get']('gitlab:default_can_create_team', True) %}
    default_can_create_team: false
    {%- endif %}

    {#- User can change her username/namespace #}
    {%- if not salt['pillar.get']('gitlab:username_changing_enabled', True) %}
    username_changing_enabled: false
    {%- endif %}

    default_theme: {{ salt['pillar.get']('gitlab:default_theme', 2) }}

    {#-
     Users management
     Account passwords are not sent via the email if signup is enabled.
    #}

    {%- if salt['pillar.get']('gitlab:signup_enabled', True) %}
    signup_enabled: true
    {%- endif %}

    {#-
     Restrict setting visibility levels for non-admin users.
     The default is to allow all levels.
    restricted_visibility_levels: [ "public" ]
    #}

    {#- Automatic issue closing #}

    {#-
     If a commit message matches this regular expression, all issues referenced from the matched text will be closed.
     This happens when the commit is pushed or merged into the default branch of a project.
     When not specified the default issue_closing_pattern as specified below will be used.
     issue_closing_pattern: ([Cc]lose[sd]|[Ff]ixe[sd]) +#\d+
    #}
    issue_closing_pattern: {{ salt['pillar.get']('gitlab:issue_closing_pattern', '([Cc]lose[sd]|[Ff]ixe[sd]) +#\d+') }}

    {#- Default project features settings #}
    default_projects_features:
      {%- if salt['pillar.get']('gitlab:default_projects_features:issues', True) %}
      issues: true
      {%- else %}
      issues: false
      {%- endif %}

      {%- if salt['pillar.get']('gitlab:default_projects_features:merge_requests', True) %}
      merge_requests: true
      {%- else %}
      merge_requests: false
      {%- endif %}

      {%- if salt['pillar.get']('gitlab:default_projects_features:wiki', True) %}
      wiki: true
      {%- else %}
      wiki: false
      {%- endif %}

      {%- if salt['pillar.get']('gitlab:default_projects_features:wall', False) %}
      wall: true
      {%- else %}
      wall: false
      {%- endif %}

      {%- if salt['pillar.get']('gitlab:default_projects_features:snippets', False) %}
      snippets: true
      {%- else %}
      snippets: false
      {%- endif %}

      visibility_level: "{{ salt['pillar.get']('gitlab:default_projects_features:visibility_level', 'private') }}"

  {#-
   External issues trackers
  issues_tracker:
    # redmine:
    #   title: "Redmine"
    #   ## If not nil, link 'Issues' on project page will be replaced with this
    #   ## Use placeholders:
    #   ##  :project_id        - GitLab project identifier
    #   ##  :issues_tracker_id - Project Name or Id in external issue tracker
    #   project_url: "http://redmine.sample/projects/:issues_tracker_id"
    #
    #   ## If not nil, links from /#\d/ entities from commit messages will replaced with this
    #   ## Use placeholders:
    #   ##  :project_id        - GitLab project identifier
    #   ##  :issues_tracker_id - Project Name or Id in external issue tracker
    #   ##  :id                - Issue id (from commit messages)
    #   issues_url: "http://redmine.sample/issues/:id"
    #
    #   ## If not nil, linkis to creating new issues will be replaced with this
    #   ## Use placeholders:
    #   ##  :project_id        - GitLab project identifier
    #   ##  :issues_tracker_id - Project Name or Id in external issue tracker
    #   new_issue_url: "http://redmine.sample/projects/:issues_tracker_id/issues/new"
    #
    # jira:
    #   title: "Atlassian Jira"
    #   project_url: "http://jira.sample/issues/?jql=project=:issues_tracker_id"
    #   issues_url: "http://jira.sample/browse/:id"
    #   new_issue_url: "http://jira.sample/secure/CreateIssue.jspa"
  #}

  {#- Gravatar #}
  gravatar:
    enabled: true                 # Use user avatar image from Gravatar.com (default: true)
    # plain_url: "http://..."     # default: http://www.gravatar.com/avatar/%{hash}?s=%{size}&d=mm
    # ssl_url:   "https://..."    # default: https://secure.gravatar.com/avatar/%{hash}?s=%{size}&d=mm

  {#-
   2. Auth settings
   ==========================

   LDAP settings
   You can inspect the first 100 LDAP users with login access by running:
    bundle exec rake gitlab:ldap:check[100] RAILS_ENV=production
  #}
  ldap:
    {%- if salt['pillar.get']('gitlab:ldap:enabled', False)  %}
    {%- set ldap =  pillar['gitlab']['ldap'] %}
    enabled: true
    host: '{{ ldap['host'] }}'
    base: '{{ ldap['base'] }}'
    port: {{ ldap['port'] }}
    uid: '{{ ldap['uid'] }}'
    method: '{{ ldap['method'] }}' # "ssl" or "plain"
    bind_dn: '{{ ldap['bind_dn'] }}'
    password: '{{ ldap['password'] }}'
    allow_username_or_email_login: {{ ldap['allow_username_or_email_login']|default('true') }}
    {%- else %}
    enabled: false
    {%- endif %}

  {#- OmniAuth settings #}
  omniauth:
    # Allow login via Twitter, Google, etc. using OmniAuth providers
    enabled: false

    # CAUTION!
    # This allows users to login without having a user account first (default: false).
    # User accounts will be created automatically when authentication was successful.
    allow_single_sign_on: false
    # Locks down those users until they have been cleared by the admin (default: true).
    block_auto_created_users: true

    ## Auth providers
    # Uncomment the following lines and fill in the data of the auth provider you want to use
    # If your favorite auth provider is not listed you can use others:
    # see https://github.com/gitlabhq/gitlab-public-wiki/wiki/Working-custom-omniauth-provider-configurations
    # The 'app_id' and 'app_secret' parameters are always passed as the first two
    # arguments, followed by optional 'args' which can be either a hash or an array.
    providers:
      # - { name: 'google_oauth2', app_id: 'YOUR APP ID',
      #     app_secret: 'YOUR APP SECRET',
      #     args: { access_type: 'offline', approval_prompt: '' } }
      # - { name: 'twitter', app_id: 'YOUR APP ID',
      #     app_secret: 'YOUR APP SECRET'}
      # - { name: 'github', app_id: 'YOUR APP ID',
      #     app_secret: 'YOUR APP SECRET' }

  {#-
   3. Advanced settings
   ==========================

   GitLab Satellites
  #}
  satellites:
    {#- Relative paths are relative to Rails.root (default: tmp/repo_satellites/) #}
    path: {{ home_dir }}/gitlab-satellites/

  {#- Backup settings #}
  backup:
    path: "tmp/backups"   # Relative paths are relative to Rails.root (default: tmp/backups/)
    # keep_time: 604800   # default: 0 (forever) (in seconds)

  {#- GitLab Shell settings #}
  gitlab_shell:
    path: {{ shell_dir }}/

    {#- REPOS_PATH MUST NOT BE A SYMLINK!!! #}
    repos_path: {{ repos_dir }}/
    hooks_path: {{ shell_dir }}/hooks/

    {#- Git over HTTP #}
    upload_pack: true
    receive_pack: true

    {#-
     If you use non-standard ssh port you need to specify it
    #}
    ssh_port: {{ salt['pillar.get']('gitlab:ssh_port', 22) }}

  {#- Git settings
   CAUTION!
   Use the default values unless you really know what you are doing
  }
  git:
    bin_path: /usr/bin/git
    {#-
     Max size of a git object (e.g. a commit), in bytes
     This value can be increased if you have very large commits
    #}
    max_size: {{ salt['pillar.get']('gitlab:max_size', 5242880) }}
    {#-
     Git timeout to read a commit, in seconds
    #}
    timeout: {{ salt['pillar.get']('gitlab:commit_timeout', 30) }}

  {#-
   4. Extra customization
   ==========================
  #}

  extra:
    {#-
     Google analytics. Uncomment if you want it
    google_analytics_id: '_your_tracking_id'

     Text under sign-in page (Markdown enabled)
     sign_in_text: |
       ![Company Logo](http://www.companydomain.com/logo.png)
       [Learn more about CompanyName](http://www.companydomain.com/)
    #}

development:
  <<: *base

test:
  <<: *base
  issues_tracker:
    redmine:
      title: "Redmine"
      project_url: "http://redmine/projects/:issues_tracker_id"
      issues_url: "http://redmine/:project_id/:issues_tracker_id/:id"
      new_issue_url: "http://redmine/projects/:issues_tracker_id/issues/new"

staging:
  <<: *base
