{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{%- if salt['pillar.get']('gitlab:smtp', False) %}
  {%- set smtp = salt['pillar.get']('gitlab:smtp', False) %}
{%- else %}
  {%- set smtp = salt['pillar.get']('smtp') %}
{%- endif %}

production: &base
  gitlab:
    host: {{ salt['pillar.get']('gitlab:hostnames')[0] }}
{%- set ssl = salt['pillar.get']('gitlab:ssl', False) %}
    port: {% if ssl %}443{% else %}80{% endif %}
    https: {% if ssl %}true{% else %}false{% endif %}

    user: gitlab

    email_from: {{ smtp['from'] }}
    email_display_name: Gitlab
    {#- email_reply_to: noreply@example.com #}

    default_can_create_group: true
    username_changing_enabled: true

    default_projects_features:
      issues: true
      merge_requests: true
      wiki: true
      snippets: false

    webhook_timeout: 10

    repository_downloads_path: /var/lib/gitlab/repositories

  gravatar:
    enabled: true

  ldap:
    enabled: false

  omniauth:
    enabled: false
    allow_single_sign_on: false
    block_auto_created_users: true
    auto_link_ldap_user: false
    providers:

  satellites:
    path: /home/gitlab/gitlab-satellites/

  backup:
    path: /var/lib/gitlab/gitlab-backups

  gitlab_shell:
    path: /home/gitlab/gitlab-shell/

    repos_path: /home/gitlab/repositories/
    hooks_path: /home/gitlab/gitlab-shell/hooks/

    upload_pack: true
    receive_pack: true

{%- set ports = salt['pillar.get']('ssh:server:ports', [22]) %}
{%- if 22 in ports %}
    ssh_port: 22
{%- else %}
    ssh_port: {{ ports[0] }}
{%- endif %}

  git:
    bin_path: /usr/bin/git
    max_size: {{ salt['pillar.get']('gitlab:max_size', 5242880) }}
    timeout: {{ salt['pillar.get']('gitlab:commit_timeout', 30) }}

  extra:

  rack_attack:
    git_basic_auth:
