# pillar['message_do_not_modify'] }}
{{ web_dir }}/log/*.log
/home/git/gitlab-shell/gitlab-shell.log
{
    daily
    missingok
    rotate 7
    compress
    delaycompress
    notifempty
    sharedscripts
    postrotate
       initctl start gitlab
    endscript
}
