{#-
 Author: Lam Dang Tung lamdt@familug.org
 Maintainer: Lam Dang Tung lamdt@familug.org
 -#}
gitlab_uwsgi_master:
  description: GitLab uWSGI Master Process

gitlab_uwsgi_worker:
  description: GitLab uWSGI Workers Process

gitlab_uwsgi_ping:
  description: GitLab uWSGI Ping

gitlab_nginx_http:
  description: GitLab HTTP protocol

gitlab_nginx_https:
  description: GitLab HTTPS protocol

gitlab_nginx_https_certificate:
  description: HTTPS Certificate Expiration
  check_interval: 1440 {#- only need to check https certificate each day #}

gitlab_postgresql:
  description: GitLab PostgreSQL database
