{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream gitlab {
    server unix:///var/run/gitlab/unicorn.sock;
}

upstream gitlab-git-http-server {
  server unix:///var/run/gitlab/gitlab-git-http-server.sock;
}
{%- endblock %}

{%- block root_location -%}
    client_max_body_size 20m;
    server_tokens off;

    if ($http_user_agent ~* "Go") {
        return 200 "
        <!DOCTYPE html>
        <head><meta content='$host$uri git $scheme://$host$uri.git' name='go-import'></head>
        </html>";
    }

    location / {
        try_files $uri $uri/index.html $uri.html @gitlab;
    }

    location /uploads/ {
        gzip off;

        proxy_read_timeout      300;
        proxy_connect_timeout   300;
        proxy_redirect          off;

        proxy_set_header    Host                $http_host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-Ssl     on;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto   $scheme;
        proxy_set_header    X-Frame-Options     SAMEORIGIN;

        proxy_pass http://gitlab;
    }

    location @gitlab {
        gzip off;

        proxy_read_timeout      300;
        proxy_connect_timeout   300;
        proxy_redirect          off;

        proxy_set_header    Host                $http_host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-Ssl     on;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto   $scheme;
        proxy_set_header    X-Frame-Options     SAMEORIGIN;

        proxy_pass http://gitlab;
    }

    location ~ ^/[\w\.-]+/[\w\.-]+/(info/refs|git-upload-pack|git-receive-pack)$ {
        error_page 418 = @gitlab-git-http-server;
        return 418;
    }

    location ~ ^/[\w\.-]+/[\w\.-]+/repository/archive {
        error_page 418 = @gitlab-git-http-server;
        return 418;
    }

    location ~ ^/api/v3/projects/.*/repository/archive {
        error_page 418 = @gitlab-git-http-server;
        return 418;
    }

    location @gitlab-git-http-server {
        gzip off;

        proxy_read_timeout      300;
        proxy_connect_timeout   300;
        proxy_redirect          off;

        proxy_buffering off;


        proxy_set_header    Host                $http_host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-Ssl     on;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto   $scheme;
        proxy_pass http://gitlab-git-http-server;
    }

    location ~ ^/(assets)/ {
        root /home/gitlab/gitlabhq-{{ version }}/public;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    error_page 502 /502.html;
{%- endblock %}
