{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}

{%- if salt['pillar.get']('gitlab:smtp', False) %}
  {%- set smtp = salt['pillar.get']('gitlab:smtp', False) %}
{%- else %}
  {%- set smtp = salt['pillar.get']('smtp') %}
{%- endif %}

if Gitlab::Application.config.action_mailer.delivery_method == :smtp
  ActionMailer::Base.smtp_settings = {
    address: "{{ smtp['server'] }}",
    port: {{ smtp['port'] }},
    user_name: "{{ smtp['user'] }}",
    password: "{{ smtp['password'] }}",
    domain: "{{ smtp['domain']|default( smtp['user'].split('@', 1)[1] ) }}",
    authentication: "{{ smtp['authentication']|default('plain') }}",
{%- if smtp['encryption']|default('plain') == 'starttls' %}
    enable_starttls_auto: true,
{%- else %}
    enable_starttls_auto: false,
    tls: true,
{%- endif %}
    openssl_verify_mode: 'peer'
  }
end
