{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Lam Dang Tung <lam@robotinfra.com>
Maintainer: Van Diep Pham <favadi@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{#-
 To enable smtp email delivery for your GitLab instance do next:
 1. Change config/environments/production.rb to use smtp
    config.action_mailer.delivery_method = :smtp
 2. Rename this file to smtp_settings.rb
 3. Edit settings inside this file
 4. Restart GitLab instance
#}

{%- if salt['pillar.get']('gitlab:smtp', False) %}
  {%- set smtp = salt['pillar.get']('gitlab:smtp', False) %}
{%- else %}
  {%- set smtp = salt['pillar.get']('smtp') %}
{%- endif %}

if Gitlab::Application.config.action_mailer.delivery_method == :smtp
  ActionMailer::Base.smtp_settings = {
    address: "{{ smtp['server'] }}",
    port: {{ smtp['port'] }},
    user_name: "{{ smtp['user'] }}",
    password: "{{ smtp['password'] }}",
    domain: "{{ smtp['domain']|default( smtp['user'].split('@', 1)[1] ) }}",
    authentication: "{{ smtp['authentication']|default('plain') }}",
{%- if smtp['encryption']|default('plain') == 'starttls' %}
    enable_starttls_auto: true,
{%- else %}
    enable_starttls_auto: false,
    tls: true,
{%- endif %}
  }
end
