{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}

description "Unicorn Web Server for Gitlab"

start on (net-device-up
          and local-filesystems
          and runlevel [2345]
          and postgresql-started)
stop on runlevel [!2345]

respawn
respawn limit 10 5

chdir /home/gitlab/gitlabhq-{{ version }}

env HOME="/home/gitlab"
env USER="gitlab"
env RAILS_ENV="production"

pre-start script
  install -o gitlab -g  www-data -m 750 -d /var/run/gitlab
end script

script
  sudo -E -H -u gitlab -g www-data bundle exec unicorn_rails -c \
       /home/gitlab/gitlabhq-{{ version }}/config/unicorn.rb -E "$RAILS_ENV"
end script
