# {{ pillar['message_do_not_modify'] }}
# /etc/init/gitlab.conf - Sidekiq config for gitlab
# use:
# sudo initctl {start,stop} gitlab

description "Sidekiq Background Worker for Gitlab"

start on runlevel [2345]
stop on runlevel [!2345]

chdir {{ web_dir }}

setuid git
setgid git

env RAILS_ENV="production"

post-start script
  exec bundle exec rake sidekiq:start
end script

post-stop script
  exec bundle exec rake sidekiq:stop
end script
