{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
description "Sidekiq Background Worker for Gitlab"

start on runlevel [2345]
stop on runlevel [!2345]

nice 10
respawn

chdir /home/gitlab/gitlabhq-{{ version }}

setuid gitlab
setgid redis

env HOME="/home/gitlab"
env USER="gitlab"
env RAILS_ENV="production"

script
  ./bin/background_jobs start_no_deamonize
end script
