{#-
Copyright (c) 2013 Lam Dang Tung

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

Author: Lam Dang Tung lamdt@familug.org
Maintainer: Lam Dang Tung lamdt@familug.org
 -#}
# {{ pillar['message_do_not_modify'] }}
{% set web = pillar['gitlab'] %}
[uwsgi]
master = true
post-buffering = 4096
env = RAILS_ENV=production
processes = {{ web['workers']|default(2) }}
harakiri = {{ web['timeout']|default(120) }}
harakiri-verbose = true

{% if web['cheaper']|default(False) %}
{% if web['cheaper'] > 0 %}
cheaper = {{ web['cheaper'] }}
{% else %}
cheap = true
{% endif %}
{% if web['workers'] == 1 and web['cheaper'] == 0 %}
idle = {{ web['idle']|default(300) }}
{% endif %}
{% endif -%}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
ksm = 20
{% endif -%}

buffer-size = 32768

lazy-apps = true
uid = git
gid = git
procname = gitlab-worker
procname-master = gitlab-master
socket = /var/lib/uwsgi/gitlab.sock
stats = /var/lib/uwsgi/gitlab-stats.sock
chdir = {{ web_dir }}
rack = {{ web_dir }}/config.ru
threaded-logger = true
no-orphans = true

{% if 'graylog2_address' in pillar %}
logger = graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }}
{% else %}
log-syslog = uwsgi-gitlab
{% endif %}
{% if 'graphite_address' in pillar %}
carbon-id = graylog2
carbon = {{ pillar['graphite_address'] }}:2003
{% endif %}

chmod-socket = 775
chown-socket = git:git
