{#-
Copyright (c) 2014, Dang Tung Lam
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Dang Tung Lam <lam@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
{%- include "erlang/nrpe/config.jinja2" -%}
{%- set timeout = 30 %}

ejabberd_proc:
  description: ejabberd Process
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -C beam -u ejabberd"

ejabberd_c2s_port:
  description: ejabberd XMPP Port (C2S)
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5222 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - ejabberd_proc

{%- if salt['pillar.get']('ejabberd:server_to_server', False) %}
ejabberd_s2s_port:
  description: ejabberd Server-to-Server(S2S) Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5269 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - ejabberd_proc
{%- endif %}

ejabberd_admin_port:
  description: ejabberd admin Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5280 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - ejabberd_proc

ejabberd_admin_http:
  description: ejabberd admin HTTP
  command: /usr/lib/nagios/plugins/check_http -H 127.0.0.1 -p 5280 -u /admin -e '401 Unauthorized' -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - ejabberd_admin_port

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context %}
{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance_prefix with context %}
{%- set deployment = 'ejabberd' %}
{{ postgresql_instance_prefix(deployment) }}
{{ nginx_instance(deployment, http_uri='/admin', https_result='401 Unauthorized', http_result='401 Unauthorized', extra_dependencies=('ejabberd_postgresql', 'ejabberd_admin_http')) }}
