{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Van Diep Pham <favadi@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
sleekxmpp==1.3.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
dnspython==1.12.0
