{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

import os.path

from sentry.conf.server import *

CONF_ROOT = os.path.dirname(__file__)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ salt['pillar.get']('sentry:db:name', 'sentry') }}',
        'USER': '{{ salt['pillar.get']('sentry:db:username', 'sentry') }}',
        'PASSWORD': '{{ salt['password.pillar']('sentry:db:password', 10) }}',
        'HOST': '{{ salt['pillar.get']('sentry:db:host', '127.0.0.1') }}',
        'PORT': '5432',
    }
}

SENTRY_KEY = '{{ salt['password.pillar']('sentry:django_key', 50) }}'

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': 'unix:/var/run/memcache/memcache.sock',
    }
}

SENTRY_CACHE = 'sentry.cache.django.DjangoCache'

# Set this to false to require authentication
SENTRY_PUBLIC = False
# disable account register
SENTRY_FEATURES = {
  'auth:register': False,
  'social-auth:register': False,
}

# You should configure the absolute URI to Sentry. It will attempt to guess it if you don't
# but proxies may interfere with this.
{%- set hostnames = salt['pillar.get']('sentry:hostnames') %}
SENTRY_URL_PREFIX = '{% if salt['pillar.get']('sentry:ssl', False) %}https{% else %}http{% endif %}://{{ hostnames[0] }}'  # No trailing slash!

{#-SENTRY_WEB_HOST = '0.0.0.0'#}
{#-SENTRY_WEB_PORT = 8080#}
{#-SENTRY_WEB_OPTIONS = {#}
{#-    'workers': {{ salt['pillar.get']('sentry:workers') }},  # the number of gunicorn workers#}
{#-    'worker_class': 'gevent',#}
{#-}#}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,
    'formatters': {
        'message_only': {
            'format': '[sentry] %(message)s'
        },
        'syslog': {
            'format': '%(asctime)-15s sentry[%(process)d] %(levelname)s %(name)s %(module)s.%(funcName)s:%(lineno)d %(message)s',
            'datefmt': '%b %d %H:%M:%S'
        }
    },
    'handlers': {
{%- set graylog2_address = salt['pillar.get']('graylog2_address', False) %}
{%- if graylog2_address %}
        'gelf': {
            'level': 'NOTSET',
            'class': 'graypy.handler.GELFHandler',
            'host': '{{ graylog2_address }}',
            'formatter': 'message_only'
        },
{% endif %}
        'syslog': {
            'level': 'NOTSET',
            'formatter': 'syslog',
            'class': 'logging.handlers.SysLogHandler',
            'address': '/dev/log',
            'facility': '{% if graylog2_address %}local7{% else %}daemon{% endif %}'
        },
        'sentry': {
            'level': 'ERROR',
            'class': 'raven.contrib.django.handlers.SentryHandler'
        }
    },
    'loggers': {
        'django': {
            'handlers': ['sentry', 'syslog'{% if graylog2_address %}, 'gelf'{% endif %}],
            'propagate': True,
            'level':'DEBUG'
        },
        'raven': {
            'handlers': ['sentry', 'syslog'{% if graylog2_address %}, 'gelf'{% endif %}],
            'propagate': False,
            'level': 'WARN'
        },
        'sentry.errors': {
            'handlers': ['syslog'{% if graylog2_address %}, 'gelf'{% endif %}],
            'level': 'DEBUG',
            'propagate': False
        }
    },
    'root': {
        'handlers': ['sentry', 'syslog'{% if graylog2_address %}, 'gelf'{% endif %}],
        'propagate': True,
        'level': 'NOTSET'
    }
}

{% set smtp = salt['pillar.get']('sentry:smtp', False)|default(salt['pillar.get']('smtp'), boolean=True) %}
EMAIL_HOST = '{{ smtp['server'] }}'
EMAIL_HOST_PASSWORD = '{{ smtp['password']|default('') }}'
EMAIL_HOST_USER = '{{ smtp['user']|default('') }}'
EMAIL_PORT = {{ smtp['port'] }}
DEFAULT_FROM_EMAIL = '{{ smtp['from'] }}'
{%- set encryption = smtp['encryption']|default('plain') -%}
{%- if encryption in ('ssl', 'starttls') %}
EMAIL_USE_TLS = True
    {%- if encryption == 'ssl' %}
EMAIL_BACKEND = 'django_smtp_ssl.SSLEmailBackend'
    {%- endif -%}
{%- else %}
EMAIL_USE_TLS = False
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
{%- endif %}

SERVER_EMAIL = DEFAULT_FROM_EMAIL

{% if salt['pillar.get']('graphite_address', False) %}
MIDDLEWARE_CLASSES = MIDDLEWARE_CLASSES + (
    'django_statsd.middleware.GraphiteRequestTimingMiddleware',
    'django_statsd.middleware.GraphiteMiddleware'
)
INSTALLED_APPS += ('django_statsd', 'django_insecure')
STATSD_PREFIX = 'sentry'
STATSD_CLIENT = 'django_statsd.clients.normal'
{% endif %}

ALLOWED_HOSTS = [{% for hostname in salt['pillar.get']('sentry:hostnames') %}"{{ hostname }}"{% if not loop.last %} , {% endif %}{% endfor %}]

STATIC_ROOT = '/var/lib/deployments/sentry/static'
STATIC_URL = '/_static/'

{#- XMPP/ejabber integration #}
INSTALLED_APPS += ('sentry_xmpp',)

{#- upgrade: 6.4.4 - 7.40 #}

SENTRY_ALLOW_REGISTRATION = False

# You should not change this setting after your database has been created
# unless you have altered all schemas first
SENTRY_USE_BIG_INTS = True

# The administrative email for this installation.
# Note: This will be reported back to getsentry.com as the point of contact. See
# the beacon documentation for more information.
SENTRY_ADMIN_EMAIL = 'noone@nowhere.local'
# Turn off beacon
SENTRY_BEACON = False

# Queue
CELERY_ALWAYS_EAGER = False
BROKER_URL = 'redis://localhost:6379'

SENTRY_RATELIMITER = 'sentry.ratelimits.redis.RedisRateLimiter'
SENTRY_BUFFER = 'sentry.buffer.redis.RedisBuffer'
SENTRY_QUOTAS = 'sentry.quotas.redis.RedisQuota'
SENTRY_TSDB = 'sentry.tsdb.redis.RedisTSDB'
SENTRY_FILESTORE = 'django.core.files.storage.FileSystemStorage'

# File storage
SENTRY_FILESTORE_OPTIONS = {
    'location': '/var/lib/deployments/sentry/sentry-files',
}

# If this file ever becomes compromised, it's important to regenerate your SECRET_KEY
# Changing this value will result in all current sessions being invalidated
SECRET_KEY = '{{ salt['password.generate']('sentry_secret_key', 56) }}'
