# {{ pillar['message_do_not_modify'] }}

import os.path

from sentry.conf.server import *

CONF_ROOT = os.path.dirname(__file__)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ pillar['sentry']['db']['name'] }}',
        'USER': '{{ pillar['sentry']['db']['username'] }}',
        'PASSWORD': '{{ pillar['sentry']['db']['password'] }}',
        'HOST': '{{ pillar['sentry']['db']['host'] }}',
        'PORT': '5432',
    }
}

{#CACHE_PREFIX = 'sentry'#}
{#CACHE_TIMEOUT = 300#}
{#MIDDLEWARE_CLASSES.insert(0, 'johnny.middleware.QueryCacheMiddleware')#}
{#MIDDLEWARE_CLASSES.insert(0, 'johnny.middleware.LocalStoreClearMiddleware')#}
{#CACHES = {#}
{#    'default' : dict(#}
{#        BACKEND = 'johnny.backends.memcached.MemcachedCache',#}
{#        LOCATION = [{% for ip in pillar['memcache_servers'] %}'{{ ip }}:11211'{% if not loop.last %},{% endif %}{% endfor %}],#}
{#        JOHNNY_CACHE = True,#}
{#    )#}
{#}#}
{#JOHNNY_MIDDLEWARE_KEY_PREFIX='sentry'#}

SENTRY_KEY = '{{ pillar['sentry']['django_key'] }}'

# Set this to false to require authentication
SENTRY_PUBLIC = False

# You should configure the absolute URI to Sentry. It will attempt to guess it if you don't
# but proxies may interfere with this.
SENTRY_URL_PREFIX = '{% if pillar['sentry']['ssl']|default(False) %}https{% else %}http{% endif %}://{{ pillar['sentry']['hostnames'][0] }}'  # No trailing slash!

{#SENTRY_WEB_HOST = '0.0.0.0'#}
{#SENTRY_WEB_PORT = 8080#}
{#SENTRY_WEB_OPTIONS = {#}
{#    'workers': {{ pillar['sentry']['workers'] }},  # the number of gunicorn workers#}
{#    'worker_class': 'gevent',#}
{#}#}

{% if pillar['sentry']['email']['method'] == "amazon_ses" %}
INSTALLED_APPS += ('django_ses',)
{% endif %}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,
    'formatters': {
        'message_only': {
            'format': '[sentry] %(message)s'
        },
        'syslog': {
            'format': '%(asctime)-15s sentry[%(process)d] %(levelname)s %(name)s %(module)s.%(funcName)s:%(lineno)d %(message)s',
            'datefmt': '%b %d %H:%M:%S'
        }
    },
    'handlers': {
{% if 'graylog2_address' in pillar %}
        'gelf': {
            'level': 'NOTSET',
            'class': 'graypy.handler.GELFHandler',
            'host': '{{ pillar['graylog2_address'] }}',
            'formatter': 'message_only'
        },
{% endif %}
        'syslog': {
            'level': 'NOTSET',
            'formatter': 'syslog',
            'class': 'logging.handlers.SysLogHandler',
            'address': '/dev/log',
            'facility': 'local7'
        },
        'sentry': {
            'level': 'ERROR',
            'class': 'raven.contrib.django.handlers.SentryHandler'
        }
    },
    'loggers': {
        'django': {
            'handlers': ['sentry', 'syslog'{% if 'graylog2_address' in pillar %}, 'gelf'{% endif %}],
            'propagate': True,
            'level':'DEBUG'
        },
        'raven': {
            'handlers': ['sentry', 'syslog'{% if 'graylog2_address' in pillar %}, 'gelf'{% endif %}],
            'propagate': False,
            'level': 'WARN'
        },
        'sentry.errors': {
            'handlers': ['syslog'{% if 'graylog2_address' in pillar %}, 'gelf'{% endif %}],
            'level': 'DEBUG',
            'propagate': False
        }
    },
    'root': {
        'handlers': ['sentry', 'syslog'{% if 'graylog2_address' in pillar %}, 'gelf'{% endif %}],
        'propagate': True,
        'level': 'NOTSET'
    }
}

{% if pillar['sentry']['email']['method'] == "amazon_ses" %}
EMAIL_BACKEND = 'django_ses.SESBackend'
AWS_SES_REGION_NAME = '{{ grains['region'] }}'
AWS_SES_REGION_ENDPOINT = 'email.us-east-1.amazonaws.com'
AWS_ACCESS_KEY_ID = '{{ pillar['amazon-ses']['access-key'] }}'
AWS_SECRET_ACCESS_KEY = '{{ pillar['amazon-ses']['secret-key'] }}'
DEFAULT_FROM_EMAIL = '{{ pillar['amazon-ses']['address'] }}'
{% else %}
EMAIL_HOST = '{{ pillar['sentry']['email']['server'] }}'
EMAIL_HOST_PASSWORD = '{{ pillar['sentry']['email']['password'] }}'
EMAIL_HOST_USER = '{{ pillar['sentry']['email']['user'] }}'
EMAIL_PORT = {{ pillar['sentry']['email']['port'] }}
DEFAULT_FROM_EMAIL = '{{ pillar['sentry']['email']['from'] }}'
{% if pillar['sentry']['email']['tls'] %}
EMAIL_USE_TLS = True
{% else %}
EMAIL_USE_TLS = False
{% endif %}
{% endif %}

SERVER_EMAIL = DEFAULT_FROM_EMAIL
SENTRY_SERVER_EMAIL = SERVER_EMAIL

{% if 'graphite_address' in pillar %}
MIDDLEWARE_CLASSES = MIDDLEWARE_CLASSES + (
    'django_statsd.middleware.GraphiteRequestTimingMiddleware',
    'django_statsd.middleware.GraphiteMiddleware'
)
INSTALLED_APPS += ('django_statsd',)
STATSD_PREFIX = 'sentry'
STATSD_CLIENT = 'django_statsd.clients.normal'
{% endif %}

ALLOWED_HOSTS = [{% for hostname in pillar['sentry']['hostnames'] %}"{{ hostname }}"{% if not loop.last %} , {% endif %}{% endfor %}]
