#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

set -o errexit
set -o pipefail

{#- log start stop time to syslog #}
source /usr/local/share/salt_common.sh
log_start_script "$@"
trap "log_stop_script \$?" EXIT

{#- automatically trim stale data #}

/usr/local/sentry/manage cleanup --days={{ clean_days }}' 2>&1 \
    | logger -t sentry-cleanup -p local0.info
