# {{ pillar['message_do_not_modify'] }}
{%- set python_version = '.'.join(grains['pythonversion'][0], grains['pythonversion'][1]) %}

upstream sentry {
    server unix:///var/lib/uwsgi/sentry.sock;
}

server {
    listen 80;
{% if pillar['sentry']['ssl']|default(False) %}
{% if pillar['sentry']['ssl_redirect']|default(False) %}
    {# if https, redirect http port 80 to https port 443 #}
    server_name {% for hostname in pillar['sentry']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    return 301 https://{{ pillar['sentry']['hostnames'][0] }}$request_uri;
}

server {
{% endif %}{# redirect http to https #}
    listen 443 ssl;
    ssl_certificate /etc/ssl/{{ pillar['sentry']['ssl'] }}/chained_ca.crt;
    ssl_certificate_key /etc/ssl/{{ pillar['sentry']['ssl'] }}/server.pem;
    ssl_client_certificate /etc/ssl/{{ pillar['sentry']['ssl'] }}/ca.crt;
    ssl_ciphers RC4:HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
{% endif %}

    server_name {% for hostname in pillar['sentry']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    root /usr/local/sentry;

    location /_admin_media/ {
        expires 1h;
        autoindex off;
        alias /usr/local/sentry/lib/python{{ python_version }}/site-packages/django/contrib/admin/static/;
    }

    location /_static/ {
        expires 1h;
        autoindex off;
        alias /usr/local/sentry/lib/python{{ python_version }}/site-packages/sentry/static/;
    }

    location / {
        {#  rewrite ^/favicon.ico$ /media/images/favicon.ico last;#}
        uwsgi_pass sentry;
        include uwsgi_params;
    }

}
