{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{%- set python_version = '%d.%d' % (grains['pythonversion'][0], grains['pythonversion'][1]) %}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream sentry {
    server unix:///var/lib/uwsgi/sentry.sock;
}
{%- endblock %}

{%- block root_location %}
    location /_admin_media/ {
        expires 1h;
        autoindex off;
        alias /var/lib/deployments/sentry/static/admin/;
    }

    location /_static/ {
        expires 1h;
        autoindex off;
        alias /var/lib/deployments/sentry/static/;
    }

    location = /favicon.ico {
        alias /var/lib/deployments/sentry/static/sentry/images/favicon.ico;
    }

    location ~ ^/apple-touch-icon {
        root /var/lib/deployments/sentry/static/sentry/vendor/bootstrap/docs/assets/ico/;
        rewrite ^/apple-touch-icon-([0-9]+)x[0-9]+.png$ /apple-touch-icon-$1-precomposed.png;
    }

    location = /metro-tile.png {
       return 404;
    }

{%- set timeout = salt['pillar.get']('sentry:timeout', 60) %}

    location / {
        uwsgi_pass sentry;
        include uwsgi_params;
        uwsgi_read_timeout {{ timeout }};
        uwsgi_send_timeout {{ timeout }};
    }
{%- endblock %}
