# {{ pillar['message_do_not_modify'] }}

boto==2.6.0
Django==1.4.5
    {%- if pillar['sentry']['email']['method'] == "amazon_ses" %}
django_ses==0.4.1
    {%- endif -%}
    {%- if 'graphite_address' in pillar %}
django-statsd-mozilla==0.3.8.7
    {%- endif -%}
    {%- if 'graylog2_address' in pillar %}
graypy==0.2.9
    {%- endif %}
ipython==0.13.2
pip==1.3.1
psycopg2==2.4.5
sentry==5.0.21
