{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

{%- if salt['pillar.get']('__test__', False) %}
# in salt.ci test mode, some cronjob might interfer with execution of tests
# make sure they exists but don't run
{%- else %}
# m h dom mon dow user command
0 * * * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.hourly
9 1 * * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.twice_daily
18 13 * * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.twice_daily
{%- set crontab_hour = salt['pillar.get']('crontab_hour', 6) %}
27 {{ crontab_hour }} * * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.daily
36 {{ crontab_hour }} * * 7 root nice -n 19 ionice -c3 run-parts --report /etc/cron.weekly
45 {{ crontab_hour }} 1 * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.monthly
{%- endif -%}
