{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <patate@fastmail.cn>
Maintainer: Bruno Clermont <patate@fastmail.cn>
-#}
# {{ pillar['message_do_not_modify'] }}

# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user command
{%- if salt['pillar.get']('__test__', False) -%}
    {#- in test mode, some cronjob might interfer with execution of tests,
        make sure they exists but don't run -#}
    {%- set next_week = salt['common.day_of_month'](7) %}
17 * {{ next_week }} * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.hourly
25 {{ salt['pillar.get']('crontab_hour', 6) }} {{ next_week }} * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.daily
47 {{ salt['pillar.get']('crontab_hour', 6) }} {{ next_week }} * 7 root nice -n 19 ionice -c3 run-parts --report /etc/cron.weekly
52 {{ salt['pillar.get']('crontab_hour', 6) }} {{ next_week }} * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.monthly
{%- else -%}
17 * * * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.hourly
25 {{ salt['pillar.get']('crontab_hour', 6) }} * * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.daily
47 {{ salt['pillar.get']('crontab_hour', 6) }} * * 7 root nice -n 19 ionice -c3 run-parts --report /etc/cron.weekly
52 {{ salt['pillar.get']('crontab_hour', 6) }} 1 * * root nice -n 19 ionice -c3 run-parts --report /etc/cron.monthly
{%- endif -%}
