{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{%- set allow_src_ips = salt['pillar.get']('squid:allow_src_ips', []) -%}
{%- set allow_dst_domains = salt['pillar.get']('squid:allow_dst_domains', []) -%}

{%- if grains['lsb_distrib_codename'] == 'precise' %}
acl manager proto cache_object
acl localhost src 127.0.0.1/32 ::1
acl to_localhost dst 127.0.0.0/8 0.0.0.0/32 ::1
{%- endif %}

{%- for address in allow_src_ips %}
acl Allow_ipsrcs_by_SaltStack src {{ address }}
{%- endfor %}
{%- for address in allow_dst_domains %}
acl Allow_dstdomains_by_SaltStack dstdomain {{ address }}
{%- endfor %}
acl SSL_ports port 443
acl Safe_ports port 80      # http
acl Safe_ports port 443     # https
acl Safe_ports port 210     # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280     # http-mgmt
acl Safe_ports port 488     # gss-http
acl Safe_ports port 591     # filemaker
acl Safe_ports port 777     # multiling http
acl CONNECT method CONNECT
http_access allow manager localhost
http_access deny manager
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost
{% if allow_src_ips %}http_access allow Allow_ipsrcs_by_SaltStack{% endif %}
{% if allow_dst_domains %}http_access allow Allow_dstdomains_by_SaltStack{% endif %}
http_access deny all
{%- for port in salt['pillar.get']('squid:ports', [3128]) %}
http_port {{ port }}
{%- endfor %}
coredump_dir /var/spool/squid3
refresh_pattern ^ftp:       1440    20% 10080
refresh_pattern ^gopher:    1440    0%  1440
refresh_pattern -i (/cgi-bin/|\?) 0 0%  0
refresh_pattern (Release|Packages(.gz)*)$      0       20%     2880
refresh_pattern .       0   20% 4320
{%- if salt['pillar.get']('squid:debug', False) %}
access_log syslog:daemon.debug
{%- else %}
access_log syslog:daemon.warning
{%- endif %}
maximum_object_size {{ salt['pillar.get']('squid:max_disk_filesize', 102400) }}
cache_dir ufs /var/spool/squid3 {{ salt['pillar.get']('squid:cache_disk_size', 2000) }} 16 256
