{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set mode = salt['pillar.get']('clamav:mode', 'local') %}
{%- set server_minion_id = salt['pillar.get']('clamav:server_minion_id', grains['id']) %}

freshclam_procs:
  description: FreshClam Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u clamav -C freshclam -a '-d --quiet'"

clamav_procs:
  description: ClamAV Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -u {% if mode == "local" %}clamav{% else %}root{% endif %} -C clamd'

{%- if mode == "network" %}
clamav_port:
  description: ClamAV Port
  command: "/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 3310"
  dependencies:
    - clamav_procs

clamav_remote_port:
  description: ClamAV Remote Port
  check: check_tcp!3310
  passive: False
  dependencies:
    - clamav_procs
{%- endif %}

{%- set max_age = 604800 %}  {# one week in seconds #}
clamav_last_update:
  description: ClamAV Last Update
  command: '/usr/lib/nagios/plugins/check_file_age -w {{ max_age }} -c {{ max_age }} /var/lib/clamav/last-update'
