# Usage of this is governed by a license that can be found in doc/license.rst
# {{ salt['pillar.get']('message_do_not_modify') }}
-e git+gitlab@git.robotinfra.com:dev/sphinx-theme-doc.git#egg=sphinx_rtd_theme
Sphinx==1.2.3
pyyaml==3.11
docutils==0.11
rst2pdf==0.93
Pillow==2.8.2
