{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{#- config file used for all shinken components, except the arbiter #}

[daemon]
user=shinken
group=shinken

pidfile=/var/run/shinken/{{ shinken_component }}.pid
workdir=/var/lib/shinken

use_local_log=0
use_syslog=1
log_level={{ salt['pillar.get']('shinken:log_level', 'INFO') }}

host=0.0.0.0
daemon_enabled=1

{#-interval_poll=5#}
{#-maxfd=1024#}
idontcareaboutsecurity=0

{%- set ssl = salt['pillar.get']('shinken:ssl', False) %}
{% if ssl %}
use_ssl=1
certs_dir=/etc/ssl/certs/
ca_cert=/etc/ssl/certs/{{ ssl }}_chained.crt
server_cert=/etc/ssl/certs/{{ ssl }}.crt
server_key=/etc/ssl/private/{{ ssl }}.pem
hard_ssl_name_check=0
{% else %}
use_ssl=0
{% endif %}
