# {{ pillar['message_do_not_modify'] }}

upstream shinken-backend {
    ip_hash;
{% for host in pillar['shinken']['architecture']['broker'] -%}
    server {{ pillar['shinken']['ip_addresses'][host] }}:7767;
{% endfor -%}
}

server {
    listen 80;
{% if pillar['shinken']['ssl']|default(False) %}
{% if pillar['shinken']['ssl_redirect']|default(False) %}
    {# if https, redirect http port 80 to https port 443 #}
    server_name {% for hostname in pillar['shinken']['web']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    return 301 https://{{ pillar['shinken']['web']['hostnames'][0] }}$request_uri;
}
{# https server #}
server {
{% endif %}{# redirect http to https #}
    listen 443 ssl;
    ssl_certificate /etc/ssl/{{ pillar['shinken']['ssl'] }}/chained_ca.crt;
    ssl_certificate_key /etc/ssl/{{ pillar['shinken']['ssl'] }}/server.pem;
    ssl_client_certificate /etc/ssl/{{ pillar['shinken']['ssl'] }}/ca.crt;
    ssl_ciphers RC4:HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
{% endif %}
{# web app logic #}
    server_name {% for hostname in pillar['shinken']['web']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    location / {
        proxy_pass http://shinken-backend;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
