# {{ pillar['message_do_not_modify'] }}

pip==1.3.1
{%- if 'files_archive' in pillar %}
-e /usr/local/shinken/src/shinken-{{ version }}
{%- else %}
-e git+git://github.com/naparuba/shinken.git@5851f10b836017f1af778636964fcc296f13dc80#egg=shinken
{%- endif %}
