{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

{%- for role in ('broker', 'arbiter', 'reactionner', 'poller', 'scheduler', 'receiver') %}
if [ -r /etc/init/shinken-{{ role }}.conf ]; then
    $1 shinken-{{ role }}
fi
{%- endfor -%}
