#!/bin/sh
#  {{ pillar['message_do_not_modify'] }}
{% for role in ('broker', 'arbiter', 'reactionner', 'poller', 'scheduler') %}
if [ -r /etc/init/shinken-{{ role }}.conf ]; then
    $1 shinken-{{ role }}
fi
{% endfor -%}
