{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

start on (net-device-up
          and local-filesystems
          and runlevel [2345]
          and started rsyslog)
stop on runlevel [!2345]

respawn
respawn limit 5 60
{%- if max_rss|default(False) %}
limit rss {{ max_rss }} {{ max_rss }}
{%- endif %}

pre-start script
  install -o shinken -g  shinken -m 750 -d /var/run/shinken
end script

script
{%- if max_filedescriptors|default(False) %}
  ulimit -Hn {{ max_filedescriptors }}
  ulimit -Sn {{ max_filedescriptors }}
{%- endif %}
  exec /usr/local/shinken/bin/shinken-{{ shinken_component }} -c /etc/shinken/{{ shinken_component }}.conf
  emit shinken-arbiter-{{ shinken_component }}
end script
