{%- extends "python/config.jinja2" -%}

{%- block body %}
    {{ super() }}
    {%- block pysc %}
{#{%- macro pysc_config(process_name=None, sentry_dsn_pillar_key='sentry_dsn', lock=None, daemon_user=None, daemon_group=None) %}#}
lock: {{ lock|default(False) }}

{%- set graphite_address = salt['pillar.get']('graphite_address', False) %}
        {%- if graphite_address %}
graphite: {{ graphite_address }}
        {%- endif -%}

        {%- if daemon_user|default(False) and daemon_group|default(False) %}
process:
  user: {{ daemon_user }}
  group: {{ daemon_group }}
        {%- endif -%}
    {%- endblock pysc -%}
{%- endblock body -%}
