{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
requests==2.4.3
{#- psutil 2.0.0 don't work with
  http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.ps.html#module-salt.modules.ps
  at least in 0.75.5-1.
  as pysc formula ends in the same python environment as salt, hardcode a
  working version. #}
psutil==1.2.1
raven==4.1.1
{%- if salt['pillar.get']('files_archive', False) %}
pysc==0.3.20
{%- else %}
http://archive.robotinfra.com/pip/pysc-0.3.20.tar.bz2
{%- endif %}
