{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
#}
{%- if salt['pillar.get']('files_archive', False) %}
requests==2.4.3
{#- psutil 2.0.0 don't work with
  http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.ps.html#module-salt.modules.ps
  at least in 0.75.5-1.
  as pysc formula ends in the same python environment as salt, hardcode a
  working version. #}
psutil==1.2.1
pysc==0.3.11
{%- else %}
http://archive.robotinfra.com/pip/pysc-0.3.11.tar.bz2
{%- endif %}
