{%- set deployment = 'salt_archive' %}
{%- set nginx_instances_checks = {'http': 'HTTP protocol', 'https': 'HTTPs Protocol', 'https_certificate': 'HTTPs Certificate Expiration'} -%}
{%- for check in nginx_instances_checks %}
{{ deployment }}_nginx_{{ check }}:
  description: {{ deployment|capitalize }} {{ nginx_instances_checks[check] }}
  check: check_nrpe!{{ deployment }}_nginx_{{ check }}
{%- if check == 'https_certificate' %}
  check_interval: 1440 {#- only need to check https certificate each day -#}
{%- endif %}
{% endfor -%}
