{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
salt_archive_nginx_http:
  description: Salt Archive HTTP Protocol

salt_archive_nginx_https:
  description: Salt Archive HTTPS Protocol

salt_archive_nginx_https_certificate:
  description: HTTPS Certificate Expiration
  check_interval: 1440 {#- only need to check https certificate each day -#}
