{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{%- from 'nginx/macro.jinja2' import http_listen, ssl_config with context %}

server {
    {{ http_listen() }}
{%- set ssl = salt['pillar.get']('salt_archive:ssl', False) %}
{%- if ssl %}
    {{ ssl_config(ssl) }}
{%- endif %}
    server_name {% for hostname in salt['pillar.get']('salt_archive:hostnames') %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    root /var/lib/salt_archive;

{%- for location in ('favicon.ico', '.ssh') %}
    location /{{ location }} {
        deny all;
        return 404;
    }
{%- endfor %}

{%- if not salt['pillar.get']('salt_archive:source', False) %}
    location /incoming {
        deny all;
        return 404;
    }
{%- endif %}

   location ~* /i18n/* {
        deny all;
        return 404;
    }

    location ~* ^/[a-z]+.cvd {
        root /var/lib/salt_archive/mirror/clamav;
    }

{% include "nginx/block_hacks.jinja2" %}

    {#- do not add .txt here, it will break robots.txt config #}
    location ~* \.(gz|zip)$ {
        expires max;
    }

    {% include 'nginx/location_robots.jinja2' %}

    location / {
        autoindex on;
    }
}
