#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Usage of this is governed by a license that can be found in doc/license.rst

{%- set home = salt['user.info']('salt_archive')['home'] -%}
{#- make sure everything is owner root:salt_archive #}
find {{ home }}/* ! -user root -exec chown root {} \;
find {{ home }}/* ! -group salt_archive -exec chgrp salt_archive {} \;
{#- make sure file are 644 #}
find {{ home }}/* -type f -not \( -perm 640 -or -path {{ home }}/incoming\* \) -exec chmod 640 {} \;
{#- make sure directory are 775 #}
find {{ home }}/* -type d -not \( -perm 750 -or -path {{ home }}/incoming\* \) -exec chmod 750 {} \;
