{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

! {{ salt['pillar.get']('message_do_not_modify') }}

hostname ospfd@{{ grains['id'] }}
password {{ salt['pillar.get']('quagga:ospfd:password', False)|default(salt['pillar.get']('quagga:password'), boolean=True) }}
enable password {{ salt['pillar.get']('quagga:ospfd:enable_password', False)|default(salt['pillar.get']('quagga:enable_password'), boolean=True) }}
{%- for interface in salt['pillar.get']('quagga:ospfd:interfaces', {}) %}
!
interface {{ interface }}
  ip ospf priority {{ salt['pillar.get']('quagga:ospfd:interfaces:' ~ interface ~ ':priority', 1) }}
{%- endfor %}

router ospf
{%- for network in salt['pillar.get']('quagga:ospfd:networks') %}
  network {{ network }} area 0
{%- endfor %}
!
log syslog
