{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

! {{ salt['pillar.get']('message_do_not_modify') }}

! service integrated-vtysh-config
hostname quagga-router@{{ grains['id'] }}
username root {{ salt['pillar.get']('quagga:vtysh:root_password') }}
!
