# {{ pillar['message_do_not_modify'] }}

upstream graphite {
    server unix:///var/lib/uwsgi/graphite.sock;
}

server {
{% if ssl|default(False) %}
    listen 443 ssl;
    ssl_certificate /etc/ssl/{{ ssl }}/chained_ca.crt;
    ssl_certificate_key /etc/ssl/{{ ssl }}/server.pem;
    ssl_client_certificate /etc/ssl/{{ ssl }}/ca.crt;
    ssl_ciphers RC4:HIGH:!aNULL:!MD5;
{% endif %}
    listen 80;
    server_name {% for hostname in hostnames %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    root /usr/local/graphite/webapp/;

    location /favicon.ico {
        deny all;
        return 404;
    }

    rewrite /media/css/dashboard.css /content/css/dashboard.css last;

    location /media/ {
        root /usr/local/graphite/lib/python2.7/site-packages/django/contrib/admin;
        expires 1h;
        autoindex off;
    }

    location /content/ {
        expires 1h;
        autoindex off;
    }

    location / {
        uwsgi_pass graphite;
        include uwsgi_params;
    }
}
{% endfor %}
