# {{ pillar['message_do_not_modify'] }}

upstream graphite {
    server unix:///var/run/uwsgi/graphite.sock;
}

# real server
server {
    listen 80;

    server_name graphite;

{#    root /var/lib/deployments/kontactsports;#}
    keepalive_timeout 5;

    access_log /var/log/nginx/graphite-access.log;
    error_log /var/log/nginx/graphite-error.log;

    location / {
{#        rewrite ^/favicon.ico$ /static/images/favicon.ico last;#}
        uwsgi_pass graphite;
        include uwsgi_params;
    }
}
