# {{ pillar['message_do_not_modify'] }}

upstream graphite {
    server unix:///var/lib/uwsgi/graphite.sock;
}

# real server
server {
    listen 80;

    server_name {% for hostname in pillar['graphite']['web']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    root /usr/local/graphite/webapp/;
    keepalive_timeout 5;

    location /favicon.ico {
        deny all;
        return 404;
    }

    rewrite /media/css/dashboard.css /content/css/dashboard.css last;

    location /media/ {
        root /usr/local/graphite/lib/python2.7/site-packages/django/contrib/admin;
        expires 1h;
        autoindex off;
    }

    location /content/ {
        expires 1h;
        autoindex off;
    }

    location / {
        uwsgi_pass graphite;
        include uwsgi_params;
    }
}
