Django<1.4
txamqp
python-memcached
pytz
simplejson
django-tagging
psycopg2
http://cairographics.org/releases/py2cairo-1.8.10.tar.gz
graphite-web==0.9.10
django-statsd-mozilla
raven
graypy
-e git+git://github.com/jeffkistler/django-decorator-include.git#egg=django-decorator-include
