# {{ pillar['message_do_not_modify'] }}
# graphite - Enterprise scalable realtime graphing

start on stopped rc RUNLEVEL=[2345]
stop on runlevel [!2345]

expect daemon
respawn

exec DJANGO_SETTINGS_MODULE=graphite.local_settings /usr/local/graphite/bin/python /usr/local/graphite/bin/django-admin.py run_gunicorn -n graphite-web -b {{ pillar['graphite']['web']['listen'] }} -w {{ pillar['graphite']['web']['workers'] }}
