{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
#!/bin/sh
# {{ salt['pillar.get']('message_do_not_modify') }}

{%- if instance is defined %}
cmd="/usr/local/graphite/bin/python /usr/local/graphite/bin/carbon-cache.py --config=/etc/graphite/carbon.conf --instance={{ instance }}"
{%- else %}
cmd="/usr/local/graphite/bin/python /usr/local/graphite/bin/carbon-relay.py --config=/etc/graphite/carbon.conf"
{%- set files_max = salt['pillar.get']('carbon:files_max', 16384) %}
ulimit -Hn {{ files_max }}
ulimit -Sn {{ files_max }}
{%- endif %}

cntr=0
if [ "$1" = "restart" ] ; then
    while [ $cntr -lt 10 ]; do
        $cmd stop | grep "No process with pid" -q && $cmd start && exit 0;
        sleep 0.1
        cntr=`expr $cntr + 1`
    done
    # script running too long, exit as error
    exit 1
else
    $cmd $1
    exit 0
fi

exit 0
