# {{ pillar['message_do_not_modify'] }}
{% if 'file_proxy' in pillar %}
{{ pillar['file_proxy'] }}/pip/1.3.1.tar.gz
{{ pillar['file_proxy'] }}/distribute/0.6.45.tar.gz
{{ pillar['file_proxy'] }}/zope.interface/4.0.5.tar.gz
{{ pillar['file_proxy'] }}/Twisted/13.0.0.tar.gz
{{ pillar['file_proxy'] }}/txAMQP/0.6.2.tar.gz
{{ pillar['file_proxy'] }}/whisper/0.9.10.tar.gz
{{ pillar['file_proxy'] }}/carbon/0.9.10.tar.gz
{% else %}
pip>=1.3.1
-e git+git://github.com/graphite-project/carbon.git@7928d76b3f4b30155bd1eb87b525a3b6b0db8380#egg=carbon
-e git+git://github.com/graphite-project/whisper.git@4a8396520a76c5b5e2b18036c20446e4832731b9#egg=whisper
{% endif %}
