{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

[carbon]
pattern = ^{{ grains['id']}}\.carbon\.
retentions = 60:90d

{%- for retention in salt['pillar.get']('carbon:retentions', [{'.*': '60s:30d'}]) %}
[rule_{{ loop.index }}]
pattern = {{ retention['pattern'] }}
retentions = {{ retention['retentions'] }}
{%- endfor -%}
