# {{ pillar['message_do_not_modify'] }}

[carbon]
pattern = ^{{ grains['id']}}\.carbon\.
retentions = 60:90d

{%- for name in pillar['graphite']['retentions'] %}
[name]
pattern = {{ pillar['graphite']['retentions'][name]['pattern'] }}
retentions = {{ pillar['graphite']['retentions'][name]['retentions'] }}

{%- endfor -%}
