{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

[carbon]
pattern = ^{{ grains['id']}}\.carbon\.
retentions = 60:90d

{%- for retention in salt['pillar.get']('carbon:retentions', [{'pattern' : '.*', 'retentions': '60s:30d'}]) %}
[rule_{{ loop.index }}]
pattern = {{ retention['pattern'] }}
retentions = {{ retention['retentions'] }}
{%- endfor -%}
