{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}
command[diamond_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -a "/usr/local/diamond/bin/python /usr/local/diamond/bin/diamond --foreground"
