{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

diamond_procs:
  description: Diamond Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -a "/usr/local/diamond/bin/python /usr/local/diamond/bin/diamond --foreground"'
