{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
diamond_procs:
  description: Diamond Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -u root -a "/usr/local/diamond/bin/python /usr/local/diamond/bin/diamond --foreground"'
