{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}

enabled = {% if instances %}True{% else %}False{% endif %}

{% for name in instances %}{% if loop.first %}instances = {% endif %}{{ instances[name] }}?{{ name }}{% if not loop.last %}, {% endif %}{% endfor %}
