{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

enabled = {% if instances %}True{% else %}False{% endif %}

{% for name in instances %}{% if loop.first %}instances = {% endif %}{{ instances[name] }}?{{ name }}{% if not loop.last %}, {% endif %}{% endfor %}
