# {{ salt['pillar.get']('message_do_not_modify') }}
{%- from 'nginx/macro.jinja2' import ssl_config with context -%}

{%- for map in salt['pillar.get']('redirect:map') %}
server {
    listen 80;
    listen [::]:80;
{%- if map.get('ssl', False) and ssl -%}
    {{ ssl_config(ssl) }}
{%- endif %}
    server_name {% for hostname in map['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

{% include "nginx/block_hacks.jinja2" %}

    return 301 {{ map['destination'] }}
    {%- if map.get('keep_request', False) -%}
    $request_uri
    {%- endif -%}
    ;
}
{%- endfor -%}
