{%- set mongodb_checks = {'procs': 'Daemon', 'port': 'Port', 'http': 'HTTP Interface', 'port_http': 'HTTP Port'} -%}
{%- for check in mongodb_checks %}
mongodb_{{ check }}:
  description: MongoDB {{ mongodb_checks[check] }}
  check: check_nrpe!mongodb_{{ check }}

{% endfor -%}
{#- TODO: remote port check? -#}
