{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

apt_cache_procs:
  description: Apt Cache Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C apt-cacher-ng -u apt-cacher-ng'

{%- set timeout = 30 %}
apt_cache_port:
  description: Apt Cache TCP Port
  timeout: {{ timeout }}
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 3142 -t {{ timeout }}
  dependencies:
    - apt_cache_procs

apt_cache_port_ipv6:
  description: Apt Cache TCP Port IPv6
  timeout: {{ timeout }}
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 3142 -t {{ timeout }}
  dependencies:
    - apt_cache_procs

{#-
curl -I http://localhost:3142

Precise:
  HTTP/1.1 404 OK
  Connection: close
  Content-Type: text/html
  Content-Length: 4144

Trusty:
  HTTP/1.1 404 Usage Information
  Connection: close
  Content-Type: text/html
  Content-Length: 4145
  #}
{{ nginx_instance('apt_cache', extra_dependencies=('apt_cache_port',), http_result="404", https_result="404") }}
