{%- macro log4j_syslog(log_level=None) %}
<!-- Syslog -->
<appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
  <param name="Facility" value="DAEMON"/>
  <param name="FacilityPrinting" value="false"/>
  <param name="Header" value="true"/>
  <param name="Threshold" value="{% if salt['pillar.get']('debug', False) %}DEBUG{% else %}{{ log_level|default("INFO", boolean=True) }}{% endif %}"/>
  <param name="SyslogHost" value="localhost"/>
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%p: %c{2} %x %m %n"/>
    </layout>
</appender>
{%- endmacro %}

{%- macro logback_syslog(log_level=None, throwable_excluded=True) %}
<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
  <syslogHost>localhost</syslogHost>
  <facility>LOCAL0</facility>
  <suffixPattern>[%thread] %logger %msg</suffixPattern>
  {%- if throwable_excluded %}
  <throwableExcluded>true</throwableExcluded>
  {%- endif %}
</appender>
{%- endmacro %}
