{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

shinken_scheduler_procs:
  description: Shinken Scheduler Deamon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:10 -u shinken -C shinken-schedul -a /etc/shinken/scheduler.conf"

shinken_scheduler_port:
  description: Shinken Scheduler Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 7768 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - shinken_scheduler_procs

shinken_scheduler_port_remote:
  description: Shinken Scheduler Remote Port
  timeout: {{ timeout }}
  check: check_tcp!7768
  passive: False
  dependencies:
    - shinken_scheduler_port

shinken_scheduler_memory_usage:
  description: Shinken Scheduler Memory Usage
  command: "/usr/lib/nagios/plugins/check_procs -u shinken -C shinken-schedul -m RSS -c {{ (grains['mem_total'] * 1024 * 20 / 100) | int }}"
  reaction: memory
  salt_env: {{ salt['pillar.get']('branch', 'master') }}
  dependencies:
    - shinken_scheduler_procs
