#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

# Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.
#
# Author: Viet Hung Nguyen <hvn@robotinfra.com>
# Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
set -e

# limit resources usage
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$

source /usr/local/bin/backup-validate
validate_archive "$1"

archive_path="$1"
archive_name=$(basename $archive_path)
subdir={{ salt['pillar.get']('backup_server:subdir', False)|default(grains['id'], boolean=True) }}
tmpdir=$(mktemp -d)
cd ${tmpdir}
mkdir "${subdir}"
mv $archive_path "${subdir}"
rsync --archive --quiet --relative ./"${subdir}"/ root@{{ salt['pillar.get']('backup_server:address') }}:/var/lib/backup
cd /
rm -rf ${tmpdir}
