#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Use of this is governed by a license that can be found in doc/license.rst.

set -e
{# limit resources usage #}
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$

source /usr/local/bin/backup-validate
validate_archive "$1"

archive_path=$(readlink -f "$1")
subdir={{ salt['pillar.get']('backup_server:subdir', False)|default(grains['id'], boolean=True) }}
tmpdir=$(mktemp -d)
cd "${tmpdir}"
mkdir "${subdir}"
mv "${archive_path}" "${subdir}"
{#- Do not preserve permission as it also change the permission of /var/lib/backup
which need to be in 775 for the monitoring check (run as non-root) to read some files #}
rsync --archive --no-perms --quiet --relative ./"${subdir}"/ root@{{ salt['pillar.get']('backup_server:address') }}:/var/lib/backup
cd /
rm -rf "${tmpdir}"
