{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set master = salt['pillar.get']('salt:master', False) %}
{%- if master %}
file_client: remote
{%- else %}{# master-less #}
file_client: local
{%- endif %}

file_roots:
  base:
    - /srv/salt/states
pillar_roots:
  base:
    - /srv/salt/pillar

id: {{ grains['id'] }}

mine_functions:
  monitoring.data: []

{%- set sentry_dsn = salt['pillar.get']('sentry_dsn', False) %}
{%- if sentry_dsn %}
sentry_common: {{ sentry_dsn }}
sentry_handler:
  dsn: requests+{{ sentry_dsn }}
{%- endif %}
{%- if salt['pillar.get']('salt:highstate', True) %}
state_verbose: False
{%- endif %}

grains:
{%- for role in salt['pillar.get']('roles', []) -%}
    {%- if loop.first %}
  roles:
    {%- endif %}
    - {{ role }}
{%- endfor %}
  branch: {{ salt['pillar.get']('branch', 'master') }}
  highstate: {{ salt['pillar.get']('salt:highstate', True) }}

ipv6: True
