# {{ pillar['message_do_not_modify'] }}
{# TODO: add support for GELF logging #}

{%- if pillar['salt']['master']|default(False) %}
master: {{ pillar['salt']['master'] }}
{%- else %}{# masterless #}
file_roots:
  base:
    - /srv/salt/states
pillar_roots:
  base:
    - /srv/salt/pillar
{%- endif %}
id: {{ grains['id'] }}
log_file: file:///dev/log
log_level: debug
log_fmt_logfile: '%(asctime)-15s salt-minion[%(process)d] %(name)s: %(message)s'
log_datefmt_logfile: '%b %d %H:%M:%S'
{%- if 'graphite_address' in pillar %}
carbon.host: {{ pillar['graphite_address'] }}
carbon.port: 2003
{%- endif -%}

{%- if 'shinken_pollers' in pillar %}
mine_functions:
  monitoring.data: []
{%- endif -%}
