{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Quan Tong Anh <quanta@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

# log start stop time to syslog
source /usr/local/share/salt_common.sh
# Ensure that only one instance of this script is running at a time
locking_script
log_start_script "$@"
trap "log_stop_script \$?" EXIT

if [ -x /usr/lib/nagios/plugins/check_minion_pillar_render.py ]; then
    /usr/lib/nagios/plugins/check_minion_pillar_render.py --formula=salt.minion --check=salt_minion_pillar_render
else
    logger -t "$(basename "$0")[$$]" -p 'local0.info' \
        "Cannot validate the pillar data first, just run highstate anyway"
fi
/usr/bin/salt-call state.highstate --return syslog,timestamps{% if salt['pillar.get']('sentry_dsn', False) %},sentry_common{% endif %}
