{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set graphite_address = salt['pillar.get']('graphite_address', False) %}
{%- if graphite_address %}
carbon.host: {{ graphite_address }}
carbon.port: 2003
{%- endif -%}