{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Quan Tong Anh <quanta@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

{%- if salt['pillar.get']('graphite_address', False) %}
carbon.host: {{ salt['pillar.get']('graphite_address', False) }}
carbon.port: 2003
{%- endif -%}
