{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
log_file: file:///dev/log
{%- if salt['pillar.get']('debug', False) %}
log_level: debug
{%- else %}
log_level: warning
{%- endif %}
log_fmt_logfile: '%(asctime)-15s salt-minion[%(process)d] %(name)s: %(message)s'
log_datefmt_logfile: '%b %d %H:%M:%S'
