{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

set -e

# limit resources usage
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$
XZ_DEFAULTS=--memlimit={{ salt['pillar.get']('backup:xz_memlimit', 64) }}MiB

dbname=$1
NOW=`date '+%Y-%m-%d-%H_%M_%S'`
export TERM=dumb
/usr/bin/mysqldump -p{{ salt['password.pillar']('mysql:password') }} -uroot --single-transaction $dbname | xz > /tmp/mysql-$dbname-$NOW.sql.xz
/usr/local/bin/backup-store /tmp/mysql-$dbname-$NOW.sql.xz
