#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

# Use of this source code is governed by a BSD license that can be found
# in the doc/license.rst file.
#
# Author: Luan Vo Ngoc <luan@robotinfra.com>
# Maintainer: Van Diep Pham <favadi@robotinfra.com>

set -e

# log start stop time to syslog
source /usr/local/share/salt_common.sh
# Ensure that only one instance of this script is running at a time
locking_script
log_start_script "$@"
trap "log_stop_script \$?" EXIT

value=`redis-cli --raw lastsave`
redis-cli --raw bgsave > /dev/null

while true
do
    sleep 10
    lastsave=`redis-cli --raw lastsave`
    if [ "$lastsave" -ne "$value" ]; then
        break
    fi
done

/usr/local/bin/backup-file redis /var/lib/redis dump.rdb
