{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
NTPDATE_USE_NTP_CONF=yes
{#-
 -s: log to syslog
#}
NTPOPTIONS="-s"
