{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Van Diep Pham <favadi@robotinfra.com>
Maintainer: Van Diep Pham <favadi@robotinfra.com>
-#}

gitlab_backup_procs:
  description: GitLab Backup Process
  command: '/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a "gitlab:backup:create"'

gitlab_backup:
  description: Gitlab Backup Age
  command: /usr/lib/nagios/plugins/check_backup.py --formula=gitlab.backup --check=gitlab_backup
  check_interval: {{ 12 * 60 }} {#- 12 hours  #}
  freshness_threshold: {{ ((12 * 60) + 10) * 60 }} {#- 12 hours + 10 minutes #}
  arguments:
    facility: gitlab
    warning: {{ salt['pillar.get']('backup:age', 48) }}
  timeout: 55
  dependencies:
    {#- no alert if load is too high #}
    - load_average
