shinken_reactionner_procs:
  description: Shinken Reactionner Deamon

shinken_reactionner_port:
  description: Shinken Reactionner Local Port

shinken-reactionner-remote-port:
  description: Shinken Reactionner Remote Port
  check: check_tcp!7769
