{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

redis_procs:
  description: Redis Daemon
{#- 2nd process is the dump that save on disk data for persistence #}
  command: '/usr/lib/nagios/plugins/check_procs -c 1:2 -u redis -C redis-server'

redis_port:
  description: Redis Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 6379 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - redis_procs

redis_port_ipv6:
  description: Redis Local Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 6379 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - redis_procs

redis_remote_port:
  check: check_tcp!6379
  description: Redis Remote Port
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - redis_procs
