{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
# {{ pillar['message_do_not_modify'] }}
{% set es = pillar['elasticsearch'] %}
bootstrap:
  mlockall: true

cluster:
  name: {{ es['cluster']['name'] }}
  routing:
    allocation:
      node_concurrent_recoveries: 2

{%- set pillar_string = 'elasticsearch:cluster:nodes:{0}:{1}'.format(grains['id'], origin_state) %}
http:
  port: 9200
  enabled: {% if salt['pillar.get'](pillar_string + ':http', True) %}true{% else %}false{% endif %}

transport:
  tcp:
    port: {{ salt['pillar.get'](pillar_string + ':port', 9300) }}

node:
  name: {{ salt['pillar.get'](pillar_string + ':name', grains['id']) }}
  master: {{ salt['pillar.get'](pillar_string + ':master', master) }}
  data: {{ salt['pillar.get'](pillar_string + ':data', data) }}

{#- configure amazon ec2 cloud auto-discovery #}
{% if es['aws']|default(false) %}
cloud:
  region: {{ grains['region'] }}
  aws:
    access_key: {{ es['aws']['access_key'] }}
    secret_key: {{ es['aws']['secret_key'] }}
  node:
    auto_attributes: true
discovery:
  type: ec2
  zen:
    ping_timeout: 30s
  ec2:
    host_type: private_ip
    any_group: true
    availability_zones: {{ grains['availabilityZone'] }}
gateway:
  recover_after_time: 1m
  recover_after_nodes: 1
  type: s3
  s3:
    bucket: microsigns-{{ grains['region'] }}
    concurrent_streams: 5
indices:
  recovery:
    max_size_per_sec: 0
    concurrent_streams: 5
{% else %}
{# standard static list of cluster nodes #}
discovery:
  zen:
    ping:
      multicast:
        enabled: false
      unicast:
        hosts: [
{%- for node in es['cluster']['nodes'] -%}
    {%- for origin_state in es['cluster']['nodes'][node] -%}
        {%- if origin_state != '_network' -%}
"{{ es['cluster']['nodes'][node]['_network']['private'] }}:{{ es['cluster']['nodes'][node][origin_state]['port']|default(9300) }}",
        {%- endif -%}
    {%- endfor -%}
{%- endfor %}]
{% endif %}
