#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Use of this is governed by a license that can be found in doc/license.rst.

set -e

# log start stop time to syslog
source /usr/local/share/salt_common.sh
log_start_script "$@"
trap "log_stop_script \$?" EXIT

# flush old logs of one week old
tmpreaper -m 7d /var/log/elasticsearch
