{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- if salt['pillar.get']('debug', False) %}
rootLogger: DEBUG, console, syslog_info
{%- else %}
rootLogger: INFO, console, syslog_info
{%- endif %}
logger:
  # log action execution errors for easier debugging
  action: DEBUG
  # reduce the logging for aws, too much is logged under the default INFO
  com.amazonaws: WARN

  # gateway
  #gateway: DEBUG
  #index.gateway: DEBUG

  # peer shard recovery
  #indices.recovery: DEBUG

  # discovery
  #discovery: TRACE

  index.search.slowlog: TRACE, syslog_search_slow
  index.indexing.slowlog: TRACE, syslog_index_slow

additivity:
  index.search.slowlog: false
  index.indexing.slowlog: false

appender:
  console:
    type: console
    layout:
      type: consolePattern
      conversionPattern: "[%d{ISO8601}][%-5p][%-25c] %m%n"

  syslog_info:
    type: syslog
    header: true
    syslogHost: 127.0.0.1:514
    facility: local0
    layout:
      type: pattern
      conversionPattern: "[%d{ISO8601}][%-5p][%-25c] %m%n"

  syslog_index_slow:
    type: syslog
    header: true
    syslogHost: 127.0.0.1:514
    facility: local2
    layout:
      type: pattern
      conversionPattern: "[%d{ISO8601}][%-5p][%-25c] %m%n"

  syslog_index_merge_slow:
    type: syslog
    header: true
    syslogHost: 127.0.0.1:514
    facility: local3
    layout:
      type: pattern
      conversionPattern: "[%d{ISO8601}][%-5p][%-25c] %m%n"
