
{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}# {{ pillar['message_do_not_modify'] }}

enabled = True
user = monitoring
password = {{ salt['password.pillar']('postgresql:monitoring:password') }}
host = 127.0.0.1
