{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

enabled = True
user = monitoring
password = {{ salt['password.pillar']('postgresql:monitoring:password') }}
host = 127.0.0.1
