{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

enabled = True
user = monitoring
password = {{ salt['password.pillar']('postgresql:monitoring:password') }}
host = 127.0.0.1
