{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
denyhosts_procs:
  description: Denyhosts Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C python -a "/usr/sbin/denyhosts --daemon --purge --config=/etc/denyhosts.conf" -u root'
