{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Van Pham Diep <favadi@robotinfra.com>
-#}
denyhosts_procs:
  description: Denyhosts Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C python -a "/usr/sbin/denyhosts --daemon --purge --config=/etc/denyhosts.conf" -u root'
