{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
postgresql_procs:
  description: PostgreSQL Daemon

postgresql_port:
  description: PostgreSQL Port
