{%- set version="5983c9b98e9341bec6ed98b6cfc625321029ee14" %}
{%- set files_archive = salt['pillar.get']('files_archive', False) %}
{%- set mirror = files_archive if files_archive else "http://archive.robotinfra.com" %}
{%- set go_arch = "386" if grains["osarch"] == "i386" else grains["osarch"] %}
{%- set source = mirror ~ "/mirror/btcd/btcd-" ~ version ~ "-linux-" ~
                        go_arch ~ ".tar.bz2" %}
{%- if grains["osarch"]== "i386" %}
  {%- set source_hash = "md5=4146cbe9f389318d67a73dd97c342b6c" %}
{%- elif grains["osarch"]== "amd64" %}
  {%- set source_hash = "md5=91510e27649d893d6d29c9f715c8e846" %}
{%- endif %}
{%- set install_dir = "/usr/local/btcd-" ~ version %}

{%- set btcd = {
        "version": version,
        "source": source,
        "source_hash": source_hash,
        "install_dir": install_dir,
} %}
