{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

erlang_procs:
  description: Erlang Port Mapper Daemon
  command: '/usr/lib/nagios/plugins/check_procs -w 1:1 -c :1 -C epmd'

erlang_port:
  {%- set timeout = 30 %}
  description: Erlang Port Mapper Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 4369 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - erlang_procs
