{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}

# {{ pillar['message_do_not_modify'] }}
command[graylog2_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a '-jar /usr/local/graylog2-server-{{ version }}/graylog2-server.jar'
{#- if graylog2_address isn't 127.0.0.1 test fail -#}
{%- if not pillar['__test__']|default(False) or pillar['graylog2_address']|default('0.0.0.0') == '127.0.0.1' %}
command[graylog2_incoming_logs]=/usr/lib/nagios/plugins/check_new_logs.py -w 1:50000 -t 60
{%- endif %}
