{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}

{%- set version = '0.20.6' -%}
{%- set timeout = 45 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

graylog2_procs:
  description: Graylog2 Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a '-jar /usr/local/graylog2-server-{{ version }}/graylog2-server'"

graylog2_api_port:
  description: Graylog2 API Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 12900 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - graylog2_procs

graylog2_api:
  description: Graylog2 API Interface
  command: /usr/lib/nagios/plugins/check_http -I 127.0.0.1 -u /system -p 12900 -e '401 Unauthorized' -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - graylog2_api_port

graylog2_incoming_logs:
  description: Incoming Logs Rate
  command: /usr/lib/nagios/plugins/check_new_logs.py --formula=graylog2.server --check=graylog2_incoming_logs
  dependencies:
    - graylog2_api
  timeout: 55
  arguments:
    api_url: 'http://127.0.0.1:12900/system/throughput'
    username: '{{ salt['pillar.get']('graylog2:admin_username', 'admin') }}'
    password: '{{ salt['pillar.get']('graylog2:admin_password') }}'
    crit_range: '1:50000'
    max_retry: 20

graylog2_input_gelf:
  description: Graylog2 GELF Input
  command: /usr/lib/nagios/plugins/check_udp_listen 12201
  {{ passive_interval(15) }} {#- 15 minutes #}
  dependencies:
    - graylog2_procs

graylog2_input_syslog:
  description: Graylog2 GELF Input
  command: /usr/lib/nagios/plugins/check_udp_listen 1514
  {{ passive_interval(15) }} {#- 15 minutes #}
  dependencies:
    - graylog2_procs

{%- from 'elasticsearch/nrpe/instance.jinja2' import elasticsearch_instance with context %}
{{ elasticsearch_instance('graylog2.server', 'graylog2_procs') }}
