# {{ pillar['message_do_not_modify'] }}
command[graylog2_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C java -a '-jar /usr/local/graylog2-server-{{ version }}/graylog2-server.jar'
command[graylog2_incoming_logs]=/usr/lib/nagios/plugins/check_new_logs.py -w 1:50000 -t 60
