{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}
{%- set servers = salt['pillar.get']('ntp:servers', []) -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

ntp_procs:
  description: NTP Daemon
  command: '/usr/lib/nagios/plugins/check_procs -C ntpd -u ntp -w 1:1'

{%- if servers|length > 0 %}
ntp_time:
  description: NTP clock offset between the localhost and remote server
  command: '/usr/lib/nagios/plugins/check_ntp_time -H {{ servers[0] }} -w 2 -c 5'
{%- endif %}

{% if salt['pillar.get']('ntp:is_server', False) %}
ntp_sync:
  description: NTP Synchronization
  command: /usr/lib/nagios/plugins/check_ntp_peer -H 127.0.0.1 -w 2 -C 5 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - ntp_procs

ntp_sync_ipv6:
  description: NTP Synchronization
  command: /usr/lib/nagios/plugins/check_ntp_peer -6 -H ::1 -w 2 -C 5 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - ntp_procs
{%- endif %}
