{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

proftpd_procs:
  description: ProFTPD Daemon
  command: '/usr/lib/nagios/plugins/check_procs -C proftpd -w 1:1 -u www-data -a "proftpd: (accepting connections)"'

proftpd_port:
  description: ProFTPD Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 21 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - proftpd_procs

{%- if salt['monitoring.data']()['ip_addrs6']['public'] %}
proftpd_port_ipv6:
  description: ProFTPD Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 21 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - proftpd_procs
{%- endif %}

{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance_prefix with context %}
{{ postgresql_instance_prefix('proftpd') }}

proftpd_ftp:
  description: ProFTPD FTP Connection
  command: /usr/lib/nagios/plugins/check_ftp -H 127.0.0.1 -p 21 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - proftpd_port
    - proftpd_postgresql
