{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
{%- set timeout = 30 -%}
proftpd_procs:
  description: ProFTPD Daemon
  command: '/usr/lib/nagios/plugins/check_procs -C proftpd -w 1:1 -u www-data -a "proftpd: (accepting connections)"'

proftpd_port:
  description: ProFTPD Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 21 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - proftpd_procs

{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance_prefix with context %}
{{ postgresql_instance_prefix('proftpd') }}

proftpd_ftp:
  description: ProFTPD FTP Connection
  command: /usr/lib/nagios/plugins/check_ftp -H 127.0.0.1 -p 21 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - proftpd_port
    - proftpd_postgresql
