    # deny read file README.txt
    location ~* /recordings/README.txt {
        deny all;
        return 404;
    }

    # deny read file config.php
    location ~* /admin/config.php {
        deny all;
        return 404;
    }

    # deny scan admin 
    location ~* ^/(admn|admm|_admin|padmin) {
        deny all;
        return 404;
    }

    # deny scan cpanel
    location ~* ^/(cpphpmyadmin|cpdbadmin|cpanel|cpadmin) {
        deny all;
        return 404;
    }

    # deny scan PhpMyAdmin
    location ~* ^/(phpmyadmin|pHpMyAdMiN|PHPMyAdmin|PHPMYADMIN|sql|mysql|SQL) {
        deny all;
        return 404;
    }

    # deny run script cgi-bin
    location ~* /cgi-bin {
        deny all;
        return 404;
    }

    # deny w00tw00t.at.ISC.SANS.DFind Web Scanner
    location ~* /w00tw00t {
        deny all;
        return 404;
    }
