    ## Deny scan admin page 
    location ~* /(admn|admm|_admin|padmin) {
        deny all;
        return 404;
    }

    ## Deny scan panel page
    location ~* /(cpphpmyadmin|cpdbadmin|cpanel|cpadmin) {
        deny all;
        return 404;
    }

    ## Deny scan pages manage database
    location ~* /(phpmyadmin|pHpMyAdMiN|PHPMyAdmin|PHPMYADMIN|sql|mysql|SQL) {
        deny all;
        return 404;
    }

    ## Deny run script cgi-bin
    location ~*/cgi-bin {
        deny all;
        return 404;
    }

    ## Deny w00tw00t.at.ISC.SANS.DFind Web Scanner
    location ~*/w00tw00t {
        deny all;
        return 404;
    }
