{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
%salt-fire-event ALL=(root) NOPASSWD:/usr/local/bin/salt_fire_event.py
