{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

{{ nginx_instance(formula='salt.archive.server', allow_ssl_redirect=False, deployment='salt_archive', pillar_prefix='salt_archive') }}

{%- if salt['pillar.get']('salt_archive:source', False) %}
  {%- set max_age = salt['pillar.get']('salt_archive:max_age', 3600) %}
salt_archive_timestamp:
  description: Salt Archive Synchronization
  check_interval: {{ 15 * 60 }} {#- 15 hours #}
  freshness_threshold: {{ ((15 * 60) + 10) * 60 }} {#- 24 hours + 10 minutes #}
  command: 'sudo /usr/lib/nagios/plugins/check_file_age -w {{ max_age }} -c {{ max_age }} {{ opts['cachedir'] }}/sync_timestamp.dat'
{%- endif -%}
