{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

<?php
# {{ salt['pillar.get']('message_do_not_modify') }}

define( 'WP_INSTALLING', true );

require_once( dirname( dirname( __FILE__ ) ) . '/wp-load.php' );
require_once( dirname( __FILE__ ) . '/includes/upgrade.php' );
require_once(dirname(dirname(__FILE__)) . '/wp-includes/wp-db.php');

$weblog_title = "{{ salt['pillar.get']('wordpress:title') }}";
$user_name = "{{ salt['pillar.get']('wordpress:username') }}";
$admin_password = "{{ salt['pillar.get']('wordpress:admin_password') }}";
$admin_email  = "{{ salt['pillar.get']('wordpress:admin_email') }}";
$public       =  {{ salt['pillar.get']('wordpress:public', 1) }};

$result = wp_install($weblog_title, $user_name, $admin_email, $public, '', $admin_password);

{#- write result to syslog #}
syslog(LOG_INFO, var_dump($result) );

?>
