{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{{ web_dir }}/wp-content/*.log
{
    daily
    missingok
    rotate 7
    compress
    delaycompress
    notifempty
    sharedscripts
}
