{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set ssl = salt['pillar.get']('wordpress:ssl', False) %}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream wordpress {
    server unix:///var/lib/uwsgi/wordpress.sock;
}
{%- endblock %}

{%- block root_location %}
{% for dir in ('skins',) %}
    location /{{ dir }}/ {
        expires max;
        autoindex off;
    }
{% endfor %}

    index index.php index.html index.htm;
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        gzip off;
        include uwsgi_params;
        uwsgi_modifier1 14;
        uwsgi_pass wordpress;
{%- if not ssl and salt['pillar.get']('wordpress:reverse_proxy_ssl', False) %}
        uwsgi_param HTTPS on;
{%- endif %}
    }
{%- endblock %}
