{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Quan Tong Anh <quanta@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
{%- for value in salt['pillar.get']('pgbouncer:databases').itervalues() %}
"{{ value['username'] }}" "{{ value['password'] }}"
{%- endfor %}
