{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set authentication = salt['pillar.get']('pgbouncer:authentication', False) %}
{%- if authentication %}
    {%- for user, password in authentication.iteritems() %}
"{{ user }}" "{{ password }}"
    {%- endfor %}
{%- else %}
    {%- for value in salt['pillar.get']('pgbouncer:databases').itervalues() %}
"{{ value['username'] }}" "{{ value['password'] }}"
    {%- endfor %}
{%- endif %}
