{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
{%- from 'uwsgi/nrpe/instance.jinja2' import uwsgi_instance with context -%}
{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance_prefix with context -%}
{%- set deployment = 'graphite' %}
{{ uwsgi_instance(deployment) }}
{{ postgresql_instance_prefix('graphite')}}
{{ nginx_instance(deployment, timeout=55, http_uri='/account/login', extra_dependencies=('graphite_uwsgi_worker', 'graphite_postgresql')) }}
