# {{ pillar['message_do_not_modify'] }}

user  www-data www-data;
worker_processes  1;

error_log /var/log/nginx/error.fifo warn;
pid /var/run/nginx.pid;
daemon off;

events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;
    default_type  application/octet-stream;
    log_format main '{{ pillar['nginx']['log_format']|default('$scheme://$host:$server_port$uri$is_args$args $remote_addr:$remote_user "$request" $request_time $request_length:$bytes_sent $status "$http_referer" "$http_user_agent" "$http_x_forwarded_for"') }}';
    access_log /var/log/nginx/access.fifo main;
    sendfile on;
    #tcp_nopush on;
    keepalive_timeout 65;
    server_names_hash_bucket_size 64;

    gzip on;
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    # turn on nginx_status on localhost
    server {
        listen 127.0.0.1:80;
        server_name 127.0.0.1;
        location /nginx_status {
            stub_status on;
            access_log off;
            allow 127.0.0.1;
            deny all;
        }
    }

{% if pillar['nginx']['redirect_numeric_ip']|default(False) %}
    server {
        server_name {% for ip in salt['network.interfaces']()['eth0']['inet'] %}{{ ip['address'] }}:80{% if not loop.last %} {% endif %}{% endfor %};
        return 302 {{ pillar['nginx']['redirect_numeric_ip'] }};
        access_log off;
    }
{% endif %}

    include /etc/nginx/conf.d/*.conf;
}
