{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{%- from 'nrpe/passive.jinja2' import passive_interval with context %}
{%- set age = salt['pillar.get']('backup:age', 48) %}

piwik_backup_mysql_procs:
  description: Piwik Backup MySQL Database Process
  command: '/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a "/usr/local/bin/backup-mysql piwik"'

piwik_backup_procs:
  description: Piwik Backup File Process
  command: '/usr/lib/nagios/plugins/check_procs -c 0:1 -u root -a "/usr/local/bin/backup-file piwik /etc piwik"'

piwik_backup_mysql_age:
  description: Piwik MySQL Database Backup's Age
  command: /usr/lib/nagios/plugins/check_backup.py --formula=piwik.backup --check=piwik_backup_mysql_age
  {{ passive_interval(12 * 60) }} {#- 12 hours #}
  timeout: 55
  arguments:
    facility: mysql-piwik
    warning: {{ age }}
  dependencies:
    {#- no alert if load is too high #}
    - load_average

piwik_backup:
  description: Piwik Backup Age And Size
  command: /usr/lib/nagios/plugins/check_backup.py --formula=piwik.backup --check=piwik_backup
  {{ passive_interval(12 * 60) }} {#- 12 hours #}
  timeout: 55
  arguments:
    facility: piwik
    warning: {{ age }}
  dependencies:
    {#- no alert if load is too high #}
    - load_average
