{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

pip==1.5.2
Glances==1.7.4
psutil==1.2.1
setuptools==1.3

{#- Optional plugins
pysensors (optional for HW monitoring support) [Linux-only]
hddtemp (optional for HDD temperature monitoring support)
batinfo (optional for battery monitoring support) [Linux-only]
-#}
