{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}
{%- set reserved_keys = ('secret', 'user', 'group', 'syslog', 'writepid', 'port', 'ifconfig', 'remote') -%}
{%- set blocked_keys = ('log', 'log-append') -%}
{%- set configs = pillar['openvpn'][tunnel]['config']|default({}) %}
secret /etc/openvpn/{{ tunnel }}/secret.key
user nobody
group nogroup
writepid /var/run/openvnp-{{ tunnel }}.pid
syslog vpn-{{ tunnel }}
persist-tun
persist-key
{%- if 'dev' not in configs %}
dev tun
{%- endif -%}
{%- for key in configs -%}
    {%- if key not in reserved_keys -%}
        {%- if key not in blocked_keys %}
{{ key }} {{ configs[key] }}
        {%- else %}
# ignore "{{ key }}: {{ configs[key] }}" {{ key }} is a blocked key!
        {%- endif -%}
    {%- else %}
# ignore "{{ key }}: {{ configs[key] }}" {{ key }} is a reserved key!
    {%- endif -%}
{%- endfor -%}
{%- if 'port' in pillar['openvpn'][tunnel]['peers'][grains['id']] %}
port {{ pillar['openvpn'][tunnel]['peers'][grains['id']]['port'] }}
{%- endif -%}
{%- for peer in pillar['openvpn'][tunnel]['peers'] -%}
    {%- if peer != grains['id'] %}
ifconfig {{ pillar['openvpn'][tunnel]['peers'][grains['id']]['vpn_address'] }} {{ pillar['openvpn'][tunnel]['peers'][peer]['vpn_address'] }}
remote {{ pillar['openvpn'][tunnel]['peers'][peer]['address'] }} {{ pillar['openvpn'][tunnel]['peers'][peer]['port']|default('') }}
    {%- endif -%}
{%- endfor -%}
