{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
{#-
 this is a constant used to define the -c flag of nagios check that set the
 maximal number of iptables rules before it's considered critical.
 the number is high because we only care about 0 iptables, where there is just
 no rules applied.
#}
firewall_rules:
  description: Firewall Rules
  command: 'sudo /usr/lib/nagios/plugins/check_firewall.py --formula=firewall --check=firewall_rules'
  arguments:
    warning: 300
