{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}
command[firewall_rules]=sudo /usr/lib/nagios/plugins/check_firewall.py -w 1:{{ critical }}
