{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

firewall_rules:
  description: Firewall Rules
  command: 'sudo /usr/lib/nagios/plugins/check_firewall.py --formula=firewall --check=firewall_rules'
  arguments:
    {#-
     maximal number of iptables rules before it's considered critical.
     the number is high because we only care about 0 iptables, where there is just
     no rules applied.
    #}
    warning: 300
