#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

# Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.
#
# Author: Luan Vo Ngoc <luan@robotinfra.com>
# Maintainer: Van Pham Diep <favadi@robotinfra.com>

set -e

# log start stop time to syslog
source /usr/local/share/salt_common.sh
# Ensure that only one instance of this script is running at a time
locking_script
log_start_script "$@"
trap "log_stop_script \$?" EXIT

# limit resources usage
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$
XZ_DEFAULTS=--memlimit={{ salt['pillar.get']('backup:xz_memlimit', 64) }}MiB

NOW=`date '+%Y-%m-%d-%H_%M_%S'`
OUTPUT="/tmp/elasticsearch-$NOW.xz"

/usr/local/bin/esdump --url http://localhost:9200/ | xz > $OUTPUT
/usr/local/bin/backup-store $OUTPUT
