{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
; {{ salt['pillar.get']('message_do_not_modify') }}

[log]
{%- if salt['pillar.get']('couchdb:debug', False) %}
level = debug
{%- else %}
level = warning
{%- endif %}
