{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{%- from 'nginx/macro.jinja2' import http_listen, ssl_config with context %}

upstream jenkins {
    server localhost:8080;
}

server {
    {{ http_listen() }}
{%- set ssl = salt['pillar.get']('jenkins:ssl', False) %}
{% if ssl %}
{% if salt['pillar.get']('jenkins:ssl_redirect', False) %}
{%- set hostnames = salt['pillar.get']('jenkins:hostnames') %}
    {# if https, redirect http port 80 to https port 443 #}
    server_name {% for hostname in hostnames %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    return 301 https://{{ salt['pillar.get']('jenkins:hostnames')[0] }}$request_uri;
}
{# https server #}
server {
{% endif %}{# redirect http to https #}
    {{ ssl_config(ssl) }}
{% endif %}
{# web app logic #}
    server_name {% for hostname in salt['pillar.get']('jenkins:hostnames') %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    root /var/cache/jenkins/war/;

    location ~ "^/static/[0-9a-fA-F]{8}\/(.*)$" {
        rewrite "^/static/[0-9a-fA-F]{8}\/(.*)" /$1 last;
    }

    location ~ /securityRealm/user/(.*)/api/  {
        deny all;
    }

{% include "nginx/block_hacks.jinja2" %}

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_next_upstream error;
        proxy_pass http://jenkins;
    }

{% include 'nginx/location_robots.jinja2' %}

    location /favicon.ico {
        deny all;
        return 404;
    }
}
