{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{%- set source = salt['pillar.get']('salt_archive:source', False) %}
{%- if source %}
*/15 * * * * root /usr/local/bin/salt_archive_sync.sh
{%- else %}
0 0 * * * root /usr/local/bin/salt_archive_clamav.py
{%- endif -%}
{%- if not source %}
*/5 * * * * root /usr/local/bin/salt_archive_incoming.py
{%- endif %}
