# {{ pillar['message_do_not_modify'] }}

server {
    listen 80;
{%- if pillar['salt_archive']['web']['ssl']|default(False) -%}
{%- if pillar['salt_archive']['web']['ssl_redirect']|default(False) %}
    {#- if https, redirect http port 80 to https port 443 #}
    server_name {% for hostname in pillar['salt_archive']['web']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    return 301 https://{{ pillar['salt_archive']['web']['hostnames'][0] }}$request_uri;
}
{#- https server #}
server {
{%- endif %}{# redirect http to https #}
    listen 443 ssl;
    ssl_certificate /etc/ssl/{{ pillar['salt_archive']['web']['ssl'] }}/chained_ca.crt;
    ssl_certificate_key /etc/ssl/{{ pillar['salt_archive']['web']['ssl'] }}/server.pem;
    ssl_client_certificate /etc/ssl/{{ pillar['salt_archive']['web']['ssl'] }}/ca.crt;
    ssl_ciphers RC4:HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
{%- endif %}
    server_name {% for hostname in pillar['salt_archive']['web']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    root /var/lib/salt_archive;

{%- for location in ('favicon.ico', '.ssh', 'incoming') %}
    location /{{ location }} {
        deny all;
        return 404;
    }
{%- endfor %}

    location ~* \.(gz|txt|zip)$ {
        expires max;
    }

    location / {
        autoindex on;
    }
}
