#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}

{%- set home = salt['user.info']('salt_archive')['home'] -%}
{#- make sure everything is owner root:salt_archive #}
find {{ home }}/* ! -user root -exec chown root {} \;
find {{ home }}/* ! -group salt_archive -exec chgrp salt_archive {} \;
{#- make sure file are 644 #}
find {{ home }}/* -type f -not \( -perm 640 -or -path {{ home }}/incoming\* \) -exec chmod 640 {} \;
{#- make sure directory are 775 #}
find {{ home }}/* -type d -not \( -perm 750 -or -path {{ home }}/incoming\* \) -exec chmod 750 {} \;
