{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

set -e

# limit resources usage
renice -n 19 -p $$ > /dev/null
ionice -c idle -p $$

# log start stop time to syslog
source /usr/local/share/salt_common.sh
# Ensure that only one instance of this script is running at a time
locking_script
log_start_script "$@"
trap "log_stop_script \$?" EXIT

if [ "$1" = '-v' ]; then
  verbosity=verbose
else
  verbosity=quiet
fi

rsync --archive --no-owner --no-group --${verbosity}{% if salt['pillar.get']('salt_archive:delete', False) %} --delete{% endif %} --exclude ".*" {{ salt['pillar.get']('salt_archive:source', False) }} /var/lib/salt_archive/
find /var/lib/salt_archive ! -user root -exec chown root {} \;
find /var/lib/salt_archive ! -group salt_archive -exec chgrp salt_archive {} \;

if [ $? -eq 0 ]; then
  mkdir -p /var/cache/salt/master
  touch {{ opts['cachedir'] }}/sync_timestamp.dat
fi
