# {{ pillar['message_do_not_modify'] }}
production:
  via: smtp
  host: "{{ email['server'] }}"
{% if email['tls'] %}
  enable_starttls_auto: true
{% else %}
  enable_starttls_auto: false
{% endif %}
  port: {{ email['port'] }}
  auth: login
  user: {{ email['user'] }}
  password: {{ email['password'] }}
