# {{ pillar['message_do_not_modify'] }}
general:
  external_hostname: "{{ pillar['graylog2']['web']['hostnames'][0] }}"
  date_format: "%Y-%m-%d - %H:%M:%S"
  allow_deleting: false
  allow_version_check: false

subscriptions:
  from: {{ email['from'] }}
  subject: "[graylog2] Subscription"

# Settings for stream alarm emails.
streamalarms:
  from: {{ email['from'] }}
  subject: "[graylog2] Stream alarm!"

hoptoad:
  enabled: false
  ssl: false
  api_key: 123
