# {{ pillar['message_do_not_modify'] }}
/var/log/graylog2/*.log {
    daily
    missingok
    rotate 7
    compress
    delaycompress
    notifempty
    sharedscripts
    postrotate
        restart graylog2-web > /dev/null
    endscript
}
