# {{ pillar['message_do_not_modify'] }}

upstream graylog2 {
    server unix:///var/lib/uwsgi/graylog2.sock;
}

server {
    listen 80;

    root /usr/local/graylog2-web-interface-{{ version }}/public;

    server_name {% for hostname in hostnames %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

{% for dir in ('stylesheets', 'javascripts', 'images') %}
    location /{{ dir }}/ {
        expires max;
        autoindex off;
    }
{% endfor %}

    location / {
        gzip off;
        uwsgi_modifier1 7;
        include uwsgi_params;
        uwsgi_pass graylog2;
    }
}
