# {{ pillar['message_do_not_modify'] }}

upstream graylog2 {
    server unix:///var/lib/uwsgi/graylog2.sock;
}

server {
    listen 80;
    access_log /var/log/nginx/graylog2-access.log;
    error_log /var/log/nginx/graylog2-error.log;

    root /usr/local/graylog2-web-interface-{{ pillar['graylog2']['web']['version'] }}/public;

    server_name {% for hostname in pillar['graylog2']['web']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    location / {
        gzip off;
        uwsgi_modifier1 7;
        include uwsgi_params;
        uwsgi_pass graylog2;
    }
}
