# {{ pillar['message_do_not_modify'] }}
[uwsgi]
{#harakiri = 120#}
{#max-requests = 5000#}
master = true
post-buffering = 4096
env = RAILS_ENV=production
processes = {{ pillar['graylog2']['web']['workers'] }}
{% if 'cheaper' in pillar['graylog2']['web'] %}
{% if pillar['graylog2']['web']['cheaper'] > 0 %}
cheaper = {{ pillar['graylog2']['web']['cheaper'] }}
{% else %}
cheap = true
{% endif %}
{% if pillar['graylog2']['web']['workers'] == 1 and pillar['graylog2']['web']['cheaper'] == 0 %}
idle = {% if 'idle' in pillar['graylog2']['web'] %}{{ pillar['graylog2']['web']['idle'] }}{% else %}300{% endif %}
{% endif %}
{% endif -%}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
ksm = 20
{% endif -%}
lazy-apps = true
uid = www-data
gid = www-data
procname = graylog2-worker
procname-master = graylog2-master
socket = /var/lib/uwsgi/graylog2.sock
stats = /var/lib/uwsgi/graylog2-stats.sock
chdir = /usr/local/graylog2-web-interface-{{ pillar['graylog2']['web']['version'] }}
rack = /usr/local/graylog2-web-interface-{{ pillar['graylog2']['web']['version'] }}/config.ru
threaded-logger = true
logger = graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }}
carbon-id = graylog2
carbon = {{ pillar['graphite_address'] }}:2003
no-orphans = true
