#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

# Use of this source code is governed by a BSD license that can be found
# in the doc/license.rst file.
#
# Author: Bruno Clermont <bruno@robotinfra.com>
# Maintainer: Van Pham Diep <favadi@robotinfra.com>
{{ minute }} {{ hour }} * * * nagios /usr/lib/nagios/plugins/check_links.py http://{{ domain_name }}/sitemap.xml > /dev/null 2> /dev/null
