{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

set -e

# log start stop time to syslog
source /usr/local/share/salt_common.sh
# Ensure that only one instance of this script is running at a time
locking_script
log_start_script "$@"
trap "log_stop_script \$?" EXIT

TEMP_HOME_DIR=`mktemp -d`
{%- set django_user = django_user|default('www-data') %}
{%- set django_group = django_group|default('www-data') %}
chown {{ django_user }} $TEMP_HOME_DIR
chgrp {{ django_group }} $TEMP_HOME_DIR
export HOME=$TEMP_HOME_DIR
{%- if settings is defined %}
export DJANGO_SETTINGS_MODULE={{ settings }}
{%- endif %}
{%- if alternate_admin_cmd is defined %}
sudo -E -u {{ django_user }} -g {{ django_group }} {{ alternate_admin_cmd }} $*
{%- else %}
sudo -E -u {{ django_user }} -g {{ django_group }} {{ virtualenv }}/bin/django-admin.py $*
{%- endif %}
RET_CODE=$?
rm -rf $TEMP_HOME_DIR
exit $RET_CODE
