# {{ pillar['message_do_not_modify'] }}

{%- if 'files_archive' in pillar %}
{{ pillar['files_archive'] }}/pip/sitemap-0.1.0.zip
{%- else %}
-e git+git://github.com/andreisavu/python-sitemap.git#egg=sitemap
{%- endif -%}
