{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

lxml==3.2.1
{%- if salt['pillar.get']('files_archive', False) %}
python-sitemap==0.1.0
{%- else %}
-e git+git://github.com/andreisavu/python-sitemap.git#egg=sitemap
{%- endif -%}