{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
<?xml version="1.0" encoding="utf-8"?>
<django-objects version="1.0">
 <object pk="1" model="sites.site">
  <field type="CharField" name="domain">{{ domain_name }}</field>
  <field type="CharField" name="name">{{ domain_name }}</field>
 </object>
</django-objects>
