{#-
Author: Bruno Clermont patate@fastmail.cn
Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}
[uwsgi]

master = true
env = DJANGO_SETTINGS_MODULE={{ settings }}
module = {{ module }}
processes = {{ workers }}
harakiri = {{ timeout|default(30) }}
harakiri-verbose = true
uid = {{ uid|default("www-data") }}
gid = {{ gid|default("www-data") }}
virtualenv = {{ root_dir|default("/usr/local/deployments") }}/{{ deployment }}
chdir = {{ root_dir|default("/usr/local/deployments") }}/{{ deployment }}
procname = {{ deployment }}-worker
procname-master = {{ deployment }}-master
socket = /var/lib/uwsgi/{{ deployment }}.sock
stats = /var/lib/uwsgi/{{ deployment }}-stats.sock
no-orphans = true
lazy-apps = true
{% if cheaper|default(False) != False %}
{% if cheaper > 0 %}
cheaper = {{ cheaper }}
{% else %}
cheap = true
{% endif %}
{% if workers == 1 and cheaper == 0 %}
idle = {{ idle|default(300) }}
{% endif %}
{% endif %}{# if cheaper #}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
ksm = {{ ksm|default(20) }}
{% endif -%}
{%- for option in options|default({}) %}
{{ option }} = {{ options[option] }}
{% endfor -%}
threaded-logger = true
{% if 'graylog2_address' in pillar %}
logger = graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }}
{% else %}
log-syslog = uwsgi-{{ deployment }}
{% endif %}
{% if 'graphite_address' in pillar %}
carbon-id = {{ deployment }}
carbon = {{ pillar['graphite_address'] }}:2003
{% endif %}
