{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

START=yes
NFILES={{ salt['pillar.get']('varnish:nfiles', 131072) }}
MEMLOCK={{ salt['pillar.get']('varnish:memlock', 82000) }}
INSTANCE={{ grains['host'] }}

{% set listen_address = salt['pillar.get']('varnish:listen_address', '') -%}
{%- set listen_port = salt['pillar.get']('varnish:listen_port', 80) -%}
{%- set telnet_address = salt['pillar.get']('varnish:telnet_address', 'localhost') -%}
{%- set telnet_port = salt['pillar.get']('varnish:telnet_port', 6082) -%}

{%- set malloc_size = salt['pillar.get']('varnish:malloc_size', '256M') -%}

{%- if storage_backend == 'malloc' -%}
  {%- set storage_backend_options = malloc_size -%}
{%- elif storage_backend == 'file' -%}
  {%- set storage_backend_options = file_path ~ ',' ~ file_size -%}
{%- endif -%}

DAEMON_OPTS="-a {{ listen_address }}:{{ listen_port }} \
             -T {{ telnet_address }}:{{ telnet_port }} \
             -f /etc/varnish/default.vcl \
             -S /etc/varnish/secret \
             -s {{ storage_backend }},{{ storage_backend_options }}"
