{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

backend default {
    .host = "{{ salt['pillar.get']('varnish:default_backend_host', '127.0.0.1') }}";
    .port = "{{ salt['pillar.get']('varnish:default_backend_port', 8080) }}";
}

{% set extra_config = salt['pillar.get']('varnish:extra_config', None) -%}
{%- if extra_config %}
{{ extra_config }}
{%- endif %}