{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Van Diep Pham <favadi@robotinfra.com>
Maintainer: Van Diep Pham <favadi@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}

backend default {
    .host = "{{ salt['pillar.get']('varnish:default_backend_host', '127.0.0.1') }}";
    .port = "{{ salt['pillar.get']('varnish:default_backend_port', 8080) }}";
}

{% set extra_config = salt['pillar.get']('varnish:extra_config', None) -%}
{%- if extra_config %}
{{ extra_config }}
{%- endif %}

{%- if salt['pillar.get']("__test__", False) %}
sub vcl_recv {
    set req.http.host = "archive.robotinfra.com";
}
{%- endif %}
