{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}
command[shinken_reactionner_procs]=/usr/lib/nagios/plugins/check_procs -c 1:10 -u shinken -a 'shinken-reactionner -c /etc/shinken/reactionner.conf'
command[shinken_reactionner_port]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 7769
