{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

shinken_reactionner_procs:
  description: Shinken Reactionner Deamon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:10 -u shinken -a 'shinken-reactionner -c /etc/shinken/reactionner.conf'"

shinken_reactionner_port:
  description: Shinken Reactionner Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 7769 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - shinken_reactionner_procs

shinken_reactionner_port_remote:
  description: Shinken Reactionner Remote Port
  check: check_tcp!7769
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - shinken_reactionner_port
