#!/bin/sh
# {{ pillar['message_do_not_modify'] }}

NOW=`date '+%Y-%m-%d-%H_%M_%S'`
export TERM=dumb
/usr/bin/mysqldump -p{{ salt['password.pillar']('mysql:password') }} -uroot --all-databases | xz > /tmp/mysql-all-$NOW.sql.xz
/usr/local/bin/backup_store /tmp/mysql-all-$NOW.sql.xz
