#!/bin/sh
# {{ pillar['message_do_not_modify'] }}

dbname=$1
NOW=`date '+%Y-%m-%d-%H_%M_%S'`
export TERM=dumb
/usr/bin/mysqldump -p{{ salt['password.pillar']('mysql:password') }} -uroot $dbname | xz > /tmp/mysql-$dbname-$NOW.sql.xz
/usr/local/bin/backup_store /tmp/mysql-$dbname-$NOW.sql.xz
