{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

ModulePath /usr/lib/proftpd

ModuleControlsACLs insmod,rmmod allow user root
ModuleControlsACLs lsmod allow user *

LoadModule mod_sql.c
LoadModule mod_sql_postgres.c

ServerName "{{ grains['id'] }}"
{%- if salt['monitoring.data']()['ip_addrs6']['public'] %}
UseIPv6 on
{%- else %}
UseIPv6 off
{%- endif %}
IdentLookups off
ServerType standalone
DeferWelcome off
MultilineRFC2228 on

DefaultServer on
ShowSymlinks on

TimeoutNoTransfer 600
TimeoutStalled 600
TimeoutIdle 1200

ListOptions "-l"
DenyFilter \*.*/

# lock user in their home
DefaultRoot ~

Port 21
MaxInstances 30

User www-data
Group www-data
Umask 022 022

AllowOverwrite on

LogFormat xfer "%a %l %u \"%r\" %s %b"
ExtendedLog syslog:notice AUTH,READ,WRITE,EXIT xfer

# allow only login trough SQL
AuthPAM off
AuthOrder mod_sql.c

SQLAuthenticate users
SQLAuthTypes Plaintext
SQLBackend postgres
SQLConnectInfo {{ salt['pillar.get']('proftpd:db:username', 'proftpd') }}@127.0.0.1 {{ salt['pillar.get']('proftpd:db:name', 'proftpd') }} {{ salt['password.pillar']('proftpd:db:password', 10) }} 120
SQLDefaultHomedir /var/lib/deployments
SQLDefaultUID 33
SQLDefaultGID 33
SQLEngine auth
SQLNamedQuery get_user_info SELECT "username, passwd, uid,gid, homedir, shell FROM users WHERE username = '%U' LIMIT 1;"
SQLUserInfo users userid passwd uid gid homedir shell

{%- if salt['pillar.get']('debug', False) %}
{# The highest debugging level #}
DebugLevel 10
{%- endif %}
