{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ pillar['message_do_not_modify'] }}

ModulePath /usr/lib/proftpd

ModuleControlsACLs insmod,rmmod allow user root
ModuleControlsACLs lsmod allow user *

LoadModule mod_sql.c
LoadModule mod_sql_postgres.c

ServerName "{{ grains['id'] }}"
UseIPv6 off
IdentLookups off
ServerType standalone
DeferWelcome off
MultilineRFC2228 on

DefaultServer on
ShowSymlinks on

TimeoutNoTransfer 600
TimeoutStalled 600
TimeoutIdle 1200

ListOptions "-l"
DenyFilter \*.*/

# lock user in their home
DefaultRoot ~

Port 21
MaxInstances 30

User www-data
Group www-data
Umask 022 022

AllowOverwrite on

LogFormat xfer "%a %l %u \"%r\" %s %b"
ExtendedLog syslog:notice AUTH,READ,WRITE,EXIT xfer

# allow only login trough SQL
AuthPAM off
AuthOrder mod_sql.c

SQLAuthenticate users
SQLAuthTypes Plaintext
SQLBackend postgres
SQLConnectInfo {{ salt['pillar.get']('proftpd:db:username', 'proftpd') }}@127.0.0.1 {{ salt['pillar.get']('proftpd:db:name', 'proftpd') }} {{ salt['password.pillar']('proftpd:db:password', 10) }} 120
SQLDefaultHomedir /var/lib/deployments
SQLDefaultUID 33
SQLDefaultGID 33
SQLEngine auth
SQLNamedQuery get_user_info SELECT "username, passwd, uid,gid, homedir, shell FROM users WHERE username = '%U' LIMIT 1;"
SQLUserInfo users userid passwd uid gid homedir shell

{%- if salt['pillar.get']('debug', False) %}
{# The highest debugging level #}
DebugLevel 10
{%- endif %}
