{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
/* {{ salt['pillar.get']('message_do_not_modify') }} */

{#- I don't care, I recreate it each time #}
DROP TABLE IF EXISTS users;

CREATE TABLE users (
 pkid serial PRIMARY KEY,
 userid text NOT NULL UNIQUE,
 passwd text,
 uid int,
 gid int,
 homedir text,
 shell text
);

GRANT SELECT ON users TO proftpd;

{% for userid, passwd in salt['pillar.get']('proftpd:accounts', {}).iteritems() %}
INSERT INTO users (userid, passwd, shell, homedir) VALUES ('{{ userid }}', '{{ passwd }}', '/bin/bash', '/var/lib/deployments/{{ userid }}/static/ftp/');
{% endfor %}
