# {{ pillar['message_do_not_modify'] }}
{%- if not database is defined %}
{%- set database = deployment %}
{%- endif %}
{%- if not username is defined %}
{%- set username = deployment %}
{%- endif %}
# Just run a stupid query to make sure connection work
command[{{ deployment }}_mysql]=/usr/lib/nagios/plugins/check_mysql_query -H localhost -P 3306 -q 'select @@max_connections;' -d {{ database }} -u {{ username }} -p{{ password }}
