{#-
Copyright (c) 2013, Hung Nguyen Viet

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Hung Nguyen Viet <hvnsweeting@gmail.com>
Maintainer: Hung Nguyen Viet <hvnsweeting@gmail.com>
-#}
#!/bin/bash
# {{ pillar['message_do_not_modify'] }}
set -e
{%- from macros.jinja2 import salt_version with context %}
{%- set version = salt_version %}

{%- block preparation %}
mkdir -p /etc/salt/pki/minion
chmod 700 /etc/salt/pki/minion
mv /tmp/.saltcloud/minion /etc/salt/
mv /tmp/.saltcloud/minion.pub /etc/salt/pki/minion/
mv /tmp/.saltcloud/minion.pem /etc/salt/pki/minion/
if [ -f /tmp/.saltcloud/grains ]; then
    mv /tmp/.saltcloud/grains /etc/salt/grains
fi
chmod 400 /etc/salt/pki/minion/minion.pem
{%- endblock -%}

{#- if you change the following section, please also change
    salt/minion/bootstrap.sh #}
{%- block installation %}
apt-get update
apt-get install -y python-software-properties python-pip
pip install requests==0.14.2 raven==4.1.1
    {%- if 'files_archive' in pillar %}
echo "deb {{ pillar['files_archive'].rstrip('/')|replace('https://', 'http://') }}/mirror/salt/{{ version }}/ `lsb_release -c -s` main" > /etc/apt/sources.list.d/saltstack-salt-`lsb_release -c -s`.list
    {%- else %}
echo "deb http://archive.robotinfra.com/mirror/salt/{{ version }}/ `lsb_release -c -s` main" > /etc/apt/sources.list.d/saltstack-salt-`lsb_release -c -s`.list
    {%- endif  %}
apt-key adv --recv-keys --keyserver keyserver.ubuntu.com 0E27C0A6
apt-get update
apt-get install -y --force-yes -o DPkg::Options::=--force-confold salt-minion
{%- endblock -%}

{%- block post %}
salt-call saltutil.sync_all
{%- endblock -%}
