{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
script: bootstrap-salt
minion:
  master: {{ salt['pillar.get']('salt_cloud:master') }}

log_file: file:///dev/log

log_level_logfile: debug
log_fmt_logfile: '%(asctime)-15s salt-cloud %(name)s: %(message)s'
log_datefmt_logfile: '%b %d %H:%M:%S'

{%- if salt['pillar.get']('debug', False) %}
log_level: debug
{%- else %}
log_level: warning
{%- endif %}
log_datefmt: '%b %d %H:%M:%S'
log_fmt_console: '%(asctime)-15s salt-cloud %(name)s: %(message)s'

{#
 Whether or not to remove the accompanying SSH key from the known_hosts file
 when an instance is destroyed.

 Default: 'False'

delete_sshkeys: False
#}
