# {{ pillar['message_do_not_modify'] }}
script: bootstrap_salt
minion:
  master: {{ salt['master'] }}

log_file: file:///dev/log

log_level_logfile: debug
log_fmt_logfile: '%(asctime)-15s salt-cloud %(name)s: %(message)s'
log_datefmt_logfile: '%b %d %H:%M:%S'

log_level: warning
log_datefmt: '%b %d %H:%M:%S'
log_fmt_console: '%(asctime)-15s salt-cloud %(name)s: %(message)s'

{#
 Whether or not to remove the accompanying SSH key from the known_hosts file
 when an instance is destroyed.

 Default: 'False'

delete_sshkeys: False
#}
