{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{%- set profiles = salt['pillar.get']('salt_cloud:profiles', {}) %}
{%- for profile in profiles %}
{{ profile }}:
  {%- for attr in profiles[profile] %}
  {%- if profiles[profile][attr] is mapping %}
  {{ attr }}:
    {%- for i in profiles[profile][attr] %}
    {{ i }}: {{ profiles[profile][attr][i] }}
    {%- endfor %}
  {%- else %}
  {{ attr }}: {{ profiles[profile][attr] }}
  {%- endif %}
  {%- endfor %}
{% endfor %}
