{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{#-
 There is a security issue with salt:
 https://github.com/saltstack/salt/issues/4281
 the permissions application is pretty much random.
 Until that issue is fixed, each users will have access to everything.
#}

{%- set external_auth = salt['pillar.get']('salt_api:external_auth', {}) %}
{%- if (external_auth|length > 0) %}
external_auth:
  {%- for authen_system in external_auth %}
  {{ authen_system }}:
    {%- for username in external_auth[authen_system] %}
    {{ username }}:
      {%- for id_or_func, funcs in external_auth[authen_system][username]['acl'].iteritems() %}
      - '{{ id_or_func }}':
        {%- for func in funcs %}
        - '{{ func }}'
        {%- endfor %}
      {%- endfor %}

    {%- endfor %}
  {%- endfor %}
{%- endif %}

rest_cherrypy:
  port: 8000
  host: 127.0.0.1
{%- if salt['pillar.get']('debug', False) %}
  debug: True
{%- else %}
  debug: False
{%- endif %}
  disable_ssl: True
