salt_api_procs:
  description: Salt API Daemon

salt_api_nginx_http:
  description: Salt API HTTP Protocol

salt_api_nginx_https:
  description: Salt API HTTPS Protocol

salt_api_nginx_https_certificate:
  description: Salt API HTTPS Certificate Expiration
  check_interval: 1440 {#- only need to check https certificate each day -#}
