{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
{%- endblock %}

{%- block root_location %}
    index index.html;
    expires max;
    autoindex off;

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_read_timeout 300s;
        expires 0;
    }

{% for resource in ('/login', '/minions', '/jobs') %}
    location {{ resource }} {
        proxy_pass http://127.0.0.1:8000;
        proxy_read_timeout 120s;
        expires 0;
    }
{% endfor %}
{%- endblock %}
