{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set ssl = salt['pillar.get']('salt_api:ssl', False) %}
{%- set hostnames = salt['pillar.get']('salt_api:hostnames') %}
{%- from 'nginx/macro.jinja2' import http_listen, ssl_config with context %}

server {
    {{ http_listen() }}
{% if ssl %}
{% if salt['pillar.get']('salt_api:ssl_redirect', False) %}
    {# if https, redirect http port 80 to https port 443 #}
    server_name {% for hostname in hostnames %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    return 301 https://{{ hostnames[0] }}$request_uri;
}
{#- https server #}
server {
{% endif %}{# redirect http to https #}
    {{ ssl_config(ssl) }}
{% endif %}
{#- web app logic #}
    server_name {% for hostname in hostnames %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    root /usr/local/salt-ui;
    index index.html;

    expires max;
    autoindex off;

{% include "nginx/block_hacks.jinja2" %}

{% include 'nginx/location_robots.jinja2' %}

    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_read_timeout 120s;
        expires 0;
    }

{% for resource in ('/login', '/minions', '/jobs') %}
    location {{ resource }} {
        proxy_pass http://127.0.0.1:8000;
        proxy_read_timeout 120s;
        expires 0;
    }
{% endfor %}
}
