{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{%- set vpn_instance = salt['pillar.get']('openvpn:servers:' ~ instance) %}
{%- block topology %}
{%- endblock topology %}

port {{ vpn_instance['port'] | default(1194) }}
proto {{ vpn_instance['protocol'] | default('udp6') }}
dev {{ vpn_instance['device'] | default('tun') }}
keepalive 10 120
comp-lzo
user nobody
group nogroup
persist-key
persist-tun
status /var/log/openvpn/{{ instance }}.log {% if salt['pillar.get']("__test__", False) %}1{% endif %}
syslog vpn-{{ instance }}
{%- if salt['pillar.get']('debug', False) %}
verb 15
{%- else %}
verb 4
{%- endif %}
writepid /var/run/openvpn/{{ instance }}.pid

{%- block authentication_mode %}
{%- endblock authentication_mode %}

{%- for cfg in vpn_instance['extra_configs'] | default([]) %}
{{ cfg }}
{%- endfor %}
