{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- macro service_openvpn(instance) %}
{%- from 'upstart/rsyslog.jinja2' import manage_upstart_log with context %}
openvpn-{{ instance }}:
  file:
    - managed
    - name: /etc/init/openvpn-{{ instance }}.conf
    - user: root
    - group: root
    - mode: 440
    - source: salt://openvpn/server/upstart.jinja2
    - template: jinja
    - require:
      - file: /etc/openvpn/{{ instance }}/config
      - file: /etc/openvpn/{{ instance }}/ccd
      - file: /var/lib/openvpn
      - file: /var/run/openvpn
      - file: /var/log/openvpn
    - context:
        instance: {{ instance }}
  service:
    - running
    - enable: True
    - order: 50
    - watch:
      - file: openvpn-{{ instance }}
            {%- if caller is defined -%}
                {%- for line in caller().split("\n") %}
{{ line|trim|indent(6, indentfirst=True) }}
                {%- endfor -%}
            {%- endif %}
  process:
    - wait
    - name: '/usr/sbin/openvpn --config /etc/openvpn/{{ instance }}/config'
    - user: 'nobody'
    - timeout: 10
    - require:
      - pkg: salt_minion_deps
      - service: openvpn-{{ instance }}

{{ manage_upstart_log('openvpn-' + instance) }}

{%- endmacro %}
{#- does not use PID, no need to manage #}
