{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- extends "openvpn/server/base.jinja2" %}

{%- block authentication_mode %}
secret /etc/openvpn/{{ instance }}/secret.key
{%- set peers = vpn_instance['peers'] %}
{%- for peer, peer_data in peers.iteritems() -%}
    {%- if peer != grains['id'] %}
ifconfig {{ peers[grains['id']]['vpn_address'] }} {{ peer_data['vpn_address'] }}
remote {{ peer_data['address'] }} {% if 'port' in peer_data %} {{ peer_data['port'] }}{% endif %}
    {%- endif -%}
{%- endfor -%}
{%- endblock authentication_mode %}
