{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- extends "openvpn/server/base.jinja2" %}

{%- block authentication_mode %}
ca /etc/openvpn/ca.crt
cert /etc/openvpn/{{ instance }}/server.crt
key /etc/openvpn/{{ instance }}/server.key
dh /etc/openvpn/dh.pem
server {{ vpn_instance['server'] }}
ifconfig-pool-persist /var/lib/openvpn/{{ instance }}.ipp
client-config-dir /etc/openvpn/{{ instance }}/ccd
crl-verify /etc/openvpn/{{ instance }}/crl.pem
{%- endblock authentication_mode %}
