{#-
 General use template of YAML data for Python logging
-#}
{%- macro logging(process_name=None, sentry_dsn_pillar_key='sentry_dsn') -%}
    {%- set default_dsn = salt['pillar.get']('sentry_dsn', False) -%}
    {%- set sentry_dsn = salt['pillar.get'](sentry_dsn_pillar_key, default_dsn) %}
logging:
  version: 1
  disable_existing_loggers: False
  formatters:
    only_message:
      format: '%(message)s'
    syslog:
    {%- if not process_name %}
      format: '%(processName)s[%(process)d]: %(message)s'
    {%- else %}
      format: '{{ process_name }}[%(process)d]: %(message)s'
    {%- endif %}
  handlers:
    syslog:
    {%- if salt['pillar.get']('debug', False) %}
      level: DEBUG
    {%- else %}
      level: INFO
    {%- endif %}
      class: logging.handlers.SysLogHandler
      address: /dev/log
      facility: local7
      formatter: syslog
    console:
    {%- if salt['pillar.get']('__test__', False) %}
      level: DEBUG
    {%- else %}
      level: ERROR
    {%- endif %}
      class: logging.StreamHandler
      formatter: only_message
    {%- if sentry_dsn %}
    sentry:
      level: WARNING
      class: raven.handlers.logging.SentryHandler
      dsn: requests+{{ sentry_dsn }}
    {%- endif %}
  loggers:
    '':
      level: DEBUG
      handlers:
        - syslog
        - console
    {%- if sentry_dsn %}
        - sentry
    {%- endif -%}
{%- endmacro -%}
{{ logging() }}

{%- set default_dsn = salt['pillar.get']('sentry_dsn', False) -%}
{%- if default_dsn %}
sentry_dsn: {{ default_dsn }}
{%- endif -%}
