#!/usr/bin/env python
import os
import sys
import logging
import logging.handlers
from argparse import ArgumentParser

log = logging.getLogger("RavenMail")
fmt = logging.Formatter("%(name)s %(levelname)s %(message)s")
handler = logging.handlers.SysLogHandler(address='/dev/log')
handler.setFormatter(fmt)
log.addHandler(handler)

try:
    from raven import Client
except ImportError as e:
    log.critical(e)
    sys.exit(1)

argpsr = ArgumentParser()
argpsr.add_argument('-s', help="Subject")

if 'SENTRY_DSN' not in os.environ.keys():
    os.environ['SENTRY_DSN'] = "{{ pillar['sentry_dsn'] }}"


def main():
    client = Client()
    subject = ""
    body = "\n".join(sys.stdin.readlines())
    args = argpsr.parse_args()
    print args
    if args.s:
        subject = args.s
        msg = "{0}\n{1}".format(subject, body)
    else:
        msg = body

    os.environ.pop('SENTRY_DSN', None)
    client.captureMessage(msg,
                          extra={'environ': os.environ},
                          )


if __name__ == "__main__":
    try:
        main()
    except Exception as e:
        log.critical(e)
