{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set storages = salt['pillar.get']('orientdb:storages') -%}
{%- for name in storages -%}
  {#- only plocal support backup -#}
  {%- if storages[name].get('backup', False) and storages[name]['type'] == 'plocal' %}

orientdb_backup_{{ name }}_age:
  description: OrientDB Database {{ name }} Backup
  command: /usr/lib/nagios/plugins/check_backup.py --formula=orientdb.backup --check=orientdb_backup_{{ name }}_age
  {{ passive_interval(12 * 60) }} {#- 12 hours #}
  arguments:
    facility: orientdb-{{ name }}
    warning: {{ salt['pillar.get']('backup:age', 48) }}
  timeout: 55
  dependencies:
    {#- no alert if load is too high #}
    - load_average

    {%- endif -%}
  {%- endfor %}

{#- this file can't be empty #}
orientdb_backup_dummy:
  description: Please ignore this check
  command: /usr/lib/nagios/plugins/check_dummy 0
