# {{ salt['pillar.get']('message_do_not_modify') }}
{# run resolvconf? #}
RESOLVCONF=no

{# startup options for the server #}
OPTIONS="-u bind {% if salt['pillar.get']('bind:ipv4_only', True) %}-4{% endif %}"
