# {{ salt['pillar.get']('message_do_not_modify') }}
{#
Consider adding the 1918 zones here, if they are not used in your
organization
#}
include "/etc/bind/zones.rfc1918";

{%- set tsig_key = salt['pillar.get']('bind:tsig_key', None) %}
{%- if tsig_key %}
key salt-managed. {
    algorithm hmac-md5;
    secret "{{ tsig_key }}";
};
{%- endif %}

{%- macro zone(key, args, file, masters, forwarders, allow_dynamic) %}
{%- set zone_type = 'slave' if masters else 'master' %}
zone "{{ key }}" {
  type {{ zone_type }};

  {% if zone_type == "master" %}
  notify {{ args['notify']|default('no') }};
    {%- if tsig_key and allow_dynamic %}
  allow-update { key salt-managed. ;};
    {%- endif %}
    {% if args['allow-update'] is defined -%}
  allow-update { {{ args['allow-update'] }}; };
    {%- endif %}
    {%- if args.update_policy is defined %}
  update-policy {
    {{ args.update_policy|join(';\n') }}
  };
    {%- endif %}
  {%- else %}
  notify no;
  masters { {{ masters|join(';') }} };
  {%- endif %}

  {% if args['dnssec'] is defined and args['dnssec'] -%}
  file "/var/lib/bind/zones/{{ file }}.signed";
  {% else -%}
  file "/var/lib/bind/zones/{{ file }}";
  {%- endif %}

    {%- if forwarders %}
  forward only;
  forwarders { {% for fwd in forwarders %}{{ fwd }}; {% endfor -%} };
    {%- endif %}
};
{%- endmacro %}

{% for key, args in salt['pillar.get']('bind:zones', {}).iteritems() -%}
  {%- set file = salt['pillar.get']("bind:zones:" + key + ":file") %}
  {%- set masters = salt['pillar.get']("bind:zones:" + key + ":masters", []) %}
  {%- set forwarders = salt['pillar.get']("bind:zones:" + key + ":forwarders", []) %}
  {%- set allow_dynamic = salt['pillar.get']("bind:zones:" + key + ":allow_dynamic", False) %}
{{ zone(key, args, file, masters, forwarders, allow_dynamic) }}
{% endfor %}
