// {{ salt['pillar.get']('message_do_not_modify') }}

{%- set allowed_subnets = salt['pillar.get']('bind:allowed_subnets') %}

{%- if allowed_subnets != ['any'] %}
  {%- if allowed_subnets == ['salt_mine'] %}
    {%- set mine = salt['mine.get']('*', 'monitoring.data') -%}
acl salt_hosts { {% for minion in mine %}{{ mine[minion]['ip_addrs']['public'] }}/32; {% endfor %} };
  {%- else %}
acl salt_hosts { {% for ip in allowed_subnets %}{{ ip }}; {% endfor %} };
  {%- endif %}
{%- endif %}

options {
    directory "/var/cache/bind";

    {#-
    If there is a firewall between you and nameservers you want
    to talk to, you may need to fix the firewall to allow multiple
    ports to talk.  See http://www.kb.cert.org/vuls/id/800113

    If your ISP provided one or more IP addresses for stable
    nameservers, you probably want to use them as forwarders.
    Uncomment the following block, and insert the addresses replacing
    the all-0's placeholder.

    ========================================================================
     If BIND logs error messages about the root key being expired,
     you will need to update your keys.  See https://www.isc.org/bind-keys
    ========================================================================
    #}
    {%- set forwarders = salt['pillar.get']('bind:forwarders', []) %}
    {%- if forwarders %}
    forwarders {
      {%- for forwarder in forwarders %}
        {{ forwarder }};
      {%- endfor %}
    };
    {%- endif %}

    dnssec-validation auto;

    auth-nxdomain no;    {# conform to RFC1035 #}
    listen-on-v6 { any; };
    notify yes; {# default #}
{%- if allowed_subnets != ['any'] %}
    allow-query { salt_hosts; };
{%- else %}
    allow-query { any; };
{%- endif %}

{#- disable these on Authoritative Name Server to improve stability #}
{%- if salt['pillar.get']('bind:zones', {}) %}
    allow-query-cache { none; };
    recursion no;
{%- endif %}
};
