; {{ salt['pillar.get']('message_do_not_modify') }}
; {{ zonename }}
{#- NOTICE: all the magic default numbers are get from RR of ns1.opendns.com
    $ dig ns1.opendns.com @208.67.222.222 | grep SOA
#}
$TTL    {{ salt['pillar.get']('bind:zones:' ~ zonename ~ ':ttl', 2560) }}
@       IN      SOA     ns1.{{ zonename }}. {{ zonedata['admin_email']|replace('@', '.') }}. (
                                            {{ zonedata['serial']|default(1) }};
                                            {{ zonedata['refresh']|default(16384) }} ;
                                            {{ zonedata['retry']|default(2048) }} ;
                                            {{ zonedata['expire']|default(1048576) }} ;
                                            {{ zonedata['negative_cache_ttl']|default(2560) }});
        IN      NS      ns1
;
{%- set myip = grains['ip_interfaces']['eth0'][0] %}
        IN      A       {{ myip }}
ns1     IN      A       {{ myip }}
{%- for slave_ip in zonedata['slaves'] %}
  {%- set nsindex = loop.index + 1 %}
@       IN      NS      ns{{ nsindex }}
ns{{ nsindex }}       IN     A      {{ slave_ip }}
{%- endfor %}
{%- set resource_records = zonedata['resource_records']|default([]) %}
{%- for rr in resource_records %}
{{ rr['name'] }} {% if 'ttl' in resource_records %}{{ rr['ttl'] }}{% endif %} IN {{ rr['type'] }} {{ rr['rdata'] }};
{%- endfor %}
