{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- extends "pysc/config.jinja2" -%}

{%- block body %}
    {{ super() }}

minion_id: {{ grains['id'] }}

nsca_dir: /etc/nagios/nsca.d

s3:
  access_key: {{ salt['pillar.get']('backup:s3:access_key') }}
  secret_key: {{ salt['pillar.get']('backup:s3:secret_key') }}
  bucket: {{ salt['pillar.get']('backup:s3:bucket') }}

backup:
  prefix: {{ salt['pillar.get']('backup:s3:path') }}
{%- endblock -%}
