{%- extends "pysc/config.jinja2" -%}

{%- block body %}
    {{ super() }}

minion_id: {{ grains['id'] }}

nsca_dir: /etc/nagios/nsca.d

s3:
  access_key: {{ pillar['aws']['access_key'] }}
  secret_key: {{ pillar['aws']['secret_key'] }}
  bucket: {{ pillar['aws']['s3']['bucket'] }}

backup:
  prefix: {{ pillar['aws']['s3']['path'] }}
{%- endblock -%}
