# {{ pillar['message_do_not_modify'] }}

bootstrap:
  mlockall: true

cluster:
  name: {{ cluster['name'] }}
  routing:
    allocation:
      node_concurrent_recoveries: 2
node:
  name: {{ grains['id'] }}
{% if aws|default(False) %}
cloud:
  region: {{ grains['region'] }}
  aws:
    access_key: {{ aws['access_key'] }}
    secret_key: {{ aws['secret_key'] }}
  node:
    auto_attributes: true
discovery:
  type: ec2
  zen:
    ping_timeout: 30s
  ec2:
    host_type: private_ip
    any_group: true
    availability_zones: {{ grains['availabilityZone'] }}
gateway:
  recover_after_time: 1m
  recover_after_nodes: 1
  type: s3
  s3:
    bucket: microsigns-{{ grains['region'] }}
    concurrent_streams: 5
indices:
  recovery:
    max_size_per_sec: 0
    concurrent_streams: 5
{% else %}
discovery:
  zen:
    ping:
      multicast:
        enabled: false
      unicast:
        hosts: [
{%- for node in cluster['nodes'] -%}
"{{ cluster['nodes'][node]['private'] }}"{% if not loop.last %}, {% endif -%}
{%- endfor %}]
{% endif %}
