# {{ pillar['message_do_not_modify'] }}

{% set es = pillar['elasticsearch'] %}
bootstrap:
  mlockall: true

cluster:
  name: {{ es['cluster']['name'] }}
  routing:
    allocation:
      node_concurrent_recoveries: 2

http:
  enabled: {{ es['cluster']['nodes'][grains['id']]['http']|default(http) }}

node:
  name: {{ es['cluster']['nodes'][grains['id']]['name']|default(grains['id']) }}
  master: {{ es['cluster']['nodes'][grains['id']]['master']|default(master) }}
  data: {{ es['cluster']['nodes'][grains['id']]['data']|default(data) }}

{% if es['aws']|default(false) %}
cloud:
  region: {{ grains['region'] }}
  aws:
    access_key: {{ es['aws']['access_key'] }}
    secret_key: {{ es['aws']['secret_key'] }}
  node:
    auto_attributes: true
discovery:
  type: ec2
  zen:
    ping_timeout: 30s
  ec2:
    host_type: private_ip
    any_group: true
    availability_zones: {{ grains['availabilityZone'] }}
gateway:
  recover_after_time: 1m
  recover_after_nodes: 1
  type: s3
  s3:
    bucket: microsigns-{{ grains['region'] }}
    concurrent_streams: 5
indices:
  recovery:
    max_size_per_sec: 0
    concurrent_streams: 5
{% else %}
discovery:
  zen:
    ping:
      multicast:
        enabled: false
      unicast:
        hosts: [
{%- for node in es['cluster']['nodes'] -%}
"{{ es['cluster']['nodes'][node]['private'] }}"{% if not loop.last %}, {% endif -%}
{%- endfor %}]
{% endif %}
