# {{ pillar['message_do_not_modify'] }}
command[check_elasticsearch]=/usr/lib/nagios/plugins/check_procs -u elasticsearch -w 1:1 -a org.elasticsearch.bootstrap.ElasticSearch
command[check_elasticsearch_cluster]=/usr/local/bin/check_elasticsearch_cluster.py -c 2:2
command[check_elasticsearch_http]=/usr/lib/nagios/plugins/check_http -H 127.0.0.1 -u / -p 9200 -e '200 OK'
