{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}

server {
    listen 80;
{% if pillar['salt_ppa_mirror']['ssl']|default(False) %}
{% if pillar['salt_ppa_mirror']['ssl_redirect']|default(False) %}
    {# if https, redirect http port 80 to https port 443 #}
    server_name {% for hostname in pillar['salt_ppa_mirror']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    return 301 https://{{ pillar['salt_ppa_mirror']['hostnames'][0] }}$request_uri;
}
{#- https server #}
server {
{% endif %}{# redirect http to https #}
    listen 443 ssl;
    ssl_certificate /etc/ssl/{{ pillar['salt_ppa_mirror']['ssl'] }}/chained_ca.crt;
    ssl_certificate_key /etc/ssl/{{ pillar['salt_ppa_mirror']['ssl'] }}/server.pem;
    ssl_client_certificate /etc/ssl/{{ pillar['salt_ppa_mirror']['ssl'] }}/ca.crt;
    ssl_ciphers RC4:HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
{% endif %}
    server_name {% for hostname in pillar['salt_ppa_mirror']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    root /var/lib/reprepro/salt/;
    autoindex on;

    location /favicon.ico {
        return 404;
    }
{% for dirname in ('conf', 'db', 'lists') %}
{% for version in pillar['salt_ppa_mirror']['versions'] %}
    location /ubuntu/{{ version }}/{{ dirname }}/ {
        return 403;
    }
{% endfor %}
{% endfor %}
}
