# {{ pillar['message_do_not_modify'] }}

server {
{% if pillar['salt_ppa_mirror']['ssl']|default(False) %}
    listen 443 ssl;
    ssl_certificate /etc/ssl/{{ pillar['salt_ppa_mirror']['ssl'] }}/chained_ca.crt;
    ssl_certificate_key /etc/ssl/{{ pillar['salt_ppa_mirror']['ssl'] }}/server.pem;
    ssl_client_certificate /etc/ssl/{{ pillar['salt_ppa_mirror']['ssl'] }}/ca.crt;
    ssl_ciphers RC4:HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
{% endif %}
    listen 80;
    server_name {% for hostname in pillar['salt_ppa_mirror']['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};

    root /var/lib/reprepro/salt/;
    autoindex on;

    location /favicon.ico {
        deny all;
        return 404;
    }
{% for dirname in ('conf', 'db', 'lists') %}
{% for version in pillar['salt_ppa_mirror']['versions'] %}
    location /ubuntu/{{ version }}/{{ dirname }}/
        deny all;
        return 404;
    }
{% endfor %}
{% endfor %}
}
