{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set instance = salt['pillar.get']('openvpn_client:server_instance') %}

openvpn_client_{{ instance }}:
  description: OpenVPN Client Instance {{ instance }}
  command: "/usr/lib/nagios/plugins/check_procs -C openvpn -c 2:2 -a '/usr/sbin/openvpn --config {{ grains['id'] }}.conf'"
