{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set instances = salt['pillar.get']('openvpn_client:instances') %}

{%- for instance in instances %}
openvpn_client_{{ instance }}:
  description: OpenVPN Client Instance {{ instance }}
  command: "/usr/lib/nagios/plugins/check_procs -C openvpn -c 1:1 -a '--config {{ grains['id'] }}.conf'"
{%- endfor %}

openvpn_client_procs:
  description: OpenVPN Client Processes
  command: '/usr/lib/nagios/plugins/check_procs -c {{ instances | length }}:{{ instances | length }} -C openvpn --ereg-argument-array "--config /etc/openvpn/client/.*/{{ grains['id'] }}.conf$"'
