{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

APT::Periodic::AutocleanInterval "1";
APT::Periodic::RandomSleep "0";
APT::Install-Recommends "0";
APT::Clean-Installed "true";
{%- set proxy_server = salt['pillar.get']('apt:proxy_server', False) %}
{%- if proxy_server %}
Acquire::http::Proxy "http://{{ proxy_server }}";
{%- endif -%}
{%- if salt['pillar.get']('apt:debug', False) %}
quiet "0";
quiet::NoUpdate "false";
Debug::pkgDPkgProgressReporting "true";
Debug::pkgOrderList "true";
Debug::pkgPackageManager "true";
Debug::BuildDeps "true";
Debug::pkgInitialize "true";
Debug::NoLocking "false";
Debug::Acquire::Http "true";
Debug::pkgDepCache::AutoInstall "true";
Debug::pkgCacheGen "true";
{%- endif -%}
{#-
Debug::pkgDepCache::Marker "true";
Debug::pkgAcquire "true";
Debug::pkgProblemResolver "true";
Debug::pkgProblemResolver::ShowScores "true";
#}
APT::Cache-Start "100000000";
