{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

no-debsig
{%- if salt['pillar.get']('debug', False) %}
debug 1000
log /dev/stdout
{%- else %}
log /var/log/dpkg.log
{%- endif -%}
