{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

{#-
  Services that don't affect production and that have high cost in CPU, I/O
  and RAM to performs.
  Run them only each 6 hours.
-#}
{%- set timeout = 50 %} {#- seconds #}

apt:
  description: APT Updates
  {{ passive_interval(6 * 60) }}
  notifications_enabled: 0
  {#- enable only notification for real error #}
  notification_options: n
  {#- if error, retry 5 times every 3 minutes after any failure, for a max of 15
      minutes #}
  retry_interval: 3
  max_check_attempts: 5
  timeout: {{ timeout }}
  command: /usr/lib/nagios/plugins/
{%- if not salt['pillar.get']('__test__', False) -%}
  check_apt -t {{ timeout }}
{%- else -%}
  check_dummy 0 "No real check in test mode"
{%- endif %}

apt_rc:
  description: APT Not-Purged
  {{ passive_interval(6 * 60) }}
  notifications_enabled: 0
  notification_options: n
  {#- if error, retry 5 times every 3 minutes after any failure, for a max of 15
      minutes #}
  retry_interval: 3
  max_check_attempts: 5
  timeout: {{ timeout }}
  command: /usr/lib/nagios/plugins/check_apt-rc.py --formula=apt --check=apt_rc
