#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Usage of this is governed by a license that can be found in doc/license.rst

# log start stop time to syslog
source /usr/local/share/salt_common.sh
locking_script
log_start_script "$@"
trap "log_stop_script \$?" EXIT

sudo -E -u www-data -g www-data /usr/share/piwik/console core:archive 2>&1 \
     | logger -t piwik-archive -p local0.info
