#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Usage of this is governed by a license that can be found in doc/license.rst

# log start stop time to syslog
source /usr/local/share/salt_common.sh
log_start_script "$@"
trap "log_stop_script \$?" EXIT

readonly url='http://geolite.maxmind.com/download/geoip/database/GeoLiteCity.dat.gz'
readonly geoip_file='/var/lib/piwik/geoip/GeoIPCity.dat'

tmp_gz="$(mktemp --suffix='.gz')"
tmp_dat="$(mktemp)"
wget "$url" -q -O "$tmp_gz"
gunzip -qc "$tmp_gz" > "$tmp_dat"
chown www-data:www-data "$tmp_dat"
chmod 444 "$tmp_dat"
mv "$tmp_dat" "$geoip_file"
