{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream piwik {
    server unix:///var/lib/uwsgi/piwik.sock;
}
{%- endblock %}

{%- block root_location %}
    index index.php index.html index.htm;
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        gzip off;
        include uwsgi_params;
        uwsgi_modifier1 14;
        uwsgi_pass piwik;
    }
{%- endblock %}
