{#-
Copyright (C) 2013 the Institute for Institutional Innovation by Data
Driven Design Inc.

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE  MASSACHUSETTS INSTITUTE OF
TECHNOLOGY AND THE INSTITUTE FOR INSTITUTIONAL INNOVATION BY DATA
DRIVEN DESIGN INC. BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE
USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as contained in this notice, the names of the Institute for
Institutional Innovation by Data Driven Design Inc. shall not be used in
advertising or otherwise to promote the sale, use or other dealings
in this Software without prior written authorization from the
Institute for Institutional Innovation by Data Driven Design Inc.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{#-
MariaDB database server configuration file.

You can copy this file to one of:
- "/etc/mysql/my.cnf" to set global options,
- "~/.my.cnf" to set user-specific options.

One can use all long options that the program supports.
Run program with --help to get a list of available options and with
--print-defaults to see which it would actually understand and use.

For explanations see
http://dev.mysql.com/doc/mysql/en/server-system-variables.html

This will be passed to all mysql clients
It has been reported that passwords should be enclosed with ticks/quotes
especially if they contain "#" chars...
Remember to edit /etc/mysql/debian.cnf when changing the socket location.

* Character sets
Default is Latin1. Use utf-8 if global pillar encoding contain
'UTF-8'.
#}
{%- set encoding = salt['pillar.get']('encoding', 'en_US.UTF-8') %}
{%- if 'UTF-8' in encoding %}
{%- set use_utf8 = True %}
{%- endif %}

[client]
{%- set ssl = salt['pillar.get']('mysql:ssl', False) -%}
{%- if ssl %}
{#- self signed cert expect this to work #}
ssl-ca = /etc/ssl/certs/{{ ssl }}_chained.crt
{%- endif %}
port = 3306
socket = /var/run/mysqld/mysqld.sock
{%- if use_utf8 %}
default-character-set = utf8
{%- endif %}

[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice = 0

[mysqld]
{%- if ssl %}
{#- No way to disable entire protocol of the SSL/TLS spec within MySQL.
    So, just disable SSLv3 ciphers in CBC-mode to mitigate POODLE #}
ssl-cipher = EDH+CAMELLIA:EDH+aRSA:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:+CAMELLIA256:+AES256:+CAMELLIA128:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!DSS:!RC4:!SEED:!ECDSA:CAMELLIA256-SHA:CAMELLIA128-SHA:!DHE-RSA-AES256-SHA
ssl-cert = /etc/ssl/certs/{{ ssl }}.crt
ssl-key = /etc/ssl/private/{{ ssl }}.pem
{%- endif %}
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
port = 3306
bind-address = {{ salt['pillar.get']('mysql:bind', '127.0.0.1') }}
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
lc_messages_dir = /usr/share/mysql
lc_messages = en_US
skip-external-locking
{%- if use_utf8 %}
character-set-server  = utf8
collation-server      = utf8_general_ci
character_set_server   = utf8
collation_server       = utf8_general_ci
{%- endif %}

{%- if salt['pillar.get']('debug', False) %}
log_warnings = 3
slow_query_log = 1
{%- else %}
log_warnings = 2
{%- endif %}

slow_query_log_file = /var/log/mysql/mariadb-slow.log

[mysqldump]
quick
quote-names

!includedir /etc/mysql/conf.d/
