{#-
 Author: Hung Nguyen Viet hvnsweeting@gmail.com
 Maintainer: Hung Nguyen Viet hvnsweeting@gmail.com
 -#}
mysql_procs:
  description: MariaDB Daemon

mysql_port:
  description: MariaDB Local Port

mysql_remote_port:
  check: check_tcp!3306
  description: MariaDB Remote Port
