{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- if salt['pillar.get']('openerp:company_db', False) %}
openerp_cron:
  description: OpenERP Scheduler Daemon (cron)
  command: '/usr/lib/nagios/plugins/check_procs -C openerp-cron.py -u openerp -w 1:1'
{%- endif -%}

{%- from 'uwsgi/nrpe/instance.jinja2' import uwsgi_instance with context -%}
{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{%- set deployment = 'openerp' %}
{{ uwsgi_instance(deployment) }}
{{ nginx_instance(deployment, timeout=55, extra_dependencies=('openerp_uwsgi_worker',)) }}
