{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

start on (local-filesystems and net-device-up IFACE=eth0)
stop  on shutdown

setuid terracotta
setgid terracotta

env TC_INSTALL_DIR=/usr/local/terracotta-{{ version }}
{%- if grains['cpuarch'] == 'amd64' %}
{%- set config = "-d64 -server -XX:MaxDirectMemorySize=9223372036854775807" %}
{%- else %}
{%- set config = "-server -XX:MaxDirectMemorySize=2147483647" %}
{%- endif %}
exec java {{ config }} -Xms{{ salt['pillar.get']('terracotta:java_ms', '512m') }}\
   -Xmx{{ salt['pillar.get']('terracotta:java_mx', '512m') }} -XX:+HeapDumpOnOutOfMemoryError \
   -Dtc.config=/etc/terracotta.conf \
   -Dcom.sun.management.jmxremote \
   -Dtc.install-root="${TC_INSTALL_DIR}" \
   -Dsun.rmi.dgc.server.gcInterval=31536000 \
   ${JAVA_OPTS} \
   -cp "${TC_INSTALL_DIR}/lib/tc.jar" \
   com.tc.server.TCServerMain "$@"

