# {{ pillar['message_do_not_modify'] }}
command[mysql_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -u mysql -C mysqld -a '--basedir=/usr --datadir=/var/lib/mysql --plugin-dir=/usr/lib/mysql/plugin --user=mysql --pid-file=/var/run/mysqld/mysqld.pid --socket=/var/run/mysqld/mysqld.sock'
command[mysql_port]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 3306
