{#-
Copyright (c) 2014, Hung Nguyen Viet
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Hung Nguyen Viet <hvnsweeting@gmail.com>
Maintainer: Hung Nguyen Viet <hvnsweeting@gmail.com>
#}
{%- macro mysql_instance(dbname, password, username=None) -%}
{%- if not username is defined %}
{%- set username = dbname %}
{%- endif %}

{{ dbname }}_mysql:
  description: {{ dbname|capitalize }} MySQL Database
  # Just run a stupid query to make sure connection work
  command: /usr/lib/nagios/plugins/check_mysql_query.py --config /etc/nagios/mysql_{{ username }}@{{ dbname }}.cfg
{%- endmacro %}

{%- macro mysql_instance_prefix(deployment, prefix=None) -%}
    {%- if not prefix -%}
        {%- set prefix = deployment -%}
    {%- endif -%}
{{ deployment }}_mysql:
  description: {{ deployment|capitalize }} MySQL Database
  command: /usr/lib/nagios/plugins/check_mysql_query.py --config /etc/nagios/mysql_{{ salt['pillar.get'](prefix + ':db:username', deployment) }}@{{ salt['pillar.get'](prefix + ':db:name', deployment) }}.cfg
{%- endmacro %}

{%- macro mysql_nrpe_config_manage(dbname, passwd, username=None) -%}
{%- if not username is defined %}
{%- set username = dbname %}
{%- endif %}

mysql_check_query_nrpe_config:
  file:
    - managed
    - template: jinja
    - name: /etc/nagios/mysql_{{ username }}@{{ dbname }}.cfg
    - source: salt://mariadb/server/nrpe/mysql_config.jinja2
    - user: root
    - group: root
    - context:
        user: {{ username }}
        passwd: {{ passwd }}
        dbname: {{ dbname }}
    - mode: 440
    - require:
      - pkg: nagios-nrpe-server
{%- endmacro %}

{%- macro mysql_nrpe_config_absent(dbname, username=None) -%}
{%- if not username is defined %}
{%- set username = dbname %}
{%- endif %}

mysql_check_query_nrpe_config:
  file:
    - absent
    - name: /etc/nagios/mysql_{{ username }}@{{ dbname }}.cfg
{%- endmacro %}
