{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
{%- macro mysql_instance(formula, dbname, password=None, username=None) -%}
{#- password args is not used anymore but turned to kwarg for backward compatible #}
{%- if not username is defined %}
{%- set username = dbname %}
{%- endif %}

{{ dbname }}_mysql:
  description: {{ formula|capitalize }} MySQL Database {{ dbname }}
  command: /usr/lib/nagios/plugins/check_mysql_query.py --formula={{ formula }} --check={{ dbname }}_mysql
  arguments:
    timeout: 15 {#- 15 seconds to run statement  #}
    passwd: {{ password }}
    user: {{ username }}
    host: localhost
    database: {{ dbname }}
  dependencies:
    - mysql_port

{{ dbname }}_mysql_empty:
  description: {{ formula|capitalize }} MySQL Database Empty{{ dbname }}
  command: /usr/lib/nagios/plugins/check_mysql_query.py --formula={{ formula }} --check={{ dbname }}_mysql_empty
  arguments:
    timeout: 15 {#- 15 seconds to run statement  #}
    passwd: {{ password }}
    user: {{ username }}
    host: localhost
    database: {{ dbname }}
    query: "select * from information_schema.tables where table_schema = '{{ dbname }}';"
    critical: "1:"
  dependencies:
    - {{ dbname }}_mysql
{%- endmacro %}
