{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Bruno Clermont <bruno@robotinfra.com>
Maintainer: Quan Tong Anh <quanta@robotinfra.com>
-#}
statsd_procs:
  description: StatsD Daemon
  command: '/usr/lib/nagios/plugins/check_procs -C pystatsd-server -c 1:1 -u root'

statsd_logger:
  description: StatsD Logger
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C logger -a "-t statsd"'
  dependencies:
    - statsd_procs
