{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

statsd_procs:
  description: StatsD Daemon
  command: '/usr/lib/nagios/plugins/check_procs -C pystatsd-server -c 1:1 -u root'

statsd_logger:
  description: StatsD Logger
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C logger -a "-t statsd"'
  dependencies:
    - statsd_procs
