#!/bin/bash
# {{ pillar['message_do_not_modify'] }}
set -e

/usr/local/bin/backup-mysql wordpress
tar czf /tmp/wordpress_upload.tar.gz -C {{ wordpressdir }}/wp-content uploads
/usr/local/bin/backup-store /tmp/wordpress_upload.tar.gz
