{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

mysql_procs:
  description: MySQL Daemon
  command: /usr/lib/nagios/plugins/check_procs -c 1:1 -u mysql -C mysqld

mysql_port:
  description: MySQL Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H -4 127.0.0.1 -p 3306 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - mysql_procs

{%- if not salt['pillar.get']('__test__', False) -%}
{%- from 'mysql/server/nrpe/instance.jinja2' import mysql_instance with context %}
{{ mysql_instance('mysql.server', 'mysql', salt['password.pillar']('mysql:password'), 'root') }}
{%- endif -%}

{%- if salt['pillar.get']('mysql:bind', '127.0.0.1') != '127.0.0.1' %}
mysql_port_remote:
  check: check_tcp!3306
  description: MySQL Remote Port
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - mysql_port
{%- endif %}
