# {{ pillar['message_do_not_modify'] }}
command[shinken_broker_procs]=/usr/lib/nagios/plugins/check_procs -c 1:10 -C shinken-broker
command[shinken_broker_port]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 7772
command[shinken_broker_web]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 7767
command[shinken_broker_http]=/usr/lib/nagios/plugins/check_http -H 127.0.0.1 -u /user/login -p 7767 -e '200 OK' -I 127.0.0.1
