{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

shinken_broker_procs:
  description: Shinken Broker Deamon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:10 -u shinken -a 'shinken-broker -c /etc/shinken/broker.conf'"

shinken_broker_port:
  description: Shinken Broker Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 7772 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - shinken_broker_procs

shinken_broker_port_remote:
  description: Shinken Broker Remote Port
  check: check_tcp!7772
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - shinken_broker_port

shinken_broker_http_port:
  description: Shinken Broker Web UI Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 7767 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - shinken_broker_procs

shinken_broker_http:
  description: Shinken Broker Web UI HTTP
  command: "/usr/lib/nagios/plugins/check_http -H 127.0.0.1 -u /user/login -p 7767 -e '200 OK' -I 127.0.0.1 -t {{ timeout }}"
  timeout: {{ timeout }}
  dependencies:
    - shinken_broker_http_port

shinken_broker_web_cluster:
  description: Shinken Broker Web UI Cluster
  check: bp_rule!{%- for host in salt['pillar.get']('shinken:architecture:broker') -%}{%- if loop.first -%}({%- endif -%}{{ host }},shinken_broker_http{%- if not loop.last -%} | {%- else -%} ){%- endif -%}{%- endfor %}
  passive: False
  business_rule_service_notification_options: n
  business_rule_smart_notifications: 1

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context %}
{{ nginx_instance('shinken.broker', deployment='shinken', pillar_prefix='shinken', http_uri='/user/login', extra_dependencies=('shinken_broker_http',)) }}
