# {{ pillar['message_do_not_modify'] }}
{% set workers = pillar['salt_master']['workers']|default("5") %}
command[check_salt_master]=/usr/lib/nagios/plugins/check_procs -c {{ workers }}:{{ workers|int + 10 }} -C python -a salt-master -u root
