{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}

{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}
{%- set timeout = 30 -%}
{%- set workers = salt['pillar.get']('salt_master:workers', None)|default(grains['num_cpus'], boolean=True) -%}

{%- set processes = workers + 6 | int %}
{%- if salt['pillar.get']('salt_master:reactor', False) %}
  {%- set processes = processes + 1 %}
{%- endif %}
{#-
List of processes of salt-master, the number of MWorker is equal to value of salt_master:workers pillar
Reactor process is only present if salt_master:reactor is True

root     21770     1  0 02:22 ?        00:00:01 /usr/bin/python /usr/bin/salt-master ProcessManager
root     21779 21770  0 02:22 ?        00:00:01 /usr/bin/python /usr/bin/salt-master _clear_old_jobs
root     21780 21770  0 02:22 ?        00:00:00 /usr/bin/python /usr/bin/salt-master Publisher
root     21781 21770  0 02:22 ?        00:00:00 /usr/bin/python /usr/bin/salt-master EventPublisher
root     21832 21770  0 02:22 ?        00:00:02 /usr/bin/python /usr/bin/salt-master Reactor
root     21839 21770  0 02:22 ?        00:00:00 /usr/bin/python /usr/bin/salt-master ReqServer_ProcessManager
root     21842 21839  0 02:22 ?        00:00:00 /usr/bin/python /usr/bin/salt-master MWorker
root     21844 21839  0 02:22 ?        00:00:00 /usr/bin/python /usr/bin/salt-master MWorkerQueue
#}


salt_master_procs:
  description: Salt Master Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c {{ processes }}:{{ processes + 1 }} -a "/usr/bin/python /usr/bin/salt-master" -u root'

salt_master_publish_port:
  description: Salt Master Local Port Publish
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 4505 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - salt_master_procs

salt_master_publish_port_remote:
  description: Salt Master Remote Port Publish
  check: check_tcp!4505
  passive: False
  dependencies:
    - salt_master_publish_port

salt_master_return_port:
  description: Salt Master Local Port Return
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 4506 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - salt_master_procs

salt_master_return_port_remote:
  description: Salt Master Remote Port Return
  check: check_tcp!4506
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - salt_master_return_port

{%- if salt['monitoring.data']()['ip_addrs6']['public'] %}
salt_master_publish_port_ipv6:
  description: Salt Master Local Port Publish with IPv6
  command: /usr/lib/nagios/plugins/check_tcp -6 -H ::1 -p 4505 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - salt_master_procs

salt_master_return_port_ipv6:
  description: Salt Master Local Port Return
  command: /usr/lib/nagios/plugins/check_tcp -6 -H ::1 -p 4506 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - salt_master_procs
{%- endif %}

salt_master_git_branch:
  description: Check if git repositories in salt-master contains bad characters (/)
  command: sudo /usr/lib/nagios/plugins/check_git_branch.py --formula salt.master --check=salt_master_git_branch
  {{ passive_interval(2 * 60) }} {#- every two hours #}
  timeout: 120
  arguments:
    path: /etc/salt/master

{%- block salt_master_mine -%}
    {%- if not salt['pillar.get']('__test__', False) %}
salt_master_mine:
  description: Salt Master Unfinished Minions
  {{ passive_interval(12 * 60) }} {#- 12 hours #}
  dependencies:
    - salt_master_procs
    {#- no alert if load is too high #}
    - load_average
  timeout: 300
  arguments:
    freshness: {{ 12 * 60 + 5 + 5 }} {#- cron interval + timeout + 5 mins #}
{#- sudo for reading salt config files #}
  command: sudo /usr/lib/nagios/plugins/check_mine_minions.py --formula=salt.master --check=salt_master_mine --cronresult
    {%- endif -%}
{%- endblock -%}
