{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set servers = salt['pillar.get']('openvpn:servers', {}) -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- for instance in servers %}
openvpn_server_{{ instance }}:
  description: OpenVPN Instance {{ instance }}
  command: "/usr/lib/nagios/plugins/check_procs -C openvpn -c 1:1 -a '--config /etc/openvpn/{{ instance }}/config'"

  {%- set port = servers[instance]['port'] | default(1194) %}
  {%- set protocol = servers[instance]['protocol'] | default('udp') %}
openvpn_server_{{ instance }}_port:
  description: OpenVPN Instance {{ instance }} Port
    {%- if protocol.startswith('udp') %}
  command: "/usr/lib/nagios/plugins/check_udp_listen {{ port }}"
    {%- else %}
  command: "/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p {{ port }}"
    {%- endif %}
  dependencies:
    - openvpn_server_{{ instance }}

  {%- if salt['monitoring.data']()['ip_addrs6']['public'] and protocol.startswith('tcp') %}
openvpn_server_{{ instance }}_port_ipv6:
  description: OpenVPN Instance {{ instance }} Port IPv6
  command: "/usr/lib/nagios/plugins/check_tcp -H ::1 -p {{ port }}"
  dependencies:
    - openvpn_server_{{ instance }}
  {%- endif %}
{%- endfor %}

openvpn_server_procs:
  description: OpenVPN Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c {{ servers|length }}:{{ servers|length }} -C openvpn --ereg-argument-array "--config /etc/openvpn/.*/config$"'
