{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
#!/bin/sh
# {{ pillar['message_do_not_modify'] }}

DEPLOYMENT=`basename $1`
NOW=`date '+%Y-%m-%d-%H_%M_%S'`

OUTPUT="/tmp/$DEPLOYMENT-$NOW.pip"

if [ -d "$1/.hg/" ]; then
    echo "Mercurial Virtualenv $1" > $OUTPUT
    echo "Status:" >> $OUTPUT
    (cd $1; hg status) >> $OUTPUT
    echo "Summary:" >> $OUTPUT
    (cd $1; hg summary) >> $OUTPUT
fi

if [ -d "$1/.git/" ]; then
    echo "Git Virtualenv $1" > $OUTPUT
    echo "Status:" >> $OUTPUT
    (cd $1; git status -s) >> $OUTPUT
    echo "Show:" >> $OUTPUT
    (cd $1; git show) >> $OUTPUT
fi

$1/bin/pip freeze >> $OUTPUT
gzip -9 $OUTPUT
scp -q $OUTPUT.gz root@{{ pillar['backup_server']['address'] }}:/var/lib/backup/{{ grains['id'] }}-$DEPLOYMENT-virtualenv-$NOW.pip.gz
rm -f $OUTPUT.gz
