{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
-#}
import logging
import urlparse
from django.conf.urls import patterns, include, url
from django.conf import settings
from django.core.urlresolvers import reverse
from django.views.static import serve as static_serve
from django.contrib import admin
from django.contrib.auth.views import logout
admin.autodiscover()

log = logging.getLogger(__name__)

def static_urls():
    '''Returns urls for for static file serving from this server. In case
    the STATIC_URL points to an absolute server, we don't serve static
    files from this server.
    '''
    parsed_url = urlparse.urlparse(settings.STATIC_URL)
    if parsed_url.netloc:
        log.debug('Cannot serve STATIC files since settings.STATIC_URL points outside this server.')
        return patterns('')
    return patterns('',
                    url(r'^' + settings.STATIC_URL.strip('/') + r'/(?P<path>.*)$',
                        static_serve, dict(document_root=settings.STATIC_ROOT)),
                    url(r'^' + settings.MEDIA_URL.strip('/') + r'/(?P<path>.*)$',
                        static_serve, dict(document_root=settings.MEDIA_ROOT)),
                    )

urlpatterns = patterns('',
    url(r'^' + r'/'.lstrip('/'), include('djangopypi2.urls')),
    url(r'^' + r'/admin/'.lstrip('/'), include(admin.site.urls)),
    url(r'^' + r'/accounts/logout/$'.lstrip('/'), logout, {'next_page': '/'}, name = 'auth_logout'),
    url(r'^' + r'/accounts/'.lstrip('/'), include('registration.backends.default.urls')),
) + static_urls()
