{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

Author: Viet Hung Nguyen <hvn@robotinfra.com>
Maintainer: Viet Hung Nguyen <hvn@robotinfra.com>
#}
{%- from 'tomcat/nrpe_macro.jinja2' import tomcat_monitor with context -%}
{{ tomcat_monitor(6) }}
