{#- Usage of this is governed by a license that can be found in doc/license.rst

Rsyslog config file for outputing mail info log to a log file
which is used to get postfix stats
-#}

# {{ salt['pillar.get']('message_do_not_modify') }}

mail.* -/var/log/mail.log
