{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.


Rsyslog config file for outputing mail info log to a log file
which is used to get postfix stats
-#}
mail.* -/var/log/mail.log
