{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
influxdb==2.7.1
python-dateutil==2.1
requests==2.4.3
pytz==2014.10
six==1.9.0
