{#-
Copyright (c) 2013, Bruno Clermont
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont <patate@fastmail.cn>
Maintainer: Bruno Clermont <patate@fastmail.cn>
-#}
#TODO FIXME
elasticsearch_procs:
  description: Elasticsearch Daemon

elasticsearch_cluster:
  description: Elasticsearch Cluster

elasticsearch-remote-port-http:
  description: Elasticsearch Remote HTTP Port
  check: check_tcp!9200
  passive: False

elasticsearch-remote-port-transport:
  description: Elasticsearch Remote Transport Port
  check: check_tcp!9300
  passive: False

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{{ nginx_instance('elasticsearch', http_port=9200, domain_name='127.0.0.1', https='{{ ssl }}') }}



#TODO FIXME
{%- if origin_state|default("elasticsearch") == 'elasticsearch' %}
command[elasticsearch_procs]=/usr/lib/nagios/plugins/check_procs -u elasticsearch -c 1:1 -C java -a org.elasticsearch.bootstrap.ElasticSearch
{%- endif -%}
{%- set nodes_total = 0 -%}
{#- this ugly hack is required to get the total number of nodes #}
{%- for item in pillar['elasticsearch']['cluster']['nodes'].viewitems() -%}
    {#- take 1 off the length to remove the _network key -#}
    {%- set nodes_total = nodes_total - 1 + item[1]|length -%}
    {%- if loop.last -%}
        {%- if origin_state|default("elasticsearch") == 'graylog2.server' %}
command[graylog2_elasticsearch_cluster]=/usr/lib/nagios/plugins/check_elasticsearch_cluster.py -c {{ nodes_total }}:{{ nodes_total }}
        {%- else %}
command[elasticsearch_cluster]=/usr/lib/nagios/plugins/check_elasticsearch_cluster.py -c {{ nodes_total }}:{{ nodes_total }}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
{%- set pillar_string = 'elasticsearch:cluster:nodes:{0}:{1}'.format(grains['id'], origin_state|default("elasticsearch")) %}
{%- if origin_state|default("elasticsearch") == 'graylog2.server' -%}
    {%- if salt['pillar.get'](pillar_string + ':http', True) %}
command[graylog2_elasticsearch_port_http]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9200
    {%- else %}
        {#- TODO: don't define that check if not GL2 http  #}
command[graylog2_elasticsearch_port_http]=/bin/echo "HTTP OK: Graylog2 is configured to not serve HTTP."
    {%- endif %}
command[graylog2_elasticsearch_port_transport]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p {{ salt['pillar.get'](pillar_string + ':port', 9300) }}
{%- else -%}
    {%- if salt['pillar.get'](pillar_string + ':http', True) %}
command[elasticsearch_port_http]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9200
    {%- else %}
        {#- TODO: don't define that check if not http  #}
command[elasticsearch_port_http]=/bin/echo "HTTP OK: Elasticsearch is configured to not serve HTTP."
    {%- endif %}
command[elasticsearch_port_transport]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p {{ salt['pillar.get'](pillar_string + ':port', 9300) }}
{%- endif -%}
