{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

elasticsearch_procs:
  description: Elasticsearch Daemon
  command: '/usr/lib/nagios/plugins/check_procs -u elasticsearch -c 1:1 -C java -a org.elasticsearch.bootstrap'

elasticsearch-es_remote_port_http:
  description: Elasticsearch Remote HTTP Port
  check: check_tcp!9200
  passive: False
  timeout: 30
  dependencies:
    - elasticsearch_procs

elasticsearch-es_remote_port-transport:
  description: Elasticsearch Remote Transport Port
  check: check_tcp!9300
  passive: False
  timeout: 30
  dependencies:
    - elasticsearch_procs

{%- set username = salt['pillar.get']('elasticsearch:username', False) %}
{%- set password = salt['pillar.get']('elasticsearch:password', False) %}
{%- if salt['pillar.get']('elasticsearch:ssl', False) %}
    {%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context %}
  {%- if username and password %}
{{ nginx_instance('elasticsearch', http=False, https_result='401 Unauthorized', extra_dependencies=('elasticsearch_http',)) }}
  {%- else %}
{{ nginx_instance('elasticsearch', http=False, extra_dependencies=('elasticsearch_http',)) }}
  {%- endif %}
{%- endif %}

{%- from 'elasticsearch/nrpe/instance.jinja2' import elasticsearch_instance with context -%}
{{ elasticsearch_instance('elasticsearch', 'elasticsearch_procs') }}
