{#-
Copyright (c) 2014, Hung Nguyen Viet
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Hung Nguyen Viet <hvnsweeting@gmail.com>
Maintainer: Hung Nguyen Viet <hvnsweeting@gmail.com>
#}
{%- macro elasticsearch_instance(formula, process_check_name) %}

{%- set nodes_total = 0 -%}
{#- this ugly hack is required to get the total number of nodes #}
{%- for item in pillar['elasticsearch']['cluster']['nodes'].viewitems() -%}
    {#- take 1 off the length to remove the _network key -#}
    {%- set nodes_total = nodes_total - 1 + item[1]|length -%}
    {%- if loop.last %}
{{ formula|replace('.', '_') }}-es_cluster:
  description: {{ formula|title }} Elasticsearch cluster
  command: '/usr/lib/nagios/plugins/check_elasticsearch_cluster.py -c {{ nodes_total }}:{{ nodes_total }}'
    {%- endif %}
{%- endfor %}

{%- set pillar_string = 'elasticsearch:cluster:nodes:{0}:{1}'.format(grains['id'], formula) %}
{%- if salt['pillar.get'](pillar_string + ':http', True) %}
{{ formula|replace('.', '_') }}-es_http_port:
  description: {{ formula|title }} ES HTTP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9200
  dependencies:
    - {{ process_check_name }}

{{ formula|replace('.', '_') }}-es_http:
  description: {{ formula|title }} ES HTTP Interface
  command: /usr/lib/nagios/plugins/check_http -H 127.0.0.1 -u / -p 9200 -e '200 OK'
  dependencies:
    - {{ formula|replace('.', '_') }}-es_http_port
{%- endif %}

{{ formula|replace('.', '_') }}-es_port_transport:
  description: {{ formula|title }} ES Transport Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p {{ salt['pillar.get'](pillar_string + ':port', 9300) }}
  dependencies:
    - {{ process_check_name }}
{%- endmacro %}
