{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- macro elasticsearch_instance(formula, process_check_name) %}

{%- set nodes_total = 0 -%}
{#- this ugly hack is required to get the total number of nodes #}
{%- for item in salt['pillar.get']('elasticsearch:cluster:nodes').viewitems() -%}
    {#- take 1 off the length to remove the _network key -#}
    {%- set nodes_total = nodes_total - 1 + item[1]|length -%}
    {%- if loop.last %}
{{ formula|replace('.', '_') }}-es_cluster:
  description: {{ formula|title }} Elasticsearch cluster
  command: /usr/lib/nagios/plugins/check_elasticsearch_cluster.py --formula={{ formula }} --check={{ formula|replace('.', '_') }}-es_cluster
  arguments:
    critical: {{ nodes_total }}
    {%- endif -%}
{%- endfor %}

{%- set pillar_string = 'elasticsearch:cluster:nodes:{0}:{1}'.format(grains['id'], formula) %}
{%- if salt['pillar.get'](pillar_string + ':http', True) %}
{{ formula|replace('.', '_') }}-es_http_port:
  description: {{ formula|title }} ES HTTP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9200
  dependencies:
    - {{ process_check_name }}

{{ formula|replace('.', '_') }}-es_http_port_ipv6:
  description: {{ formula|title }} ES HTTP Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 9200
  dependencies:
    - {{ process_check_name }}

{{ formula|replace('.', '_') }}-es_http:
  description: {{ formula|title }} ES HTTP Interface
  command: /usr/lib/nagios/plugins/check_http -H 127.0.0.1 -u / -p 9200 -e '200 OK'
  dependencies:
    - {{ formula|replace('.', '_') }}-es_http_port

{{ formula|replace('.', '_') }}-es_http_ipv6:
  description: {{ formula|title }} ES HTTP Interface IPv6
  command: /usr/lib/nagios/plugins/check_http -H ::1 -u / -p 9200 -e '200 OK'
  dependencies:
    - {{ formula|replace('.', '_') }}-es_http_port
{%- endif %}

{{ formula|replace('.', '_') }}-es_port_transport:
  description: {{ formula|title }} ES Transport Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p {{ salt['pillar.get'](pillar_string + ':port', 9300) }}
  dependencies:
    - {{ process_check_name }}

{{ formula|replace('.', '_') }}-es_port_transport_ipv6:
  description: {{ formula|title }} ES Transport Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p {{ salt['pillar.get'](pillar_string + ':port', 9300) }}
  dependencies:
    - {{ process_check_name }}
{%- endmacro %}
