# {{ pillar['message_do_not_modify'] }}

{% if 'file_proxy' in pillar %}
{{ pillar['file_proxy'] }}/requests/0.14.2.tar.gz
{{ pillar['file_proxy'] }}/pyelasticsearch/0.2.tar.gz
{% else %}
requests==0.14.2
pyelasticsearch==0.2
{% endif %}
