{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
; {{ salt['pillar.get']('message_do_not_modify') }}
date.timezone = "{{ salt['pillar.get']('timezone', 'UTC') }}"
expose_php = "Off"
max_input_vars = {{ salt['pillar.get']('php:max_input_vars', 1000) }}
error_reporting = {{ salt['pillar.get']('php:error_reporting', 'E_ALL & ~E_DEPRECATED & ~E_STRICT') }}
