#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}

# Copyright (c) 2014, Diep Pham
# All rights reserved.

# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:

# 1. Redistributions of source code must retain the above copyright
# notice, this list of conditions and the following disclaimer.

# 2. Redistributions in binary form must reproduce the above copyright
# notice, this list of conditions and the following disclaimer in the
# documentation and/or other materials provided with the distribution.

# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
# FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
# COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
# LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

# Author: Van Diep Pham <favadi@robotinfra.com>
# Maintainer: Van Diep Pham <favadi@robotinfra.com>

# Common bash functions collection

######################################################
# Log script startup and stop time                   #
#                                                    #
# Usage: add following line at the top of the script #
#                                                    #
#   source /usr/local/share/salt-common.sh           #
#   log_start_script "$@"                            #
#   trap "log_stop_script \$?" EXIT                  #
######################################################

set -e

{% if salt['pillar.get']('debug', False) %}set -x{% endif %}

_log_start_time=0

log_start_script() {
    local _prog_name=$(basename "$0")
    local _log_tag="${_prog_name}[$$]"
    _log_start_time=$(date +%s)

    if [ "$#" -gt 0 ]; then
        logger -t "${_log_tag}" -p 'local0.debug' "Started with args: $*"
    else
        logger -t "${_log_tag}" -p 'local0.debug' "Started at $(date -d @$_log_start_time)"
    fi
}

log_stop_script() {
    local _prog_name=$(basename "$0")
    local _return_code=$1
    local _log_execution_time=0
    local _log_stop_time=$(date +%s)
    local _log_tag="${_prog_name}[$$]"

    if [[ ${_log_start_time} -ne 0 ]]; then
        _log_execution_time=$(( _log_stop_time - _log_start_time ))
        logger -t "${_log_tag}" -p 'local0.info' \
            "Finish after ${_log_execution_time} seconds, return code: ${_return_code}"
    else
        logger -t "${_log_tag}" -p 'local0.info' \
            "Finish after N/A seconds, return code: ${_return_code}"
    fi

    if [[ -n "${_pid_file}" ]]; then
        test -f "${_pid_file}" && rm -f "${_pid_file}"
        logger -t "${_log_tag}" -p 'local0.info' \
            "PID file: ${_pid_file} deleted"
    else
        logger -t "${_log_tag}" -p 'local0.info' \
            "PID file does not exist"
    fi
}

locking_script() {
    local _prog_name=$(basename "$0")
    local _log_tag="${_prog_name}[$$]"
    _pid_file="/var/run/${_prog_name}.pid"

    if test -f "${_pid_file}"; then
        test -n $(cat "${_pid_file}") && local _prev_pid=$(cat "${_pid_file}")
    fi
    exec 8>"${_pid_file}"
    if flock -n 8; then
        pid=$$
        echo $pid 1>&8
    else
        logger -t "${_log_tag}" -p 'local0.warning' \
            "Cannot run multiple instances at the same time. The first instance is running as PID $_prev_pid"
        echo $_prev_pid > "${_pid_file}"
        exit 1
    fi
}
