{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- if salt['pillar.get']('files_archive', False) %}
-e /usr/local/statsd/src/py-statsd-{{ version }}
{%- else %}
-e git://github.com/Jonty/py-statsd.git@ad234af2932fd7e0f9f7c6fb8d9c8fdb8e6deb3a#egg=py-statsd
{%- endif %}
