{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

start on (net-device-up
          and local-filesystems
          and runlevel [2345]
          and started rsyslog)
stop on runlevel [!2345]

respawn
respawn limit 10 5
umask 022

setuid nobody

exec /usr/local/statsdaemon/statsdaemon {% if salt['pillar.get']('debug', False) %}--debug {% endif %} -graphite={{ salt['pillar.get']('graphite_address', False) }}:2003 -prefix="{{ grains['id'] }}.stats." | logger -t "statsdaemon" -p debug
