{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

start on (net-device-up
          and local-filesystems
          and runlevel [2345]
          and started rsyslog)
stop on runlevel [!2345]

respawn
respawn limit 10 5
umask 022

setuid nobody

{#-
statsdaemon logs to both stdout and stderr, the log in stdout is useless
and will be dropped, the logs sent to stderr which will be redirected to
syslog by using logger needs to remove the timestamp as logger will
add timestamp for each log message.
The log contains "stats to" is useless, remove it.
#}

{%- set is_debug = salt['pillar.get']('debug', False) %}
exec /usr/local/statsdaemon/statsdaemon {% if is_debug %} -debug {% endif %} \
         -graphite={{ salt['pillar.get']('graphite_address', False) }}:2003 \
         -prefix="{{ grains['id'] }}.stats." 2>&1 >/dev/null | cut -d' ' -f3- | {% if not is_debug %}grep -v 'stats to' | {% endif %} logger -t "statsdaemon" -p daemon.warning
