{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- from 'uwsgi/nrpe/instance.jinja2' import uwsgi_instance with context -%}
{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance_prefix with context -%}
{%- set deployment = 'djangopypi2' -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

{{ uwsgi_instance(deployment) }}
{{ postgresql_instance_prefix(deployment) }}
{{ nginx_instance(deployment, timeout=55, http_uri='/packages/', extra_dependencies=('djangopypi2_uwsgi_worker', 'djangopypi2_postgresql')) }}
