{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream gogs {
    server 127.0.0.1:3000;
}
{%- endblock %}

{%- block root_location %}
    client_max_body_size 2M;
    if ($http_user_agent ~* "Go") {
        return 200 "
        <!DOCTYPE html>
        <head><meta content='$host$uri git $scheme://$host$uri.git' name='go-import'></head>
        </html>";
    }

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_next_upstream error;
        proxy_pass http://gogs;
    }
{%- endblock %}
