# {{ pillar['message_do_not_modify'] }}
command[tightvncserver_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C Xtightvnc -u vnc
command[tightvncserver_port]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 5901
