{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}
{%- set port = salt['pillar.get']('pgbouncer:listen_port', 6432) -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

pgbouncer_procs:
  description: PgBouncer Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -a '-d /etc/pgbouncer/pgbouncer.ini' -u postgres"

pgbouncer_port:
  description: PgBouncer Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p {{ port }} -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - pgbouncer_procs

pgbouncer_port_ipv6:
  description: PgBouncer Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p {{ port }} -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - pgbouncer_procs

pgbouncer_special_virtual_db:
  description: PgBouncer Special Virtual Database
  command: sudo -u postgres /usr/lib/nagios/plugins/check_pgsql -P {{ port }} -d pgbouncer -l pgbouncer
  timeout: {{ timeout }}
  dependencies:
    - pgbouncer_port

{% set authentication = salt['pillar.get']('pgbouncer:authentication', False) %}

{%- for dbname, value in salt['pillar.get']('pgbouncer:databases').iteritems() %}
    {%- if authentication %}
        {%- set username = authentication.keys()[0] %}
        {%- set password = authentication.values()[0] %}
    {%- else %}
        {%- set username = value['username']|default(dbname, boolean=True) %}
        {%- set password = value['password'] %}
    {%- endif %}
pgbouncer_{{ dbname }}_db:
  description: {{ dbname|capitalize }} PostgreSQL Database (Connect Via PgBouncer)
  command: /usr/lib/nagios/plugins/check_pgsql_query.py --formula=pgbouncer --check=pgbouncer_{{ dbname }}_db
  timeout: {{ timeout }}
  arguments:
    host: {{ value['host'] }}
    port: {{ port }}
    user: {{ username }}
    passwd: {{ password }}
    database: {{ dbname }}
    query: "SELECT * from pg_stat_activity;"
    critical: "1:"
  dependencies:
    - pgbouncer_port
{%- endfor %}
