{#-
Copyright (c) 2013, Hung Nguyen Viet
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Hung Nguyen Viet <hvnsweeting@gmail.com>
Maintainer: Hung Nguyen Viet <hvnsweeting@gmail.com>
-#}
terracotta_procs:
  description: Terracotta Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u terracotta -C java -a 'com.tc.server.TCServerMain'"

terracotta_dso_local_port:
  description: Terracotta DSO Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9510
  service_dependencies: ',terracotta_procs'

terracotta_dso_remote_port:
  check: check_tcp!9510
  description: Terracotta DSO Remote Port
  passive: False
  service_dependencies: ',terracotta_procs'

terracotta_jmx_local_port:
  description: Terracotta JMX Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9520
  service_dependencies: ',terracotta_procs'

terracotta_jmx_remote_port:
  check: check_tcp!9520
  description: Terracotta JMX Remote Port
  passive: False
  service_dependencies: ',terracotta_procs'

terracotta_communicate_local_port:
  description: Terracotta Communicate Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9530
  service_dependencies: ',terracotta_procs'

terracotta_communicate_remote_port:
  check: check_tcp!9530
  description: Terracotta Communicate Remote Port
  passive: False
  service_dependencies: ',terracotta_procs'
