{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
{%- set timeout = 20 -%}
terracotta_procs:
  description: Terracotta Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u terracotta -C java -a 'com.tc.server.TCServerMain'"

terracotta_dso_local_port:
  description: Terracotta DSO Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9510 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - terracotta_procs

terracotta_dso_remote_port:
  check: check_tcp!9510
  description: Terracotta DSO Remote Port
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - terracotta_procs

terracotta_jmx_local_port:
  description: Terracotta JMX Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9520 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - terracotta_procs

terracotta_jmx_remote_port:
  check: check_tcp!9520
  description: Terracotta JMX Remote Port
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - terracotta_procs

terracotta_communicate_local_port:
  description: Terracotta Communicate Local Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 9530 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - terracotta_procs

terracotta_communicate_remote_port:
  check: check_tcp!9530
  description: Terracotta Communicate Remote Port
  timeout: {{ timeout }}
  passive: False
  dependencies:
    - terracotta_procs
