{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set interface = salt["pillar.get"]("dhcp_server:interface") %}

dhcp_server_port:
  description: Check DHCP server UDP port
  command: /usr/lib/nagios/plugins/check_udp_listen 67

dhcp_server_proc:
  description: Check DHCP server process
  command: /usr/lib/nagios/plugins/check_procs -c 1:1 -u dhcpd -a "/etc/dhcp/dhcpd.conf {{ interface }}"
