{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set interface = salt["pillar.get"]("dhcp_server:interface") %}

dhcp_server:
  description: Check DHCP server functionality
  command: sudo /usr/lib/nagios/plugins/check_dhcp -s {{ grains["ip_interfaces"][interface]|first }} -i {{ interface }} -u

dhcp_server_proc:
  description: Check DHCP server process
  command: /usr/lib/nagios/plugins/check_procs -c 1:1 -u dhcpd -a "/etc/dhcp/dhcpd.conf {{ interface }}"
