# {{ pillar['message_do_not_modify'] }}
command[mongodb_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -C mongod -u mongodb
command[mongodb_port]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 27017
command[mongodb_http]=/usr/lib/nagios/plugins/check_http -I 127.0.0.1 -p 28017
command[mongodb_port_http]=/usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 28017
