{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set timeout = 30 -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

mongodb_procs:
  description: MongoDB Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C mongod -u mongodb'

mongodb_port:
  description: MongoDB Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 27017 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - mongodb_procs

mongodb_port_ipv6:
  description: MongoDB Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 27017 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - mongodb_procs

mongodb_http_port:
  description: MongoDB HTTP Port
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 28017 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - mongodb_procs

mongodb_http_port_ipv6:
  description: MongoDB HTTP Port IPv6
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 28017 -t {{ timeout }}
  timeout: {{ timeout }}
  dependencies:
    - mongodb_procs

mongodb_http:
  description: MongoDB HTTP Interface
  command: /usr/lib/nagios/plugins/check_http -t {{ timeout }} -I 127.0.0.1 -p 28017
  timeout: {{ timeout }}
  dependencies:
    - mongodb_http_port

mongodb_http_ipv6:
  description: MongoDB HTTP Interface IPv6
  command: /usr/lib/nagios/plugins/check_http -t {{ timeout }} -I ::1 -p 28017
  timeout: {{ timeout }}
  dependencies:
    - mongodb_http_port_ipv6
