{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

#}

{% extends "pysc/config.jinja2" %}

{% block body %}
    {{ super() }}
s3:
  access_key: {{ salt['pillar.get']('backup:s3:access_key') }}
  secret_key: {{ salt['pillar.get']('backup:s3:secret_key') }}

minion_id: {{ grains['id'] }}
{% endblock %}
