{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{% extends "pysc/config.jinja2" %}

{% block body %}
    {{ super() }}
s3:
  access_key: {{ salt['pillar.get']('backup:s3:access_key') }}
  secret_key: {{ salt['pillar.get']('backup:s3:secret_key') }}

minion_id: {{ grains['id'] }}
{% endblock %}
