{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
boto==2.29.1
requests==2.4.3
{%- if salt['pillar.get']('files_archive', False) %}
pysc==0.3.17
{%- else %}
http://archive.robotinfra.com/pip/pysc-0.3.17.tar.bz2
{%- endif %}
