{%- extends "pysc/config.jinja2" -%}

{%- block body %}
    {{ super() }}
nsca_dir: /etc/nagios/nsca.d

ssh:
  hostname: {{ pillar['backup_server']['address'] }}
  username: root
  host_key_auto_add: true

backup:
  prefix: /var/lib/backup/{{ salt['pillar.get']('backup_server:subdir', grains['id']) }}
{%- endblock -%}
