#!/bin/sh
# {{ pillar['message_do_not_modify'] }}

/usr/local/bin/backup-postgresql discourse
tar czf /tmp/discourse_upload.tar.gz -C {{ web_root_dir }}/public uploads
/usr/local/bin/backup_store /tmp/discourse_upload.tar.gz
