#!/bin/sh
# {{ pillar['message_do_not_modify'] }}
{#-
 Author: Lam Dang Tung lamdt@familug.org
 Maintainer: Lam Dang Tung lamdt@familug.org
 -#}
/usr/local/bin/backup-postgresql discourse

NOW=`/bin/date '+%Y-%m-%d-%H_%M_%S'`
tar --xz -cf /tmp/discourse_upload_$NOW.tar.xz -C {{ web_root_dir }}/public uploads
/usr/local/bin/backup_store /tmp/discourse_upload_$NOW.tar.xz

