{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set max_age = 86400 %}  {# one day in seconds #}
clamav_last_scan:
  description: ClamAV Last Successful Scan
  command: '/usr/lib/nagios/plugins/check_file_age -w {{ max_age }} -c {{ max_age }} /var/lib/clamav/last-scan'
