{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

freshclam_procs:
  description: FreshClam Daemon
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -u clamav -C freshclam -a '-d --quiet'"

clamav_procs:
  description: ClamAV Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -u clamav -C clamd'

{%- set max_age = 24 * 60 * 60 %}  {# one day #}
clamav_last_update:
  description: ClamAV Last Update
  command: '/usr/lib/nagios/plugins/check_file_age -w {{ max_age }} -c {{ max_age }} /var/lib/clamav/last-update'

{%- if salt['pillar.get']('clamav:daily_scan', False) %}
clamav_last_scan:
  description: ClamAV Last Successful Scan
  command: '/usr/lib/nagios/plugins/check_file_age -w {{ max_age }} -c {{ max_age }} /var/lib/clamav/last-scan'
{%- endif %}
