# {{ pillar['message_do_not_modify'] }}
command[freshclam_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -u clamav -C freshclam -a '-d --quiet'
command[clamav_procs]=/usr/lib/nagios/plugins/check_procs -c 1:1 -u clamav -C clamd
