# {{ pillar['message_do_not_modify'] }}

# This configuration file fix the following error:
# apache2: Could not reliably determine the server's fully qualified domain name, using 127.0.1.1 for ServerName

ServerName localhost
