# {{ pillar['message_do_not_modify'] }}

upstream sentry {
    server unix:///var/lib/uwsgi/sentry.sock;
}

server {
    listen 80;
{% if pillar['sentry']['ssl']|default(False) %}
    listen 443 ssl;
    ssl_certificate /etc/ssl/{{ pillar['sentry']['ssl'] }}/chained_ca.crt;
    ssl_certificate_key /etc/ssl/{{ pillar['sentry']['ssl'] }}/server.pem;
    ssl_client_certificate /etc/ssl/{{ pillar['sentry']['ssl'] }}/ca.crt;
    ssl_ciphers RC4:HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
{% endif %}

    server_name {{ pillar['sentry']['address'] }};

    root /usr/local/sentry;

    location /_admin_media/ {
        expires 1h;
        autoindex off;
        alias /usr/local/sentry/lib/python2.7/site-packages/django/contrib/admin/static/;
    }

    location /_static/ {
        expires 1h;
        autoindex off;
        alias /usr/local/sentry/lib/python2.7/site-packages/sentry/static/;
    }

    location / {
        {#  rewrite ^/favicon.ico$ /media/images/favicon.ico last;#}
        uwsgi_pass sentry;
        include uwsgi_params;
    }

}
