# {{ pillar['message_do_not_modify'] }}

upstream sentry {
    server unix:///var/lib/uwsgi/sentry.sock;
}

server {
    listen 80;

    server_name {{ pillar['sentry']['address'] }};

    root /usr/local/sentry;
    keepalive_timeout 5;

    access_log /var/log/nginx/sentry-access.log;
    error_log /var/log/nginx/sentry-error.log;

    location /_admin_media/ {
        expires 1h;
        autoindex off;
        alias /usr/local/sentry/lib/python2.7/site-packages/django/contrib/admin/static/;
    }

    location /_static/ {
        expires 1h;
        autoindex off;
        alias /usr/local/sentry/lib/python2.7/site-packages/sentry/static/;
    }

    location / {
        {#  rewrite ^/favicon.ico$ /media/images/favicon.ico last;#}
        uwsgi_pass sentry;
        include uwsgi_params;
    }

}
