# {{ pillar['message_do_not_modify'] }}
[uwsgi]
master = true
env = DJANGO_SETTINGS_MODULE=my_sentry_conf
pymodule-alias = my_sentry_conf=/etc/sentry.conf.py
module = sentry.wsgi
processes = {{ pillar['sentry']['workers'] }}
{% if 'cheaper' in pillar['sentry'] %}
cheap = true
cheaper = {{ pillar['sentry']['cheaper'] }}
{% if pillar['sentry']['workers'] == 1 and pillar['sentry']['cheaper'] == 0 %}
idle = {% if 'idle' in pillar['sentry'] %}{{ pillar['sentry']['idle'] }}{% else %}300{% endif %}
cheaper-initial = 0
{% endif %}
{% endif -%}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
ksm = 20
{% endif -%}
lazy-apps = true
uid = www-data
gid = www-data
threaded-logger = true
logger = graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }}
carbon-id = sentry
carbon = {{ pillar['graphite_address'] }}:2003
virtualenv = /usr/local/sentry
chdir = /usr/local/sentry
procname = sentry-worker
procname-master = sentry-master
socket = /var/lib/uwsgi/sentry.sock
no-orphans = true
