{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{#- graylog2-server REST URIs (one or more, comma separated) For example: "http://127.0.0.1:12900/,http://127.0.0.1:12910/" #}
{%- set rest_transport_uri = salt['pillar.get']('graylog2:rest_transport_uri', None) %}
{%- if  rest_transport_uri %}
graylog2-server.uris="{{ rest_transport_uri }}"
{%- else %}
graylog2-server.uris="{{ salt['pillar.get']('graylog2:rest_listen_uri', 'http://127.0.0.1:12900') }}"
{%- endif %}

{#- The secret key is used to secure cryptographics functions. Set this to a long and randomly generated string. #}
{#- If you deploy your application to several instances be sure to use the same key! #}
{#- Generate for example with: pwgen -s 96 #}
application.secret="{{ salt['pillar.get']('graylog2:web:application_secret', False)|default(salt['password.generate']('graylog2:web:application_secret', 128), boolean=True) }}"

{#- Message field limit #}
{#- Your web interface can cause high load in your browser when you have a lot of different message fields. The default #}
{#- limit of message fields is 100. Set it to 0 if you always want to get all fields. They are for example used in the #}
{#- search result sidebar or for autocompletion of field names. #}
field_list_limit=100

{#- You usually do not want to change this. #}
application.global=lib.Global
