{#-
 Author: Bruno Clermont patate@fastmail.cn
 Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
graylog2_uwsgi_master:
  description: Graylog2 uWSGI Master Process

graylog2_uwsgi_worker:
  description: Graylog2 uWSGI Workers Process

graylog2_uwsgi_ping:
  description: Graylog2 uWSGI Ping
