{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream graylog2 {
    server 127.0.0.1:9000;
}

upstream rest_api {
    server {{ salt['pillar.get']('graylog2:rest_listen_uri', 'http://127.0.0.1:12900') | replace('http:', '') | replace('/', '') }};
}
{%- endblock %}

{%- block root_location %}
    location /api {
        rewrite /api/(.*) /$1  break;
        proxy_pass http://rest_api;
    }

    location / {
        gzip off;
        proxy_pass http://graylog2;
    }
{%- endblock %}
