{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
# ubuntu upstart script for graylog2-web
{% set heap_size = salt['pillar.get']('graylog2:web:heap_size', False) %}
start on (filesystem and net-device-up IFACE=eth0)
stop on runlevel [!2345]

nice 10
respawn

env JAVA_OPTS='{% if heap_size %}-Xms{{ heap_size }} -Xmx{{ heap_size }}{% endif %}'

pre-start script
    install -o {{ user }} -g  {{ user }} -m 750 -d /var/run/graylog2-web
end script

script
  exec sudo -E -H -u {{ user }} -g syslog {{ web_root_dir }}/bin/graylog2-web-interface -Dhttp.port=9000 -Dhttp.address=127.0.0.1 -Dpidfile.path=/var/run/graylog2-web/graylog2-web.pid
end script
