{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- set heap_size = salt['pillar.get']('graylog2:web:heap_size', False) %}
start on (net-device-up
          and local-filesystems
          and runlevel [2345]
          and started rsyslog
          and started mongodb)
stop on runlevel [!2345]

nice 10
respawn

env JAVA_OPTS='{% if heap_size %}-Xms{{ heap_size }} -Xmx{{ heap_size }}{% endif %}'

pre-start script
    install -o {{ user }} -g  {{ user }} -m 750 -d /var/run/graylog2-web
end script

script
  exec sudo -E -H -u {{ user }} -g syslog {{ web_root_dir }}/bin/graylog2-web-interface -Dhttp.port=9000 -Dhttp.address=127.0.0.1 -Dpidfile.path=/var/run/graylog2-web/graylog2-web.pid
end script
