{#-
Copyright (c) 2013, <BRUNO CLERMONT>
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met: 

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer. 
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution. 

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Author: Bruno Clermont patate@fastmail.cn
Maintainer: Bruno Clermont patate@fastmail.cn
 -#}
# {{ pillar['message_do_not_modify'] }}
{% set web = pillar['graylog2'] %}
[uwsgi]
master = true
post-buffering = 4096
{#-
 URL and headers can sometime be very large in Graylog2 web.
 Especially automatically-generated URL queries in message details.
 The following prevent errors such as:
  invalid request block size: 7776 (max 4096)...skip
 #}
buffer-size = 32768
env = RAILS_ENV=production
processes = {{ web['workers'] }}
harakiri = {{ web['timeout']|default(60) }}
harakiri-verbose = true
{% if web['cheaper']|default(False) %}
{% if web['cheaper'] > 0 %}
cheaper = {{ web['cheaper'] }}
{% else %}
cheap = true
{% endif %}
{% if web['workers'] == 1 and web['cheaper'] == 0 %}
idle = {{ web['idle']|default(300) }}
{% endif %}
{% endif -%}
{%- if grains['virtual'] == 'kvm' and salt['file.file_exists']('/sys/kernel/mm/ksm/run') %}
ksm = 20
{% endif -%}
lazy-apps = true
uid = www-data
gid = www-data
procname = graylog2-worker
procname-master = graylog2-master
socket = /var/lib/uwsgi/graylog2.sock
stats = /var/lib/uwsgi/graylog2-stats.sock
chdir = /usr/local/graylog2-web-interface-{{ version }}
rack = /usr/local/graylog2-web-interface-{{ version }}/config.ru
threaded-logger = true
no-orphans = true
{% if 'graylog2_address' in pillar %}
logger = graylog2:{{ pillar['graylog2_address'] }}:12201,{{ grains['id'] }}
{% else %}
log-syslog = uwsgi-graylog2
{% endif %}
{% if 'graphite_address' in pillar %}
carbon-id = graylog2
carbon = {{ pillar['graphite_address'] }}:2003
{% endif %}
