shinken_scheduler_procs:
  description: Shinken Scheduler Deamon

shinken_scheduler_port:
  description: Shinken Scheduler Local Port

shinken-scheduler-remote-port:
  description: Shinken Scheduler Remote Port
  check: check_tcp!7768
