{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
# {{ salt['pillar.get']('message_do_not_modify') }}
{%- for host in salt['pillar.get']('denyhosts:whitelist', []) %}
{{ host }}
{%- endfor %}
{#- The following is specific NRPE integration. -#}
{%- for host in salt['pillar.get']('shinken_pollers', []) %}
{{ host }}
{%- endfor %}
127.0.0.1
