{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{%- for host in salt['pillar.get']('denyhosts:whitelist', []) %}
{{ host }}
{%- endfor %}
{#- The following is specific NRPE integration. -#}
{%- for host in salt['pillar.get']('shinken_pollers', []) %}
{{ host }}
{%- endfor %}
127.0.0.1
