{#-
Use of this source code is governed by a BSD license that can be found
in the doc/license.rst file.

-#}
xinetd_daemon_proc:
  description: xinetd Daemon Process
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -a '/usr/sbin/xinetd' -u root"
