{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

xinetd_daemon_proc:
  description: xinetd Daemon Process
  command: "/usr/lib/nagios/plugins/check_procs -c 1:1 -a '/usr/sbin/xinetd' -u root"
