# {{ pillar['message_do_not_modify'] }}

upstream shinken-backend {
    ip_hash;
{% for host in architecture['broker'] -%}
    server {{ ip_addresses[host] }}:7767;
{% endfor -%}
}

server {
    listen 80;
{% if pillar['shinken']['ssl']|default(False) %}
    listen 443 ssl;
    ssl_certificate /etc/ssl/{{ pillar['shinken']['ssl'] }}/chained_ca.crt;
    ssl_certificate_key /etc/ssl/{{ pillar['shinken']['ssl'] }}/server.pem;
    ssl_client_certificate /etc/ssl/{{ pillar['shinken']['ssl'] }}/ca.crt;
    ssl_ciphers RC4:HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
{% endif %}

    server_name {% for hostname in web['hostnames'] %}{{ hostname }}{% if not loop.last %} {% endif %}{% endfor %};
    location / {
        proxy_pass http://shinken-backend;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
